[2021-11-01 16:18] #4484 closed

[2021-11-01 16:52] ajpowelsnl commented on #4474
Morning @masterleinad and @ndellingwood - Can we close this issue, since PR #4478 would appear to resolve the problem?

[2021-11-01 17:00] hamidrezanorouzi commented on #4487
I have tried to overload the operator operator - for Kokkos::pair. However, I guess the return value should be int (unsigned int) and I had no idea how I correctly convert two integers (maybe by using a hasher) to one integer.
The other requirements for a custom sort are not documented (like specializing Kokkos::reduction_identity), and I didn't know that I also need those.
Now suppose that I am u

[2021-11-01 20:16] ndellingwood commented on #4424
@fnrizzi #4480 resolved the final failure, thanks for the fix, closing the issue

[2021-11-01 20:16] #4424 closed

[2021-11-01 20:17] #4474 closed

[2021-11-02 12:13] kuberry opened #4492 "Does Kokkos_HostThreadTeam.hpp functions `parallel_for` and `single` really need KOKKOS_INLINE_FUNCTION"
When using hierarchical parallelism on the host execution space, a large number of warnings such as the following are generated:

[code]

On line 854 of `Kokkos_HostThreadTeam.hpp`, there is a `KOKKOS_INLINE_FUNCTION` for a function that is to be called only on the host (making the `__device__` decoration that it is doing useless, generating extra device code, and generating unhelpful warnings). I

[2021-11-02 15:55] ajpowelsnl commented on #4492
Morning @kuberry -- Good questions, and many thanks for helping us tidy up our code.  We'll have a look at this issue.

[2021-11-02 16:13] #4485 closed, assigned to nobody

[2021-11-02 17:10] aprokop commented on #4334
Observed internal compiler error last week on Perlmutter with gcc/10.3.0 and cuda/11.3.0 when trying to compile ArborX. Can't recall the exact message right now.

[2021-11-02 19:38] PhilMiller commented on #4471
Per @rppawlo "The intrepid fixes also fixed the panzer issues." Closing

[2021-11-02 19:38] #4471 closed

[2021-11-02 19:58] #4294 closed

[2021-11-02 19:58] #4289 closed

[2021-11-02 19:59] #4238 closed

[2021-11-02 20:01] #4174 closed

[2021-11-02 20:02] #4237 closed

[2021-11-02 23:57] PhilMiller commented on #4487
Notes from EMPIRE's code -
Good news: there's a CUDA compatible implementation of quicksort that's been in production use
Bad news: it's meant for sorting modest numbers of objects already binned by an integer key, so it runs sequentially, with outer parallelism over the bin (one thread per)

[2021-11-03 03:46] ndellingwood commented on #4423
The build completed and the algorithms tests passed, thanks for the fix!

[2021-11-03 03:46] #4423 closed

[2021-11-03 03:47] ndellingwood commented on #4475
I tried this build manually without ninja and was able to get a complete build. Build time nearly quadrupled, but assuming a the nightly build successfully completes this will not need to be addressed further

[2021-11-03 12:51] fnrizzi commented on #4074
i think we can close this since we have extensively discussed it and is in develop

[2021-11-03 12:51] #4074 closed

[2021-11-03 14:46] jfike opened #4497 "using namespace KokkosBatched.hpp causes build errors in application codes"
We are currently seeing build errors with the latest version of kokkos in Trilinos.  Specifically, `error: reference to 'Vector' is ambiguous` due to KokkosBatched::Vector.  I've also heard of at least one other application code with similar build errors.

I found three spots in kokkos-kernels with `using namespace KokkosBatched.hpp`.  Specifically, KokkosBlas3_trsm_impl, KokkosBlas3_trmm_impl, an

[2021-11-03 14:56] masterleinad commented on #4497
This sounds like a problem that should be fixed in `KokkosKernels` not in `Kokkos`. Would you mind migrating the issue over to https://github.com/kokkos/kokkos-kernels/issues?

[2021-11-03 15:00] masterleinad commented on #4492
Would you have a small reproducer for the warnings you are seeing? I tried compiling with `--Werror cross-execution-space-call" but didn't get any build failures. I am not saying the issue is not there but it would be easier to track it down with a reproducer.

[2021-11-03 15:02] jfike commented on #4497
Done. https://github.com/kokkos/kokkos-kernels/issues/1170

[2021-11-03 15:02] #4497 closed

[2021-11-03 16:20] brian-kelley opened #4498 "Basic parallel version of std::iota"
Feature request: would be nice for Kokkos_StdAlgorithms.hpp to support a basic version of ``std::iota``, which fills an iterator range with k, k+1, k+1, ... k+n-1. Even though the real ``std::iota`` is defined in terms of ``operator++()`` and is not generally parallelizable, it would be fine for this version to only support integers (so doing ``x++`` n times is equivalent to ``x += n``).

We use t

[2021-11-03 17:01] mhoemmen commented on #4498
Would you instead consider providing a counting iterator or something like `std::ranges::iota_view`?  That would make the `iota` algorithm superfluous; users could just `for_each` or `transform` with an `iota_view` and an output range.

[2021-11-03 17:38] fnrizzi commented on #4498
@brian-kelley one reason we have not yet added iota (see #4084) is exactly your point of not being parallelizable.
We do have transform implemented so @mhoemmen 's idea can be done I think. But not sure how much it would save you from what you already have.
However, the `std::iota` does not have an overload accepting a policy, so maybe we could do something similar.
I guess we have to discuss this

[2021-11-03 18:24] e10harvey commented on #4475
@ndellingwood: You may try using https://cmake.org/cmake/help/latest/variable/CMAKE_JOB_POOL_LINK.html if you're still looking to get this build working via ninja.

[2021-11-03 18:37] crtrott commented on #4498
One idea would be a `deep_copy` from range i.e. `deep_copy(v,pair{begin,end})`

[2021-11-03 18:40] PhilMiller commented on #4498
Adding another overload of `deep_copy` would be painful, and maybe hides the desired meaning

[2021-11-03 18:43] PhilMiller commented on #4498
I would support adopting some refinement of the `SequentialFillFunctor` shown in the initial post as a tiny utility inside Kokkos.

[2021-11-03 18:50] crtrott commented on #4492
Note that removing this would cause warnings when using proper Kokkos semantics of using "KOKKOS_LAMBDA" for the outer lambda. Using that KOKKOS_LAMBDA I think will also remove the warning from Kokkos internal stuff, obviously it will break your usage of std::vector in here.

So all in all this is slightly outside of legal Kokkos usage, which we don't promise to be warning free in.

[2021-11-03 21:48] lucbv opened #4500 "OpenMP Target: execute_init_join in reduction"
@dalg24 @rgayatri23
Another issue with the OpenMP Target discovered while building Kokkos Kernels, here is the compiler error:

[code]

currently to work around this build issue I replace the implementation of `execute_init_join` in kokkos/core/src/OpenMPTarget/Kokkos_OpenMPTarget_Parallel.hpp (line 254 and 1003) with:

[code]
but I'm sure that will make my kernel fail to run...

[2021-11-03 21:56] mhoemmen commented on #4498
There is actually a `std::ranges::iota` proposal, [P2440](wg21.link/p2440), currently under electronic polling.

Why not spell it `transform`?

[2021-11-03 22:53] rgayatri23 commented on #4500
Oh I see the issue. This is not supposed to work because the `execute_init_join` for `TeamPolicy` is a copy of the same routine from `RangePolicy` which means its missing a few variable names that are accessible in `RangePolicy`. I understand the issue. I will fix it.

[2021-11-03 23:55] kyungjoo-kim opened #4501 "stable (more permanent) access that allows access to host serial member"
In my use cases, I have multiple functor-level functions taking the member argument. For serial and host execution case, it can also be used without kernel launch. To support this use case, I used to use the following syntax.
[code]

This interface is changed recently, and I do the following
[code]

My request is to provide this serial team member interface as a non-impl interface (stable interfac

[2021-11-04 12:55] kuberry commented on #4492
Using KOKKOS_LAMBDA would break my usage of std::vector here, but that was just an example of calling some host code. If we change to:

[code]

I now get
[code]

[2021-11-04 16:37] ajpowelsnl commented on #4500
Thanks, @lucbv and @rgayatri23.  Rahul, may I assign this issue to you?

[2021-11-04 16:41] ajpowelsnl commented on #4501
Morning @kyungjoo-kim - Many thanks for bringing the issue up.  I don't actually know the extent to which interfaces and implementation are de-coupled in Kokkos, but we'll figure out a way to address your issue.

[2021-11-04 19:31] rgayatri23 commented on #4500
Yes @ajpowelsnl . I have assigned it to myself.

[2021-11-04 21:19] ndellingwood commented on #4206
* 11/03/2021

`openmp.task_fib_single` test failure on Power9 with gcc/7.2.0

[code]

[2021-11-04 21:45] ndellingwood commented on #4375
Brief update, the xl compiler Weaver was updated to xl/16.1.1 with fix pack 10, but the nightly failure still persists

[2021-11-08 17:47] srikrrish opened #4507 "Mathematical constants and functions in Kokkos"
Hi all,

What is the best way to use mathematical constants such as pi in a portable way alongside kokkos? Does Kokkos provide an interface for it and is it guaranteed to have in all future releases too? I am afraid to use things like M_PI from cmath because of portability. Similarly, for mathematical functions such as sin, cos, erf etc. currently I use std::cos, std::sin, std::erf from cmath (ins

[2021-11-08 18:05] dalg24 commented on #4507
Regarding the math constants, Kokkos does not currently provide anything but we would consider backporting the new C++20 facility https://eel.is/c++draft/numbers so you can write use something like `Kokkos::pi<FloatingPointType>::value`.
As far as the math functions are concerned, you can use `Kokkos::Experimental::{cos,sin,erf}`.  We added them in v3.4

[2021-11-08 18:23] srikrrish commented on #4507
Sounds good. Thanks for the info.

[2021-11-08 20:08] ajpowelsnl commented on #4507
Good for beginner -- assign on Wednesday

[2021-11-08 20:12] crtrott commented on #4501
Uhm what are you doing with that thing? I am seriously considering removing it in favor of some other stuff in particular for the serial backend. So what is your use case.

[2021-11-08 20:13] crtrott commented on #4501
Oh and to make that clear: it is absolutely undefined behavior to get this thing EVER outside of a TeamPolicy launched parallel construct even ignoring the fact that its in IMPL.

[2021-11-08 20:16] crtrott commented on #4498
The reason not to spell it transform is because we already have transform and what they want is something which doesn't take a callable, but just does the defined behavior of filling something with a range of numbers.

[2021-11-08 20:20] crtrott commented on #4487
We decided that we need to support stuff like this as part of a larger enhancement of sorting capabilities in Kokkos, that includes new underlying sort algorithms.

[2021-11-08 20:34] crtrott commented on #4363
@Char-Aznable to close this out: yeah you are right, the current design does not allow for safe value_at() and erase() intermixing. Or for that matter find(). But even if find() would be safe with respect to erase(), it doesn't help since by the time you received the return value of find() erase might already have invalidated that thing.

[2021-11-08 20:34] #4363 closed

[2021-11-08 20:37] crtrott commented on #1407
I don't think its possible to do that in a meaningful manner. Enabling full profiling via callbacks or time measurements will increase the overhead of the task scheduler significantly while simultaneously changing its instructon/miss cache behavior significantly and thus not give you meaningful information. Sampling tools are likely the best bet.

[2021-11-08 20:37] #1407 closed

[2021-11-08 20:44] ajpowelsnl commented on #1417
Hello @ibaned and @jjellio -- we believe that you can do this with an in-place subview assignment.  This approach would keep the original allocation, and is explicit about it.

[2021-11-08 20:44] #1417 closed

[2021-11-08 20:47] ajpowelsnl commented on #1515
Assumed this issue is fixed in compiler

[2021-11-08 20:47] #1515 closed

[2021-11-08 20:48] #1394 closed

[2021-11-08 20:48] ajpowelsnl commented on #1394
We are not supporting installing Kokkos via Makefiles anymore.

[2021-11-08 20:53] Char-Aznable commented on #4363
I believe I have seen hash map algorithms that support async insert, erase and find so I think theoretically there might be a way to fix all of this. Would there be interest for a PR?

At least this should be documented.

[2021-11-08 20:54] ajpowelsnl commented on #1547
Nov. 5, 2021 -- NVIDIA documented (https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#extended-lambda-restrictions) that you cannot use Lambda in an anonymous namespace with Cuda.

[2021-11-08 20:54] #1547 closed

[2021-11-08 21:02] ajpowelsnl commented on #1561
@ajpowelsnl, @crtrott , @dalg24  -- Add to Release 3.7, and assign to someone new in Wed. meeting

[2021-11-08 21:08] PhilMiller commented on #4077
This was predated by #1554!

[2021-11-08 21:52] kyungjoo-kim commented on #4501
I have a code something like
[code]

Without having the serial member interface (in my use case, I always enable serial backend), I have to write two same codes with and without kokkos nested parallel for. This so far works fine and if possible I would like to get a more consistent interface exposure. With serial member has unit team/vector size, I don't think that it has undefined behaviors.

[2021-11-08 23:17] ndellingwood commented on #4475
For now dropping Blocks Promotion and marking as Wont Fix, may need to revisit if we run into problems with Trilinos' PR autotester during the next release

[2021-11-09 16:16] vbrunini opened #4510 "Multiple reductions for team-level loops"
I'd like to be able to use multiple reductions for parallel_reduce calls on TeamThreadRange/TeamVectorRange/ThreadVectorRange levels.

[2021-11-09 16:47] ajpowelsnl commented on #4492
Morning @crtrott and @ajpowelsnl  -- Please comment on this issue when you have a moment this week.

[2021-11-09 17:14] ajpowelsnl commented on #4510
Morning @vbrunini -- Many thanks for the suggestion.  I'll bring it to the team to discuss in our Wed. meeting.

[2021-11-09 17:20] kuberry commented on #4492
`KOKKOS_LAMBDA` decorates with `__device__`, but when the team policy indicates the `parallel_for/reduce` is on the host, it is unclear why `__device__` would be appropriate or desired.

Since `[=]` or `[&]` seems like it would be appropriate (why would I want a `__device__` decorator on host code?), the warnings about calling host+device code from a host function seem incorrect. Why would the int

[2021-11-09 19:25] scottbiersdorff commented on #2435
Here is an example error message using cmake version 3.21.2, on a Linux ARM 64 system (AMPERE Altra) running Ubuntu 20.04:

cmake -DCMAKE_CXX_COMPILER=nvc++ -DCMAKE_CXX_FLAGS="-mp=gpu -fast " -DCMAKE_VERBOSE_MAKEFILE=ON -DKokkos_ENABLE_COMPILER_WARNINGS=ON -DKokkos_ENABLE_TESTS=ON -DKokkos_ENABLE_OPENMPTARGET=ON -DCMAKE_INSTALL_PREFIX=/home/qa -DCMAKE_CXX_STANDARD=17 -DLIBDL_INCLUDE_DIRS=/usr/incl

[2021-11-09 20:49] brian-kelley opened #4512 "Check Kokkos::InitArguments::num_threads == 0 (with OpenMP enabled)"
If you build with OpenMP, and do
[code]
then Kokkos::initialize will silently accept the 0 thread number. OpenMP itself appears to clamp it to 1, but Kokkos allocates internal structures for scan based on 0, so ``parallel_scan`` will crash.

The above prints this 20 times:
[code]

This isn't really a bug with Kokkos as num_threads obviously shouldn't be 0, but it would be nice for ``initialize()``

[2021-11-09 21:11] brian-kelley commented on #4512
Maybe this is a real bug after all - I looked into ``OpenMP::impl_initialize`` and it seems that num_threads == 0 is supposed to be handled gracefully:
[code]

And here's a complete reproducer for scan crashing:
[code]
If you just leave num_threads to the default (-1), the scan succeeds.

[2021-11-09 22:41] ndellingwood opened #4513 "Nightly build error with intel/17.0.1: ToolTestingUtilities.hpp(270): internal error: assertion failed at: "shared/cfe/edgcpfe/lower_init.c", line 14441"
Following merge of #4331 intel/17.0.1 nightly builds (all backends) began failing with error message:

[code]

**Reproducer** (kokkos-dev-2, serial build):
[code]

[2021-11-09 22:51] #4475 closed

[2021-11-09 22:55] DavidPoliakoff commented on #4513
The thought that this is likely the last time in my life I'm going to have to read "Intel 17" is taking me to a whole new plane of joy

[2021-11-10 00:06] Char-Aznable opened #4514 "Feature request: allow list initialization of view"
Currently, it takes a lot of boilerplate to create even simple 1-d view. It would be very convenient for the user to be able to do something like: `View v("v", {1,83, 12, 6, 5});` or even just `View v({1,83, 12, 6, 5});` Free function like `auto v = makeView({1,83, 12, 6, 5});` would do too

[2021-11-10 02:21] dalg24 commented on #4514
Although I agree it can be handy and I have written such code many times (never in production code but more as a unit testing facility), I don't think that this is a pattern we would want to encourage people to use.
In any case, adding a new `View` constructor is a no-go, a free function would have more chance to land.

Here is an example of code that does about what you are asking for
https://git

[2021-11-10 03:08] ndellingwood commented on #4206
* 11/09/2021

`openmp.task_fib_single` test failure on Power9 with gcc/7.2.0

[2021-11-10 03:27] Char-Aznable commented on #4514
Why? Most of the popular numeric libraries in the world have something like that.

Free function would do the job too. Since many people are doing their own version of this, why not make a standard version of it?

[2021-11-10 09:37] fnrizzi opened #4516 "warning in SYCL CI"
I notice that here: https://cloud.cees.ornl.gov/jenkins-ci/blue/rest/organizations/jenkins/pipelines/Kokkos/runs/7101/nodes/41/steps/167/log/?start=0

we get:
[code]

[2021-11-10 14:05] masterleinad commented on #4516
A compiler bug includes `impl/Kokkos_Timer.hpp` instead of `Kokkos_Timer.hpp` for `#include<Kokkos_Timer.hpp>` (which prevents us from compiling with deprecated code enabled). There is nothing we can do about it AFAIK. This will be fixed when we update the compiler.

[2021-11-10 14:17] fnrizzi commented on #4516
ok, thanks! I opened it just in case, feel free to close this if you want

[2021-11-10 14:18] #4516 closed

[2021-11-10 18:44] lifflander opened #4517 "Slow deallocation of DynamicView"
The de-allocation of DynamicView has slowed down significantly due to the recent refactor (https://github.com/kokkos/kokkos/pull/4129).

It seems the issue might be that the deallocation is no longer performed in a parallel_for.

[2021-11-10 18:52] fnrizzi commented on #4498
Should we provide something like `Kokkos::Experimental::fill_with_range`?
I can take this on and add it to the algorithms. Or whatever variant we decide.

[2021-11-10 18:52] DavidPoliakoff commented on #4517
Could you link the refactoring in question, and give perf numbers?

[2021-11-10 19:55] crtrott commented on #4498
Four options:

1. Address this (F, N, A)
// Dont address it
//SF F N A SA
//0 3 7 4 1
F N A
9 5 2

2. `Kokkos::iota` with strong constraint on type (i.e. only view of integer, floating point)
SF F N A SA
1 10 7 2 1
A: don't name it iota since it doesn't do what iota does

3. `Kokkos::deep_copy(v, pair{begin,end}`
SF F N A SA
0 0 2 ...
No one wants this

4. `Kokkos::fill_with_range(v, pair{begin,en

[2021-11-10 20:55] brian-kelley commented on #4498
Thanks for discussing and voting on this. If you were to do option 2 but want to name it something different, what about "linspace"? That's what it's called in matlab and numpy, so it would probably be familiar to as many people as "iota". But it frees you from explaining that it's not a full standard-compliant std::iota.

[2021-11-10 21:20] crtrott commented on #4498
That last vote indicated a pretty solid preference for not naming it iota as you said Brian.

[2021-11-10 23:45] rgayatri23 commented on #4500
Addressing this issue in #4521 @lucbv can you check the updates.

[2021-11-11 09:59] fnrizzi commented on #4498
Here is my suggestion.

[code]
- I think that (3) is somewhat redundant because the values between begin and end should fit in the view.
But we could use this as a way to check.

- (2) is there to provide a way to take a non-unitary step

- I chose  `consecutively` because 1,2,3,4,5 are consecutive, but also 1,5,9,13 are consecutive.

[2021-11-11 10:31] fnrizzi commented on #4425
merge is done, so closing this

[2021-11-11 10:31] #4425 closed

[2021-11-11 19:05] masterleinad commented on #3702
Fixed by #3703.

[2021-11-11 19:05] #3702 closed

[2021-11-11 19:19] masterleinad commented on #4177
Not enough info to be meaningful.

[2021-11-11 19:19] #4177 closed

[2021-11-11 19:23] ajpowelsnl commented on #4517
Hi @lifflander -- many thanks for looking at this!

[2021-11-11 20:09] ajpowelsnl commented on #4482
Hi @aprokop - did you get the support you need to resolve this issue?  If so, may we close it?  If not, how can we help further?

[2021-11-11 20:16] ajpowelsnl commented on #4372
Hi @e10harvey - Has @crtrott been able to speak with you yet about how he would like to see this implemented?  If not, please book time with him to discuss, and let's get this party started!

[2021-11-11 20:40] crtrott commented on #4517
See my post in the PR: this seems to be unlikely to be the culprit. Did you actually test that your proposed fix makes this thing run fast? And 150x? How is that supposed to be coming from parallel dealloc vs serial? How many threads are you running.

[2021-11-11 20:47] aprokop commented on #4482
@ajpowelsnl I'm fine closing it if the developers believe this is a false positive.

[2021-11-11 22:00] kddevin opened #4526 "Kokkos::sort with UVM now requires a fence before it"
Before Kokkos' last upgrade in Trilinos, a call to Kokkos::sort with a UVM view after a device kernel did not require a fence.
After the upgrade https://github.com/trilinos/Trilinos/pull/9836,  the same code needs a fence before Kokkos::sort.

The new version of Kokkos has a different rule in try_std_sort for determining whether sorting can be done on the host.  That rule is likely making a differ

[2021-11-11 22:18] masterleinad commented on #4526
Fixed in https://github.com/kokkos/kokkos/pull/4490.

[2021-11-11 22:28] dalg24 commented on #4526
https://github.com/kokkos/kokkos/blob/d94cc8da9af13b32e318624fb41dc1ec60129aec/algorithms/src/Kokkos_Sort.hpp#L536

[2021-11-11 23:03] kddevin commented on #4526
Can the fix be patched into Trilinos?

[2021-11-12 14:13] #4210 closed

[2021-11-12 21:46] ndellingwood opened #4527 "Nightly Hip builds unit tests seg fault"
Nightly builds with the Hip backend have all unit tests seg faulting. Bisecting commits show this began after #4365

**Reproducer** (MI100):
[code]

[2021-11-13 20:18] hamidrezanorouzi opened #4530 "Abstraction layer for load balancing"
Hi,
I don't know if the matter that I am going to explain here is one of the goals in Kokkos or it is a completely un-relevant feature. Here I explain all I have in my mind for a while that I still have not found a nice solution for it.
When we develop an application in the shared-memory fashion, we are limited to the resource of a single machine/device. This constraint, however, bring some featur

[2021-11-15 20:35] crtrott commented on #4530
Generally most of our apps to MPI and they usually burry MPI in their own communication layer. We also have a project which incorporates PGAS semantics (kokkos-remote-space) into Views.

Then there are load balancing libraries inside of Trilinos which know how to interact with Kokkos too.

Kokkos Core is not intended to deal with multi processor issues and does not currently support multiple GPUs.

[2021-11-15 20:36] crtrott commented on #4527
@Rombur @masterleinad Any ideas?

[2021-11-15 20:37] crtrott commented on #4527
Can you two check if you can reproduce?

[2021-11-15 20:37] crtrott commented on #4526
Yeah since we didn't release yet we are trying to snapshot it in now. #4528

[2021-11-15 20:39] crtrott commented on #4514
Yeah I think a three function is possible. Should get easier with mdspan in there then too.

[2021-11-15 20:40] crtrott commented on #4513
Disable whatever tools testing is trickering this on Intel 17. We will drop 17 after Kokkos 3.6 anyway.

[2021-11-15 20:48] crtrott commented on #4501
Sorry this is clearly breaking through the abstraction and now how anyone should write code. I do have plans to make this all work better with C++17 where you will have a much more generic interface and combined with stuff like std::conditional can do what you are trying to do in a proper way. But we are not there yet. Note that Serial semantically doesn't guarantee to execute in the calling threa

[2021-11-15 20:52] crtrott commented on #4492
It might be possible to fix this (Note right now the nested parallel_for function itself is host/device annotated since the same function will be called from KOKKOS_LAMBDA). That said we will provide soonish a macro based interface to protect raw device host code inside Kokkos funcitons. That is gonna be how we recommend doing this.

[2021-11-15 23:35] ajpowelsnl commented on #4375
- FAILING JENKINS JOB:

https://github.com/kokkos/internal-documents/blob/master/monday_meetings/monday_meetings_Nov_15_2021.md

- ERRORS / FAILURES:

23:11:27  1/52 Test  #1: KokkosCore_UnitTest_Serial1 ..................***Failed  Error regular expression found in output. Regex=[  FAILED  ] 15.14 sec

23:11:27 Loop<N6Kokkos7complexIfEE>( test = MulAtomicTest FAILED : (10,0) != (-2.16475e-28,1.68

[2021-11-16 01:54] masterleinad commented on #4527
I can't reproduce on `spock`.

[2021-11-16 02:56] euphoricpoptarts opened #4531 "Kernels using TeamPolicy with certain dimensions won't execute"
There seems to be an issue when using a TeamPolicy with a league size X and team size Y whenever X*Y mod 2^32 > 2^31. This occurs even when the IndexType used by the policy is an int64_t or uint64_t. See the below code which replicates the issue:
[code]

[2021-11-16 03:00] euphoricpoptarts commented on #4531
I should clarify this only replicates the issue when the DefaultExecutionSpace is Cuda

[2021-11-16 16:57] masterleinad commented on #4531
#4532 should fix this issue.

[2021-11-16 17:41] #4482 closed

[2021-11-16 17:51] masterleinad commented on #4531
It needs reviews.

[2021-11-16 18:04] ajpowelsnl commented on #4514
@dalg24 and @crtrott -- I will add to our list of items to discuss for the Wed. , Nov. 17th meeting.

[2021-11-16 18:05] ajpowelsnl commented on #4514
Free function?

[2021-11-16 19:22] euphoricpoptarts commented on #4531
@masterleinad The PR #4532 fixes this particular case, but if instead I use `Kokkos::IndexType<int32_t>` I still get incorrect results. It would be nice if I didn't have to use `Kokkos::IndexType<int64_t>` or `Kokkos::IndexType<uint64_t>` since the league size I'm using still fits within an `int32_t`. Maybe the below line in the PR:
[code]
Could be something like:
[code]

[2021-11-16 20:32] masterleinad commented on #4531
@euphoricpoptarts We actually don't need to multiply `league_size` and `team_size` at all. Please have a look at the latest commit in #4352.

[2021-11-16 20:56] euphoricpoptarts commented on #4531
@masterleinad That's perfect! Thanks for looking into this!

[2021-11-17 11:51] Fyz01 opened #4534 "A small question"
Hello，I have read some information about Kokkos. I have a question that Kokkos supports for heterogeneous computing? If it can, where it is reflected?

[2021-11-17 13:57] masterleinad commented on #4534
Kokkos runs on a variety of platforms and multiple backends can be used within the same program but one kernel cannot be split across multiple devices. You can find a good overview of Kokkos at https://kokkos.link/the-lectures. For specific reaching out on Slack (https://kokkosteam.slack.com) works best.

[2021-11-17 13:57] #4534 closed

[2021-11-17 15:05] Rombur commented on #4527
I can't reproduce either on `tulip`

[2021-11-17 20:37] euphoricpoptarts commented on #4531
@masterleinad One more thing on this issue. If the Execution Space is `Kokkos::OpenMP`, then the kernel won't execute for a league size X and team size Y if X*Y mod 2^32 = 0. For example:
[code]
`result` here will be 0.

[2021-11-17 23:43] euphoricpoptarts commented on #4531
@masterleinad Just tried out the commit, it looks like it fixed the issue.

[2021-11-18 10:14] hamidrezanorouzi commented on #4530
Thanks for the reply. I will give them a try to see how I can implement these tools alongside Kokkos.

[2021-11-18 18:07] lucbv commented on #4500
Closing this issue since PR #4512 has been merged.

[2021-11-18 18:07] #4500 closed

[2021-11-19 15:02] #4517 closed

[2021-11-21 17:21] markdewing opened #4546 "Compilation slowdown with HIP backend"
Compiling for the HIP backend went from a few minutes to 90 minutes.

Using git bisect shows commit fcccfd20be38eb6b7f96ff72a125edb92c7b593d is responsible.

Breaking into the compiler with gdb shows `AMDGPUPropagateAttributesLatePass` is where the time is being spent.   It happens with Rocm 4.5 and 4.3.

The project is here: https://github.com/cms-patatrack/pixeltrack-standalone
The files/functio

[2021-11-22 14:55] JieyangChen7 opened #4547 "Internal Error with ROCm"
I used to be able to successfully build VTK-m+Kokkos+ROCm. However, after I update Kokkos from c28a8b03288b185f846ddfb1b7c08213e12e2634 to a1d045da4cc299217e2831f71dedff72e4f2aecf, the LLVM compiler gives the following internal error when building.  VTK-m (latest) and ROCm (4.3.0) were not changed, only Kokkos is updated.

[code]

[2021-11-22 15:06] ajpowelsnl commented on #4546
Good morning @crtrott and @dalg24 - do we have a point of contact for HIP compiler issues?

[2021-11-22 15:22] dalg24 commented on #4546
@Rombur and @arghdos

[2021-11-22 18:22] ndellingwood commented on #4547
I think current Kokkos requires minimum rocm/4.3.0, https://github.com/kokkos/kokkos#minimum-compiler-versions

[2021-11-22 18:26] arghdos commented on #4547
I think @JieyangChen7 meant "4.5.0", as the backtrace above:

[code]

is reporting 4.3.0

[2021-11-22 19:49] JieyangChen7 commented on #4547
@arghdos @ndellingwood Sorry, I typed the wrong version number. I was using ROCm 4.3.0 on Spock@OLCF.

[2021-11-22 20:14] #4530 closed

[2021-11-22 20:17] ajpowelsnl commented on #4527
Hi @Rombur , @masterleinad -- Would you please confirm that you have enabled the large memory tests:

`-DKokkos_ENABLE_LARGE_MEM_TESTS=ON `

[2021-11-22 20:22] crtrott commented on #4547
@JieyangChen7 @arghdos @Rombur @masterleinad can we figure out if there is a smaller reproducer for this?

[2021-11-22 20:24] Rombur commented on #4527
Yes, I configured exactly the same way. I copy/paste it

[2021-11-22 20:56] masterleinad commented on #4527
Me, too.

[2021-11-23 15:41] ajpowelsnl commented on #4512
Morning @brian-kelley and @masterleinad -- Are we able to close this issue now that the fix has been merged?

[2021-11-23 15:47] ajpowelsnl commented on #4531
Morning @euphoricpoptarts and @masterleinad  -- Are we all set with this fix?  If so, may I close the issue?

[2021-11-23 15:49] masterleinad commented on #4512
I added the `InDevelop` label.

[2021-11-23 15:54] masterleinad commented on #4531
No, #4532 is not merged yet.

[2021-11-24 13:21] Spudz76 commented on #4334
CUDA Toolkit 11.4.0 clearly states gcc-9 is maximum supported.

CUDA Toolkit 11.4.1 supports up to gcc-11.  Therefore the inability to reproduce on 11.4.1 while the original post was on 11.4.0 (which does not support gcc-10 or gcc-11 yet).

[2021-11-24 17:56] vbrunini commented on #3385
Did this make it into 3.5? Guessing not?

[2021-11-24 18:00] masterleinad commented on #3385
No.

[2021-11-24 19:21] crtrott commented on #4514
What one could write:
[code]

Or if you just want a temporary thing inside a kernel:
[code]
Just leave the vals thing around.

Vote of the team: "We should add a free function to construct a possibly device side view from an initializer list"
SF F N A SA
0 0 4 6 2

So there is a pretty strong consensus for not doing it. Mainly because the team doesn't feel that folks should write this in productio

[2021-11-24 19:34] crtrott commented on #4546
So the thing is that the HIP compiler is bad in its default decisions, and AMD recommended an approach to fix that using LaunchBounds which are compile-time per-kernel properties. But that involved instantiatiating the kernel for multiple LaunchBounds, and thus compiling the kernel multiple times. We overlooked the repercussions here, while we generally used to be pretty conscious about not instan

[2021-11-24 19:36] crtrott commented on #4547
similar problem was related to binary size. A change in the hip backend caused multiple versions of each kernel being compiled could be that.

[2021-11-24 19:37] crtrott commented on #4547
#4546 could be the related issue.

[2021-11-24 19:43] arghdos commented on #4546
I would suggest an additional direction to look into.

I don't think we have much, if any strong evidence that the various kernel launch mechanisms present in the CUDA backend make much of an impact on the HIP side.  Since there are three kernels (one for each launch mechanism), and each has two instantiations, we should also consider _testing_ whether there is any substantial performance impact w

[2021-11-24 20:01] Char-Aznable commented on #4514
Unfortunately, this is not always practical. The resulting view needs ownership of the data.

What's the baseline for "pretty inefficient"? How would you do it (with the ownership requirement)?

[2021-11-24 22:34] Char-Aznable commented on #4514
Also, it's not true that one necessarily needs deep_copy  and fence. The example referred by @dalg24 is not necessarily the only way to do it. There's a way to do it with just one kernel launch

[2021-11-26 04:26] Char-Aznable opened #4555 "UnorderedMap::value_at should be disabled if is_set is true"
In general, the idea of having a foobar value view for set just wrong. A set by definition should not have values associated with the keys.  And this code https://github.com/kokkos/kokkos/blob/ae5fc649ef4b62b48a01123759ed066bff227b43/containers/src/Kokkos_UnorderedMap.hpp#L663-L668 can accidentally return foobar

[2021-11-28 07:39] Char-Aznable commented on #2603
I ran into same issue using something like:
[code]
This seems to defeat the purpose of an API like `create_mirror_view_and_copy`, which by judging by its name should create compatible view for a copy, whether it's memcpy or not

[2021-11-29 00:28] Adrian-Diaz opened #4557 "_GLIBCXX_NUM_CATEGORIES undefined"
Greetings,

Recently I was compiling Trilinos and ran into the following:

![image](https://user-images.githubusercontent.com/46537160/143792594-a75a2a2a-4d91-4606-9b7a-67d826801b7d.png)

Any ideas what could be causing that? Thanks in advance for any help rendered.

Adrian

[2021-11-29 01:51] Char-Aznable opened #4558 "deep_copy from subview fails on cuda"
This code:
[code]
raises `Cuda API error detected: cudaLaunchKernel returned (0x9)` from the deep_copy() inside the for loop and one can see it output corrupted copy judging from the output:
[code]

[2021-11-29 14:14] e10harvey commented on #4372
@crtrott: Inheritance was not used to resolve this issue due to how C++ handles operator overloads in child classes (for example, assignment operators and non-member functions are not inherited from the parent class). Please take a look at #4543 and let me know if you have any feedback.

[2021-11-29 15:15] ajpowelsnl commented on #4531
Morning @masterleinad -- Given the "linked pull request" message above, would it be OK to close this issue now, or mark it "InDevelop?"

[2021-11-29 15:49] masterleinad commented on #4531
No, it's still not merged. If we decide that the pull request doesn't do what we want and we discard it, the issue is still not resolved.

[2021-11-29 16:00] crtrott commented on #4372
Will look in more detail but alias is fine I think ...

[2021-11-29 16:17] dalg24 commented on #4557
The error message suggests there is a configuration issue with the locale facility on your system.

[2021-11-29 17:47] ajpowelsnl commented on #4531
Ahh...OK. Thanks for the guidance -- I had not thought about a PR for a bug being a provisional solution, but that's probably how it should be viewed until it is merged into develop.

[2021-11-29 20:23] ajpowelsnl commented on #4492
Please refer to #3404 .  Leave open until we have an actual solution, and have deprecated the relevant macros.

[2021-11-29 20:25] #4501 closed

[2021-11-29 20:38] ajpowelsnl commented on #4555
Hi - Would you please provide a bit more context to your question.  We don't quite understand the problem.

[2021-11-29 20:43] crtrott commented on #4557
Yeah this is super unlikely to be a Kokkos issue. One possible issue could be mismatch between compiler and used header files. I.e. for some reason you compile with GCC 7 but the header files its using are coming from GCC 9 or so.

[2021-11-29 20:45] crtrott commented on #4546
@arghdos: isn't the launch mechanism thing a purely compile time decision and thus does not add additional compilation time?

[2021-11-29 20:45] crtrott commented on #4546
Oh and just to make clear we are adding this as a high priority issue for us to fix.

[2021-11-29 20:51] #3739 closed

[2021-11-29 20:51] #3865 closed

[2021-11-29 20:51] #3907 closed

[2021-11-29 20:51] #3936 closed

[2021-11-29 20:51] #3990 closed

[2021-11-29 20:51] #4052 closed

[2021-11-29 20:51] #4095 closed

[2021-11-29 20:51] #4099 closed

[2021-11-29 20:51] #4100 closed

[2021-11-29 20:51] #4220 closed

[2021-11-29 20:51] #4251 closed

[2021-11-29 20:51] #4267 closed

[2021-11-29 20:51] #4512 closed

[2021-11-30 00:48] crtrott commented on #4558
We are looking into this: see above PR.

[2021-11-30 02:43] janciesko opened #4561 "View instantiation segfaults when instantiating with wrong number of args"
We do not error out early enough and thus allocate over a wrong size.
Example
[code]
segfaults as:

[code]

The runtime_check_rank_host has to happen earlier.

[2021-11-30 05:18] #4046 closed

[2021-11-30 05:20] ndellingwood opened #4562 "Trilinos nightly build failures: error: more than one instance of overloaded function "Kokkos::Impl::create_mirror" matches the argument list"
The nightly Trilinos serial build with intel/18 began failing with `error: more than one instance of overloaded function "Kokkos::Impl::create_mirror" matches the argument list` message, indicating likely related to #4486

**Error message**:
[code]

A quick glance at the marked `create_mirror_view` line from the compiler at https://github.com/trilinos/Trilinos/blob/37c24f45d070d06702906186e0e8ef90

[2021-11-30 05:46] Char-Aznable commented on #3806
I also ran into similar problem. To me, this seems to show that Kokkos APIs related to deep_copy of view is broken, e.g. create_mirror_view_and_copy, when copying noncontiguous views across memory space. It basically forces all applications to do view contiguity check and work around deep_copy in a backend-dependent way: on host one do a the deep_copy anyway because it's a no op but on CUDA, the u

[2021-11-30 05:56] mhoemmen commented on #3806
I recall talking with the Tpetra developers about this issue a couple years ago.  Everybody loves stashing away DualViews everywhere instead of carefully limiting their data access regions, alas.

[2021-11-30 06:03] Char-Aznable commented on #3806
@mhoemmen I don't think this problem is necessarily pertaining to only DualView but it comes up when you have a subview on the device and have to sync it to the host.

[2021-11-30 08:05] fnrizzi commented on #4498
@crtrott @dalg24 @nliber @brian-kelley any thoughts on my proposal?

[2021-11-30 17:18] masterleinad commented on #4562
Hmm... the `Kokkos` unit test compile without problems for me using `Intel 18`. Would you have a reproducer that doesn't depend on `Trilinos`?

[2021-11-30 17:18] brian-kelley commented on #3806
@Char-Aznable I think it's actually reasonable that you can't deep-copy plain old Views when they're non-contiguous and not mutually accessible. It would hide from the user the fact that potentially hundreds of individual transfers are happening with a lot of overhead. DualView is a little different though, since a subview shares modify flags with its parent. Syncing a sub-DualView could be done b

[2021-11-30 17:27] stanmoore1 commented on #3806
The SPARTA code also uses DualView subviews: https://github.com/sparta/sparta/blob/master/src/KOKKOS/update_kokkos.cpp#L294

[2021-11-30 17:53] Char-Aznable commented on #3806
@brian-kelley I understand the overhead associated with the syncing noncontiguous subview. However, the user should have to option to tolerate that. There are practical need to do such thing like many of us here and a couple other issues already posted. Talking about computational performance without the context or understanding where the bottleneck really is doesn't seems to me to be an argument

[2021-11-30 18:38] brian-kelley commented on #4498
@fnrizzi I like ``fill_incrementally``, it's short but describes what this does. I think "from_value" or "starting_from" is redundant or more confusing if init_value defaults to 0, which i assume it would.

[code]

[2021-11-30 19:07] ajpowelsnl commented on #4561
Morning Jan - Many thanks for submitting this bug.  Would you have time / energy to work on this?  If so, may I assign this issue to you?

[2021-11-30 19:13] janciesko commented on #4561
Yes,,

[2021-11-30 19:14] ajpowelsnl commented on #4561
Thank you!

[2021-11-30 19:24] ndellingwood commented on #4562
No, though the error showed up in all of the Trilinos builds with Panzer enabled (when I reported the issue only the intel/18 job had completed). Probably the simplest reproducer is a serial build (intel or gcc compiler) with Panzer enabled and source override the kokkos package with the kokkos repo. I'll test and post the simplified configuration if it reproduces.

[2021-11-30 21:26] mhoemmen commented on #3806
@Char-Aznable wrote:

I think `deep_copy` and `DualView` are too low level of an interface for the problem that developers need to solve.  The problem that developers actually need to solve (not just think they need to solve) is to access

* a subset of the data;
* with a particular data layout;
* in a particular execution space;
* in a particular well-defined scope (e.g., during a kernel).

`Dual

[2021-11-30 21:28] mhoemmen commented on #3806
Users keep asking DualView to solve all their problems.  "Can DualView allocate lazily?"  "Can DualView change layouts?"  These are the wrong questions.  The right question is "What would an interface that can solve these problems look like?"

[2021-11-30 21:46] mhoemmen commented on #3806
It was pretty funny to see that something I added to Tpetra a while back, that might have been a start for solving these kinds of problems, was deleted.  I was hoping it would get replaced with something better.

[2021-11-30 22:08] Char-Aznable commented on #3806
@mhoemmen I appreciate what you said about "actually solving the problem with the right abstraction". But those are implementation details tangent to practical usage of the API. Layout and contiguity of the data isn't always the priority of consideration when solving actual problem. Content of the data and logic of organizing the code are far more important in most cases. Back to the topic, there

[2021-11-30 22:23] jrmadsen opened #4566 "Kokkos installation when added as a CMake subproject"
So I have a project which builds Kokkos as a CMake subproject but I want to avoid installing the Kokkos headers, CMake config files, and the bin files. How do y'all feel about adding:

[code]

or, for finer grain control:

[code]

Basically, the idea is that when these are all OFF, the only thing that would get installed are the runtime libraries. I just want to check before creating a PR.

[2021-11-30 22:38] dalg24 commented on #4566
What is the issue with doing a standard install and copying after into the destination whatever might be relevant?
Can you refer to other projects that may offer such a granularity?

[2021-11-30 22:47] mhoemmen commented on #3806
I don't disagree.

The original question started: "`Kokkos::subview(dv, range1, range2)` where `dv` is a `DualView` and `range1 x range2` is noncontiguous wrt. `dv`'s strides...."  People taking subviews of a `DualView` is a code smell.  Anyway, have fun y'all : - ) .

[2021-11-30 23:16] janciesko commented on #1392
@stanmoore - Stan, thanks for reporting this. Using the sample below, I was not able to reproduce the error. Would you expect this sample to fail? We might have fixed this in the meantime.

[code]

[2021-12-01 01:56] Adrian-Diaz commented on #4557
Looks like my compiler or libs must've been corrupted at some point. A reinstall fixed it. Thanks for the help!

[2021-12-01 01:56] #4557 closed

[2021-12-01 15:12] arghdos commented on #4546
Ok, you're right @crtrott, sorry -- I thought they all got instantiated, but it looks like it's all `constexpr` resulting in only one launcher type per kernel.

One thing I did notice was that we have roughly 28 different `View[Copy|Value|Fill]` kernels per-TU that absolutely do not need the overload, but I think we'll have to back out the overloads and opt-in as needed.

[2021-12-01 17:01] brian-kelley opened #4567 "UnorderedMap inserts duplicate keys on SYCL"
UnorderedMap should insert each unique key only once. If a key is already in the map, ``insert(key).existing()`` should return true but that duplicate shouldn't actually go into the data structure. On SYCL though, a key can get inserted multiple times.

Reproducer:
[code]
Here is the expected output (from Cuda as an example):
[code]
but on SYCL:
[code]
The exact number of values inserted varies fr

[2021-12-01 18:02] ndellingwood commented on #4206
* 12/01/2021

`openmp.task_fib_single` test failure (seg fault) on Power9 with gcc/7.2.0

[2021-12-01 19:30] nmm0 commented on #4566
@jrmadsen Would it be sufficient to add a flag `Kokkos_INSTALL` to prevent Kokkos from adding the install targets?

You could then install the components you need with your own install commands since all the targets should be accessible in your CMake.

[2021-12-01 19:36] dalg24 commented on #1941
Need to test with CUDA 11

[2021-12-01 19:38] #1959 closed

[2021-12-01 19:41] dalg24 commented on #2506
Feel free to re-open if that is still an issue.

[2021-12-01 19:41] #2506 closed

[2021-12-01 19:42] dalg24 commented on #2582
Try with current NVHPC compiler

[2021-12-01 19:43] dalg24 commented on #2995
Check if that is still an issue

[2021-12-01 19:48] ndellingwood commented on #4562
@masterleinad here is a simpler CMake configuration line to reproduce the build failure for the serial backend with gcc/7.2.0. MPI is necessary to enable the panzer sub-component, and BLAS/LAPACK are generally required for Trilinos builds. I added a disable of Trilinos_ENABLE_PanzerAdaptersSTK  sub-component to avoid need of extra TPLs like NetCDF

[code]

[2021-12-01 19:49] dalg24 commented on #3553
Check if that is still an issue and if that was fixed in more recent versions.

[2021-12-01 19:51] #3675 closed

[2021-12-01 19:58] dalg24 commented on #4017
Check if that is still an issue

[2021-12-01 20:28] csiefer2 opened #4568 "Kokkos tests do not compile w/ OneAPI 2021.4 and SYCL back end"
Warnings like this:
[code]

Error that stops compilation (and related warning)

[code]

This is w/ today's master.

[2021-12-01 20:34] masterleinad commented on #4568
The error is a compiler bug, see https://github.com/intel/llvm/issues/4226, fixed in https://github.com/intel/llvm/pull/4531.

The warnings should be fixed in `develop` by https://github.com/kokkos/kokkos/pull/4493.

[2021-12-01 20:37] csiefer2 commented on #4568
Like: -DKokkos_ENABLE_DEPRECATED_CODE_3=ON ?

[2021-12-01 20:44] csiefer2 commented on #4568
That seems to compile more of Kokkos now, but man, oh, man, the number of warnings.

Still won't compile though.

[2021-12-01 20:46] csiefer2 commented on #4568
Errors:
[code]

[2021-12-01 20:58] csiefer2 commented on #4568
Kokkos proper does compile though.

[2021-12-01 21:42] masterleinad commented on #4568
Hmm... I am struggling to reproduce. I don't see any errors compiling the tests with
[code]
and
[code]
Can you share your `CMake` configuration?

[2021-12-01 22:04] csiefer2 commented on #4568
Sure:
[code]

And:

[code]

[2021-12-01 22:14] csiefer2 commented on #4568
Looks like I forgot to enable the SYCL back end.  Weird that if you don't enable it explcitly (and it just does SERIAL, I guess?) the tests won't compile.

The tests compile when I turn the SYCL backend on.

[2021-12-01 22:49] masterleinad commented on #4568
I never tried that. :slightly_smiling_face:.
You should be able to avoid the deprecations by passing `-DSYCL_DISABLE_DEPRECATION_WARNINGS` to the compiler (or using `develop`).

[2021-12-01 22:50] lucbv commented on #4568
Technically you probably want to tell the ARCH you want to build on but if it works without it I guess that's good enough

[2021-12-01 23:00] masterleinad commented on #4568
Yes, if you are targeting NVIDIA GPUs you have to specify a CUDA architecture and you can do that for Intel GPUs to enforce ahead-of-time compilation. Without a particular architecture specified the compiler uses just-in-time compilation for the kernels.

[2021-12-02 00:21] brian-kelley opened #4573 "ThreadVectorRange parallel_reduce (int, +) gives incorrect result on SYCL"
I have a parallel_reduce with ThreadVectorRange that is used to count the unique integers in a sorted array, but on SYCL this reduction returns a higher value than what is correct. Here's a reproducer:
[code]
The vector_length_max is reported to be 32, but using that in the policy causes the bug. If I plug in 8 or 16 as the vector_length instead, it gives the correct result. A device-level RangePo

[2021-12-02 00:52] ndellingwood opened #4574 "nvhpc/21.9 build errors in TestNumericTraits: error: expression must have a constant value"
I'm testing builds with nvhpc and encountered compilation errors in the TestNumericTraits when enabling the Cuda backend. This is using nvhpc/21.9, cuda/11.2, gcc/9.2.0, and cmake/3.21.1.
The build errors occur both when setting nvc++ as CMAKE_CXX_COMPILER, and also when using nvcc_wrapper plus setting -ccbin nvc++ via CMAKE_CXX_FLAGS

**Error output**:
[code]

**Reproducer** (kokkos-dev-2 testbed

[2021-12-02 04:49] dalg24 commented on #4574
I am not sure how to read the error, they are 3 expressions
Can you try to break it down to see where the error is coming from, something like
[code]

[2021-12-02 15:26] ndellingwood commented on #4562
@masterleinad PR #4569 resolved build failures for the simplified gcc build, but similar compilation errors in panzer still remain with the Intel and Cuda builds (I have not retested a broader gcc-only build, though gcc is used with the Cuda builds)

From a cuda/10.1 build with gcc/7.2.0 as host compiler:
[code]

[2021-12-02 16:04] masterleinad commented on #4573
In `Debug` mode, there should be an error message that the maximum vector length for this kernel is 8 (but for some reason, it is not printed). Unfortunately, it is quite tricky to figure out the actual maximum vector size for a kernel at compile-time (instead of the maximum one supported by the device).

[2021-12-02 16:08] brian-kelley commented on #4573
@masterleinad It looks like vector_length_max is a runtime computation, but it obviously doesn't know which kernel you're going to run. Can different kernels have different maximums within the same build?
[code]

[2021-12-02 16:49] #4568 closed

[2021-12-02 18:17] masterleinad commented on #4573
https://github.com/kokkos/kokkos/pull/4579 tries to improve the detection of compatibility between subgroup size and vector size but it's blocked by https://github.com/intel/llvm/issues/5071.

[2021-12-02 18:25] ajpowelsnl commented on #3709
The relevant part of the comment in this file was deleted, and submitted for review in PR#4580.

[2021-12-02 19:12] ndellingwood commented on #4574
@dalg24 I split apart the 3 expressions from the output message and recompiled with them inserted into the test file.

The std `quiet_NaN` check errored out at the static_assert check when compared against itself and when compared against the Kokkos namespaced version
[code]

Though the Kokkos namespaced check passes when compared against itself
[code]

I tried your suggestion and added static_ass

[2021-12-02 20:16] masterleinad commented on #4573
For the moment, the check prints something if you compile with `-DNDEBUG` (`Release` mode) and `Kokkos_ENABLE_DEBUG=ON`. I'm not quite sure what else to do about it at the moment. :shrug:

[2021-12-02 20:23] brian-kelley commented on #4573
@masterleinad That's totally fine, thanks. I'm not in a hurry to get 100% of stuff working with SYCL, I'm just looking for issues to make sure somebody's aware of them.

[2021-12-02 20:34] brian-kelley opened #4582 "SYCL: atomics into shared memory don't work (value isn't modified)"
On SYCL, atomics that write to level-0 shared memory don't seem to have an effect. I tried int+ and double+ and in this reproducer, both left the value as 0.
[code]
Correct output from Cuda:
[code]
Output from SYCL:
[code]

[2021-12-02 20:49] dalg24 commented on #4574
Please guard the line that cause the issue
https://github.com/kokkos/kokkos/blob/2d17b9bfdf9d8a367a67a05b024ec465032778e4/core/unit_test/TestNumericTraits.hpp#L592

Do we know where to report this issue on the NVIDIA side?

[2021-12-02 21:14] masterleinad commented on #4582
This is somewhat related to https://github.com/intel/llvm/issues/4669. We can't use `atomic_ref` with `generic space`, yet. Here, we need to use `local_space` for the test to pass.

[2021-12-02 21:48] cz4rs opened #4583 "Clang-Format fails on `develop`"
After rebasing my PR on top of `develop`, Clang-Format job began to fail ([detailed logs](https://cloud.cees.ornl.gov/jenkins-ci/blue/organizations/jenkins/Kokkos/detail/Kokkos/7280/pipeline)):
[code]
_(there's a trailing space introduced in 3d65fe6147e48b05e3cad4809d9062ec300d30d2)_

[2021-12-02 21:54] ldh4 commented on #3553
I'm unable to reproduce this build error.
I was able to build and run that code with `Clang 11 + Cuda 10.1.243` and with `Clang 12 + Cuda 11.2.1` on both Kokkos `develop` and `master` (release 3.5) branch.

[2021-12-02 21:55] cz4rs commented on #4583
PR merged.

[2021-12-02 21:55] #4583 closed

[2021-12-02 22:01] masterleinad commented on #4582
#4585 Should fix this. @brian-kelley Can you please confirm?

[2021-12-02 22:37] janciesko commented on #4054
In develop. Closing issue.

[2021-12-02 22:37] #4054 closed

[2021-12-02 23:55] ndellingwood commented on #4574
@dalg24 I added PR #4586 with the suggested change. I'm not certain about where to report to NVIDIA, but I'll extract the failing lines to try and get a small reproducer

[2021-12-03 00:01] ndellingwood commented on #4574
Here's the reproducer:

[code]

[2021-12-03 02:10] dalg24 commented on #4574
It was reported by @matt-stack
Thank you all

[2021-12-03 15:36] ajpowelsnl commented on #1941
### Reproducing the failure with different versions of Cuda and gcc, and std::tuple

_**Reproducer with sems-cuda/11.1, sems-gcc/9.2.0, & std::tuple:**_

`./reproducer_1941.cuda
terminate called after throwing an instance of 'std::runtime_error'
  what():  cudaDeviceSynchronize() error( cudaErrorLaunchFailure): unspecified launch failure /ascldap/users/ajpowel/kokkos/core/src/Cuda/Kokkos_Cuda_Inst

[2021-12-03 19:59] janciesko commented on #3024
More thoughts:
- make ScatterView::subview() consistent with View::subview() //semantic mismatch

[2021-12-05 04:46] janciesko opened #4589 "All tests segfault on Power9"
On Power ISA, commit ff083d4f6e39167a7b3d82860956fac925fa9b30 makes all tests segfault as follows. Is it just me seeing this?
[code]

Seems like the expression ordering of this seems off, as the struct inits members based on the static var `unset_string_option` which is defined later thus assigning from unallocated memory. This is a suboptimal solution as it depends on the instantiation order of g

[2021-12-05 04:48] janciesko commented on #4455
Has this been resolved? @khuck

[2021-12-06 02:25] dalg24 commented on #4589
Please check and open a PR if it does

[2021-12-06 04:21] mhoemmen commented on #3709
Thanks y'all! : - )

[2021-12-06 04:21] mhoemmen commented on #3709
Oops, I probably shouldn't have closed this; it's up to y'all.  Anyway, thanks for fixing this!

[2021-12-06 14:08] #3709 closed

[2021-12-06 16:36] khuck commented on #4455
@janciesko It hasn't been documented (I don't think), but I found the code that explains what the bit mask is.  It's resolved for my problem, but I don't know if the documentation has been done.

[2021-12-06 20:29] ajpowelsnl commented on #4555
Hello -- We would like to help you with this issue, but we need a bit more information to provide a focused response / solution.  When you have a moment, would you please provide more context.

[2021-12-06 23:29] Char-Aznable commented on #4555
I think a solution would be changing the quoted code above to:
[code]
and keep `m_values` member default initialized (zero-sized default view). Without having gone through all the details, I would suggest tighten the loop holes related to `is_set` and `impl_value_type`.

[2021-12-06 23:35] Char-Aznable commented on #4555
The idea is to have some sort of SFINAE to trigger a compile time error if unntended `value_at()` is called for a `UnorderedMap` which is a set (`is_set` is true)

[2021-12-07 14:40] burhop opened #4597 "Link Error"
New to using Kokkos and Trilinos so be gentle :-)  This is probably some newbie problem. Feel free to point me to the right place to asks these types of questions or how to get added to the Kokkos Slack forum if that is the right place.

I'm getting a link error from this simple example for KokkosBlas::scal

[code]

**The Error is:**
[code]

I'm guessing I don't have the right options when buildin

[2021-12-07 14:52] dalg24 commented on #4597
This is something that really should be reported on the KokkosKernels (or Trilinos) side and you probably want to include more information about how to build the snippet you posted and what the link line that gave the error looked like.

The header `<KokkosBlas1_scal.hpp>` belongs to KokkosKernels but I can see how the name is misleading.

[2021-12-07 15:01] burhop commented on #4597
I can do that.  BTW, do you know who owns the slack group?  My domain is siemens.com so I'm not automatically admitted and need an invite.

[2021-12-07 15:01] ajpowelsnl commented on #4597
Morning @brian-kelley and @lucbv - Would you please have a look at this bug, and see if you can help this user out?

[2021-12-07 15:03] burhop commented on #4597
I doubt this is a 'bug'.  Most likely an (ignorant use) 'question' .

[2021-12-07 15:05] dalg24 commented on #4597
Email me (`lebrungrandt <at> ornl <dot> gov`) or Christian (his address is in the copyright notice on all files of this repo)

[2021-12-07 16:32] dalg24 commented on #4514
Not arguing with you on this.
Fell free to share snippets of code on this thread.

We are not willing to add the functionality at this time, but we may reconsider after the `View` refactor to use `mdspan`.

[2021-12-07 16:32] #4514 closed

[2021-12-07 16:50] brian-kelley commented on #4597
@burhop Did you install Trilinos and then build this example using it, or is this example inside Trilinos? Either way, try adding this option:
[code]
which is what we typically test with in Trilinos.

[2021-12-07 19:14] jrobcary commented on #3561
Seeing this error also.  gcc-9.4.0, cuda-11.5.  My flags include

`-gencode=arch=compute_75,code=sm_75`

[2021-12-07 19:44] ndellingwood commented on #4562
@masterleinad PR #4569 only resolved some of the build failures with gcc, will you be able to investigate the remaining failures with either a cuda build or intel as host compiler?

[2021-12-07 19:55] masterleinad commented on #4562
I could reproduce the error with intel/18 but didn't/don't understand what the issue was/is. :shrug:

[2021-12-07 19:56] masterleinad commented on #4562
I can try again to understand what's going on and at least provide some more information here so that someone wiser than me could help.

[2021-12-07 20:34] masterleinad commented on #4562
The full compiler error output for me is
[code]

[2021-12-07 22:34] mhoemmen commented on #4597
@burhop btw, you'll want to be sure that all nontrivially constructed `Kokkos::View` instances are out of scope before `Kokkos::finalize` is called.

[2021-12-08 15:56] ajpowelsnl commented on #4597
Morning Mark -- For the benefit of people who are new to Kokkos, what exactly would a "non-trivially" constructed `Kokkos::View` be?

[2021-12-08 16:04] ajpowelsnl commented on #4513
Morning guys -- Can we close this issue now, since Intel-17's days are numbered?

[2021-12-08 16:05] ajpowelsnl commented on #4526
Morning All -- Can we now close this issue, since it was cherry-picked into Kokkos 3.5?

[2021-12-08 16:59] #4597 closed

[2021-12-08 17:02] kddevin commented on #4526
Yes; the Zoltan2 jobs that were failing now complete.  Thanks.

[2021-12-08 17:02] #4526 closed

[2021-12-08 17:36] JieyangChen7 commented on #4547
The easiest way to reproduce this issue is to run the build script for building VTK-m with Kokkos/HIP. Please let me know if you run into any issues using the script. Thanks!

[code]

[2021-12-08 17:42] JieyangChen7 commented on #4547
Also, here are our team leads for VTKm @kmorel @dpugmire.

[2021-12-08 17:58] mhoemmen commented on #4597
@ajpowelsnl wrote:

Good morning! : - )  I should have written "not default constructed."

What I mean is, a `Kokkos::View`'s destructor will be called at the end of the scope.  If that scope includes a call to `Kokkos::finalize`, then the destructor will be called after `Kokkos::finalize` has been called.  "Doing Kokkos things" after `finalize` has been called is a Bad Idea.  (It's like calling g

[2021-12-08 18:39] fnrizzi commented on #4075
this should be closed

[2021-12-08 18:39] #4075 closed

[2021-12-08 18:40] fnrizzi commented on #4076
this should be closed since it was merged

[2021-12-08 18:40] #4076 closed

[2021-12-08 19:14] burhop commented on #4597
BTW, for any future googlers stumbling on this thread, after updating to the latest Trilinos (13.1 which included Kokkos), updating  cmake and updating C++ standard to C++14, the the linking problem went away.

[2021-12-08 19:35] crtrott commented on #4204
@masterleinad is this still an issue?

[2021-12-08 19:35] crtrott commented on #4224
@rgayatri23 what's the status>

[2021-12-08 19:37] crtrott commented on #4236
@ndellingwood Can we check this with 4.3 on Caraway? We dropped support for 4.2 If it works now on develop close this.

[2021-12-08 19:41] crtrott commented on #4334
There is no reasonable workaround for us, and this is not officially supported by NVCC anyway.

[2021-12-08 19:41] #4334 closed

[2021-12-08 19:48] #4513 closed

[2021-12-08 19:52] crtrott commented on #4531
@masterleinad is that the merged thing above?

[2021-12-08 19:54] euphoricpoptarts commented on #4531
If the #4532 PR is merged then I think we can close this issue.

[2021-12-08 19:54] #4531 closed

[2021-12-08 19:57] masterleinad commented on #4531
Yes.

[2021-12-08 19:59] masterleinad commented on #4204
Yes, when I tested this recently, I was still seeing it.

[2021-12-08 21:17] Rombur commented on #2309
All these items have been completed

[2021-12-08 21:17] #2309 closed

[2021-12-08 21:17] #3974 closed

[2021-12-08 21:18] #4171 closed

[2021-12-09 03:21] ldh4 commented on #4527
I was getting some segfaults when running HIP unit-tests on Caraway last week, but after rebasing on top of the latest `Develop` branch just now, I am no longer getting the segfault.

[2021-12-09 09:30] yuanAIhan opened #4600 "Can you tell me where to get the code for this part of the paper("Kokkos Array Performance-Portable Manycore Programming Model") in which file?"
When I was reading the paper "Kokkos Array Performance-Portable Manycore Programming Model". I found this part about "NUMA Thread Pool" or "NUMA Thread / Memory Management". Where should I find the source code of this part ?

[2021-12-09 12:31] dalg24 commented on #4600
https://github.com/kokkos/code-examples/tree/main/papers/kokkos-core-tpds-2021

[2021-12-09 12:37] dalg24 commented on #4600
@hcedwar @dsunder

[2021-12-09 17:21] ajpowelsnl commented on #4527
Morning -- Is it safe to close this issue?  Can we point to specific changes in the update that might have fixed the problem?

[2021-12-09 19:20] crtrott commented on #4547
@Rombur is looking into this

[2021-12-09 20:37] janciesko commented on #2995
For Serial and Cuda I am getting:
[code]
and
[code]

The issue still applies.

[2021-12-09 21:46] mschmidt271 commented on #3561
Also getting the same error with kokkos-3.4.01 with gcc-7.5.0, cuda-11.5, and providing `-DKokkos_ARCH_TURING75=ON`.

Like @pvelesko, I was able to successfully build after providing `-arch=sm_75` as a top-level `CMAKE_CXX_FLAGS`.

[2021-12-09 22:30] crtrott commented on #4600
I don't know whether the actual code of this is anywhere publicly available - I don't even have that internally. But basically this is all just variants of a very old version of what is now on github here.

In the end it turned out that the NUMA part isn't super used, or the part of it which is important isn't really complicated. Effectively we just pin our threads, and then we make sure we initia

[2021-12-10 00:18] jrobcary commented on #3561
BTW, we are able to build Trilinos.  Not able to build a package using it.

[2021-12-10 02:04] yuanAIhan commented on #4600
Yes, I got it! Thank you very much!

[2021-12-10 17:02] #4600 closed

[2021-12-10 17:07] #3930 closed

[2021-12-10 17:08] masterleinad commented on #4527
@ndellingwood Can you please check if this issue is fixed now?

[2021-12-10 18:05] stanmoore1 opened #4603 "Enhancement: Add no-deduce wrapper to `Kokkos::atomic_add` for converting int to long int"
`Kokkos::atomic_fetch_add` allows one to add "1", i.e. an `int` literal to a `long int` view, while `Kokkos::atomic_add` throws a compile error:
[code]
As mentioned previously, the above code works fine with `Kokkos::atomic_fetch_add`. Adding a no-deduce wrapper to `Kokkos::atomic_add` for converting int to long int would fix the issue. Thanks

[2021-12-10 18:18] dalg24 commented on #4603
This is already fixed in Kokkos 3.5
https://github.com/kokkos/kokkos/blob/6064e3b29fdc0a2da976a68642c267408815a29a/core/src/Kokkos_Atomics_Desul_Wrapper.hpp#L168-L169

PS: consider using `Kokkos::atomic_incerement`

[2021-12-10 18:39] stanmoore1 commented on #4603
I am using Kokkos 3.5 and I don't explicitly opt out from using Desul atomics as far as I know, so not sure why it doesn't work for me??

[2021-12-10 18:50] dalg24 commented on #4603
Do you have `KOKKOS_ENABLE_IMPL_DESUL_ATOMICS` defined in your `KokkosCore_config.h`?

[2021-12-10 18:56] stanmoore1 commented on #4603
If I add `KOKKOS_OPTIONS ?= "enable_desul_atomics"` to `Makefile.kokkos` then it compiles, otherwise I get this:

[code]

[2021-12-10 19:02] dalg24 commented on #4603
That's an oversight on our hand.  We meant it to be on by default just as when you build with CMake.

[2021-12-10 19:26] PhilMiller opened #4604 "Variants of create_mirror* routines taking execution space argument"
The `create_mirror*` routines potentially allocate, initialize, and copy the contents of a `View` or similar container. They should have forms that take an execution space on which to do that work

[2021-12-10 19:53] PhilMiller commented on #4604
Not clear how to arrange the parameters for the overloads that don't currently take a (memory) `Space` parameter at all. Maybe I'll just omit those.

[2021-12-11 02:14] ldh4 commented on #2074
This problem is still there. The `execution_space` of a functor is only referenced when internally constructing an `execution_policy (RangePolicy by default)`, but if an `execution_policy` has been provided, the `execution_space` of the functor seems to be unused.

[2021-12-13 04:33] ndellingwood opened #4609 "Kokkos updates break configuration with Trilinos"
Following merge of #4341, builds of Trilinos with Kokkos' develop branch fail to configure with the following messages:

[code]

This can be reproduced by overriding the Kokkos package in Trilinos to instead use the develop branch https://github.com/kokkos/kokkos/wiki/Compiling#building-trilinos-with-kokkos-develop-branch, and enabling Kokkos and Kokkos' unit tests (any compiler and backend will r

[2021-12-13 15:19] Rombur commented on #4547
@JieyangChen7 I cannot configure vtkm. I get the following error.
[code]
Which version of CMake are you using?

[2021-12-13 16:57] #4589 closed

[2021-12-13 16:57] #3342 closed

[2021-12-13 19:08] masterleinad commented on #3875
The main problem here is that the code implicitly creates a View of Views which has a variety of problems, see https://github.com/kokkos/kokkos/wiki/View#623-can-i-make-a-view-of-views. This is hard to deal with in the general `vector` class but following the instructions in https://github.com/kokkos/kokkos/wiki/View#6233-i-really-want-a-view-of-views-what-do-i-do should make that work.

[2021-12-13 20:23] crtrott commented on #4555
Hi,

yeah we looked into it and agree basically with your solution. We just need to make it issue a deprecation warning if deprecated code is enabled, and sfinae it away if deprecated code is not disabled. Do you want to issue a PR? If not we can find someone to work on this.

Christian

[2021-12-13 20:59] #4603 closed

[2021-12-13 21:06] #4609 closed

[2021-12-13 21:06] dalg24 commented on #4609
https://github.com/kokkos/kokkos/pull/4610#issuecomment-992904654

[2021-12-13 22:17] ndellingwood commented on #4527
I think the changes from #4591 must have resolved this issue. Interestingly, I never observed this problem with any of our nightly tests on Power9. Closing.

[2021-12-13 22:17] #4527 closed

[2021-12-14 04:27] #4562 closed

[2021-12-14 20:08] JieyangChen7 commented on #4547
@Rombur Thanks for helping us on this issue. I'm using CMake v3.21.3. If that version is not available on your system, you can also use my customized version of CMake. You can refer to the first part of the build script where I build the customized version:

[code]
Thanks. Please let me know if you encounter any other issues.

[2021-12-14 22:01] rgayatri23 commented on #4224
It looks like the issue is arising from a global that is created during the OMPOpt pass. This can be avoided by using ` -mllvm -openmp-opt-disable`. It will compile and run, but the performance will be poor. LLVM developers are still looking into this issue.

[2021-12-14 22:33] ndellingwood opened #4611 "Kokkos: atomic_add with Kokkos::Serial performance slowdown"
From https://github.com/trilinos/Trilinos/issues/10015 by @jewatkins :

[2021-12-14 22:36] ndellingwood commented on #4611
I'm curious if the updates to introduce desul atomics maybe disabled or negated changes related to #1426 ?

[2021-12-14 23:45] ajpowelsnl commented on #4574
Hi Damien -- It looks like at least a partial fix was merged.  Would it be OK if I assigned this issue to you?

[2021-12-15 00:21] ajpowelsnl commented on #1941
```thrust::tuple``` (implementing with #include <thrust/tuple.h> and #include <thrust/pair.h>) and ```cuda::std::tuple``` (implementing with #include <cuda/std/tuple>) are drop-in replacements for ```std::tuple```.

[2021-12-15 00:21] #1941 closed

[2021-12-15 00:21] ajpowelsnl commented on #1774
```thrust::tuple``` (implementing with #include <thrust/tuple.h> and #include <thrust/pair.h>) and ```cuda::std::tuple``` (implementing with #include <cuda/std/tuple>) are drop-in replacements for ```std::tuple```.

[2021-12-15 00:21] #1774 closed

[2021-12-15 00:22] ajpowelsnl commented on #3120
```thrust::tuple``` (implementing with #include <thrust/tuple.h> and #include <thrust/pair.h>) and ```cuda::std::tuple``` (implementing with #include <cuda/std/tuple>) are drop-in replacements for ```std::tuple```.

[2021-12-15 00:22] #3120 closed

[2021-12-15 00:28] crtrott commented on #4611
yeah. it probably did. We can fix that ...

[2021-12-15 02:11] ldh4 commented on #3553
Tried to this again with `Clang 11 + Cuda 10.1.243` with standard lib from `gcc 9.3.0`, but the code builds and runs for me.

[2021-12-15 02:56] dalg24 commented on #4574
This has been fixed

[2021-12-15 04:41] ndellingwood opened #4612 "Recent updates to containers unit tests cause intel/17 compiler errors"
An update on 12/14/2021 led to compilation errors with intel/17 with an include of `ToolTestingUtilities.hpp` in `containers/unit_tests/openmp/TestOpenMP_WithoutInitializing.cpp`:

[code]

Since support for intel/17 is being dropped soon, is disabling the test for intel/17 the course of action?

[2021-12-15 05:53] ndellingwood opened #4613 "Nightly build failures with gcc/9.2.0 with c++20 in TestAtomicOperations_shared.hpp: error: implicit capture of ‘this’ via ‘[=]’ is deprecated in C++20"
gcc/9.2.0 builds with c++20 began failing to compile with recent changes with error message:
[code]

**Reproducer** (serial backend):
[code]

[2021-12-15 13:04] dalg24 commented on #4612
The merge of https://github.com/kokkos/kokkos/pull/4508 added that test

[2021-12-15 13:06] dalg24 commented on #4612
I am fine with disabling for Intel 17

[2021-12-15 19:40] crtrott commented on #4604
Overload set:
[code]

[code]

[2021-12-15 19:41] crtrott commented on #4612
agreed.

[2021-12-15 19:43] #4604 closed

[2021-12-15 20:03] stanmoore1 commented on #1392
Hi @janciesko, were you able to reproduce this issue? Eric Phipps (@etphipp) originally reported the issue with padding and ScatterViews. I don't have a reproducer, but may be able to create one.

[2021-12-15 21:24] #4574 closed

[2021-12-16 05:21] Char-Aznable commented on #3875
There are actually deeper problems. There are Kokkos APIs like `Kokkos::volatile_load` that makes implicit assumption about input type being device-side constructible and these APIs are used all over the place without type checking. Some kind of type checking is needed to ensure logical consistency with the usage of View

[2021-12-16 17:43] cz4rs commented on #4384
Fixed with #4563

[2021-12-16 17:43] #4384 closed

[2021-12-16 18:05] jrmadsen commented on #4566
@dalg24 Sorry for the delay. When Kokkos is a subproject in cmake, it becomes really wonky to do this, especially with CPack.

Pybind11 has a `PYBIND11_INSTALL` option, my tasking library [PTL](https://github.com/jrmadsen/PTL) and timemory have options to do this. Spack is a good example of where a project might want this... it allows one to have a "vendored" build that won't conflict in an enviro

[2021-12-16 18:54] jczhang07 opened #4621 "Kokkos/SYCL: default initialization value (-1) does not work on machines without GPUs"
On a machine without GPUs, I can initialize Kokkos with ` Kokkos::initialize(argc,argv);` and it works fine.

But if I do

[code]
Then a test runs into an error

[code]

If I change to `args.device_id   = -2`, the code can work again.  Since -1 is said to be the default initialization value,  I think it is a bug, i.e., with `args.device_id   = -1`, if there are on GPUs, just run on host.

[2021-12-16 18:55] nmm0 commented on #4566
@jrmadsen Sounds good! I think that's the best path then. I think the installing from a different subdirectory issue only exists with cmake versions before 3.13, according to the 3.13 release notes install(TARGETS) should work without problems. I'm not sure about `export(TARGETS)`

[2021-12-16 19:18] ndellingwood commented on #4612
PR #4622 adds a workaround for intel/17

[2021-12-16 20:45] crtrott commented on #4621
@masterleinad

[2021-12-16 23:06] masterleinad commented on #4621
https://github.com/kokkos/kokkos/pull/3918 is related for the current behavior of allowing running without a GPU.

[2021-12-17 05:15] Char-Aznable commented on #254
I am interested in something like this as well. It looks like ZFP already has OpenMP and CUDA support

[2021-12-17 09:36] MJChku opened #4624 "Can force all floating point variable to double instead of float?"
Can force all floating point variable to double instead of float?

[2021-12-17 14:33] masterleinad commented on #4624
No, it's not possible to change all floating operations in `Kokkos` to use `float` but most interfaces are templated on the number type anyway and you can, of course, use `float`. Is there a specific example that you care about the precision of floating operations in `Kokkos` for?

[2021-12-17 17:13] jhuber6 commented on #4224
This is a bug in HeapToStack not maintaining the previous alignment when we replace the heap allocation (here a generated OpenMP runtime call) with an alloca instruction. It only showed up here because there was sufficient register pressure to make the PTX backend create a stack frame using local memory instead of using registers, and the default alignment of 8 was not sufficient to store the 16 b

[2021-12-17 17:19] ajpowelsnl commented on #254
Morning @crtrott and @dalg24 -- Would there be interest in integrating ZFP functionality into Kokkos?

[2021-12-17 19:51] ndellingwood opened #4625 "Undefined references in KokkosKernels nightly builds when both Pthread and Serial exec spaces enabled"
Following changes for deprecation of `Kokkos_ENABLE_PTHREAD` #4619 KokkosKernels builds with both Pthread and Serial backends enabled began failing due to undefined references; this does not happen when enabling only the Pthread or Serial backend, and does not show up in Kokkos testing with Pthread and Serial backends enabled.

**Reproducer**:
[code]

[2021-12-17 19:55] ndellingwood commented on #4625
Here are the corresponding CMake lines from the generate_makefile script:

[code]

[2021-12-17 20:34] dalg24 commented on #4625
Don't you get warning about `Kokkos_ENABLE_DEPRECATED_CODE` not being used.  I am pretty sure we only recognize `Kokkos_ENABLE_DEPRECATED_CODE_3`

[2021-12-17 20:35] dalg24 commented on #4625
Assuming that deprecated code is OFF, we do not export `Kokkos_ENABLE_PTRHEAD` any more so that is probably where to start looking.

[2021-12-17 20:36] ndellingwood commented on #4625
I rebuilt KokkosKernels with changes in the build system that seem to have resolved this:

[code]

I'll put in a PR to kokkos-kernels with the updates and can close this issue.
@dalg24 kind of strange that this only occurs when both Serial and Pthreads are simultaneously enabled, but not individually, right?

[2021-12-17 20:41] ndellingwood commented on #4625
Cross-reference kokkos/kokkos-kernels#1237

[2021-12-18 02:22] MJChku commented on #4624
Actually I want all double. I have a system that substitute floating point instructions in Kokkos binary library to arbitrary precision, however, in theory I require every floating point instruction to be double.

[2021-12-19 07:03] Char-Aznable commented on #3342
@masterleinad I have a related question. For a host-only dualview like `DualView<int*, HostExecutionSpace> v("v", 3);`,  resizing by `resize(Withoutinitializing, v, 6);` will result in a memory size peak where the memory size is `view of 3 int plus view of 6 int`, is that right? I think this is because the old memory allocation is only given up after the create_mirror_view call judging from the co

[2021-12-19 16:18] masterleinad commented on #3342
Yes, `resize` copies the old content over so we create the new view before destroying the old allocation (even when `WithoutInitializing` is requested).

[2021-12-19 20:10] Char-Aznable commented on #3342
Is it possible to do something like this in the above code so to avoid the memory peak:
[code]
since the mirror view has to be reconstructed anyway

[2021-12-20 02:04] chh7411898 commented on #3790
can you share you cmakelist?  thanks

[2021-12-20 15:06] dalg24 commented on #4612
Not until the PR is merged

[2021-12-20 15:11] ajpowelsnl commented on #4621
Morning Daniel - May I assign this issue to you?

[2021-12-20 15:17] ajpowelsnl commented on #4582
Morning Brian -- Before winter break, might you be able to confirm that #4585 fixes this issue?

[2021-12-20 15:27] masterleinad commented on #4621
There is already a pull request that fixes this. :slightly_smiling_face:

[2021-12-20 16:17] masterleinad commented on #3342
We could do this (but I suspect you would still see a peak in memory since `resize` needs to have two allocations alive at the same time). I think it's best if you just open a pull request.

[2021-12-20 17:11] brian-kelley commented on #4582
It did fix the issue. I just commented on the PR instead of the issue here.

[2021-12-20 17:55] crtrott commented on #4624
No there is no way to enforce that in a code. I don't think our library itself has any floating point stuff with single precision compiled in, however. Thats an application thing downstream.

[2021-12-20 20:43] #3828 closed

[2021-12-20 20:46] dalg24 commented on #4507
This has been merged in the develop branch and will be part or release 3.6
You would do
[code]

[2021-12-20 20:46] #4507 closed

[2021-12-20 20:47] #4058 closed

[2021-12-20 20:48] dalg24 commented on #3858
Has been implemented and released in 3.4.00

[2021-12-20 20:48] #3858 closed

[2021-12-22 15:35] #4624 closed

[2021-12-30 15:01] sethrj commented on #2039
Our [Celeritas project](https://github.com/celeritas-project/celeritas) has this same issue with [VecGeom](https://gitlab.cern.ch/VecGeom/VecGeom) which requires RDC :( and results in all sorts of complications as well as warnings.

As of CUDA 10.4 at least, you can pass an option directly to the linker to suppress these warnings by appending `-Xnvlink --suppress-stack-size-warning` to `CUDA_FLAGS

[2022-01-04 16:22] ajpowelsnl commented on #4604
Morning Phil - May I add the "InDevelop" label for this issue?

[2022-01-04 19:03] masterleinad commented on #4604
The conclusion from the last meeting was that we don't need this. I don't think there it's necessary to do anything here.

[2022-01-04 19:06] ajpowelsnl commented on #4604
OK, thank you.  I'll update the notes.

[2022-01-05 02:09] rgayatri23 commented on #4224
The issue seems to have been resolved with the latest compiler update (from mainline llvm on Jan-02/2022.
[code]

[2022-01-05 15:03] Rombur commented on #4546
@markdewing I cannot compile your code. Does https://github.com/kokkos/kokkos/pull/4644 fixes the problem?

[2022-01-05 17:14] crtrott commented on #2039
We are discussing what to do: but my gut feeling is that we should turn the warning off in our Kokkos tests build, but downstream projects should add the warning suppression on their own. Alternatively we could do something like "KOKKOS_ENABLE_MOSTLY_USELESS_WARNINGS_SUPRRESION"?

[2022-01-05 17:17] stanmoore1 commented on #2039
This issue is also somewhat related: https://github.com/kokkos/kokkos/issues/2214

[2022-01-05 18:20] sethrj commented on #2039
I would suggest it be defined in a PUBLIC target compile options to apply internally (if the warnings show up when compiling) and downstream (if the warning always shows up when linking code)
[code]

[2022-01-05 21:08] #4372 closed

[2022-01-05 22:31] markdewing commented on #4546
@Rombur Yes, this fixes the compile time problem.  From 161 minutes using the Kokkos develop branch to 6 minutes with the PR.

[2022-01-05 23:40] Char-Aznable commented on #4555
Fixed by #4639

[2022-01-05 23:40] #4555 closed

[2022-01-06 13:57] Rombur commented on #4546
@markdewing Great. Thank you for the help.

[2022-01-06 17:35] ajpowelsnl commented on #4375
This is the failing Jenkins job:

https://jenkins-son.sandia.gov/view/Kokkos/job/Kokkos_develop_weaver_cuda101_xl_1611_cuda_serial/

[2022-01-06 17:37] masterleinad commented on #4375
It appears that this link doesn't work from outside Sandia. :slightly_frowning_face:

[2022-01-06 17:42] ajpowelsnl commented on #4375
You are correct -- good catch; I left that there as a note to myself, but I can caveat the statement.

[2022-01-06 20:19] masterleinad opened #4649 "Use address_space::generic_space for SYCL atomics"
Once https://github.com/intel/llvm/pull/5148 is supported, we should evaluate if using `address_space::generic_space` gives better performance than the runtime detection we are currently doing in https://github.com/kokkos/kokkos/blob/8c900008f518ad08c76f37c14fe9d8edc1e0b796/core/src/desul/atomics/SYCL.hpp#L20-L42.
@stanmoore1 noticed significant performance implications due to https://github.com/k

[2022-01-06 21:53] crtrott commented on #4546
@markdewing is this basically back to what we had with the code before we introduced that multi instantiation? Also do you see compile time differences between ROCM 4.3 and ROCM 4.5?

[2022-01-07 14:38] masterleinad commented on #1977
Fixed in https://github.com/kokkos/kokkos/pull/2838.

[2022-01-07 14:38] #1977 closed

[2022-01-07 22:25] masterleinad commented on #2240
We decided in #3306 that we don't want to mark all move constructors and assignment operators `noexcept`.

[2022-01-07 22:25] #2240 closed

[2022-01-10 19:35] janciesko commented on #1392
Hi @stanmoore1 - with the example in the comment above, I was not able to reproduce. The following PR adds coverage for scatter_views with padding and hopefully should detect the issues reported: https://github.com/kokkos/kokkos/pull/4587

[2022-01-11 20:20] ndellingwood opened #4662 "Trilinos nightly build failure: error: more than one instance of overloaded function "Kokkos::create_mirror" matches the argument list"
The nightly Trilinos serial build with intel/18 build began failing with output:

[code]

This showed after recent updates to the kokkos-promotion branch but may have preexisted the update.

**Full reproducer**
[code]

This can likely be reproduced with intel/18+openmpi and enabling just Tpetra+Sacado (along with source-override of Kokkos to use develop branch), I will need to confirm and can post

[2022-01-11 20:22] ndellingwood commented on #4625
This was resolved with kokkos/kokkos-kernels#1249

[2022-01-11 20:22] #4625 closed

[2022-01-11 20:23] #4612 closed

[2022-01-11 23:18] brian-kelley commented on #3996
Update: rocm 4.3 was changed to implement ``atomicSub(ptr, x)`` as ``atomicAdd(ptr, -x)`` which fixes that specific one. But I just checked that on 4.5, the others like atomicOr are still hanging.

[2022-01-12 16:58] alanw0 opened #4665 "team_scratch memory grows a lot more since "resize_team_scratch_space" was refactored."
The kokkos commit 31a136c604 refactored the function 'resize_team_scratch_space'. This caused some previously-passing exawind tests to start crashing/failing with a cuda allocation failure.

Here are some print-outs of a (successful) run prior to that commit:
(The 'before' and 'after' is just printouts before and after the kokkos::parallel_for in which the team-scratch memory is being used.)

[cod

[2022-01-12 19:35] ndellingwood commented on #4338
Updating the testing to use rocm/4.5.0, will update the issue to confirm if this resolves the failures

[2022-01-12 19:38] PhilMiller commented on #4057
This got done through #4397

[2022-01-12 19:38] #4057 closed

[2022-01-12 20:36] Rombur commented on #4665
The commit should only change the behavior if you launch kernels from different threads. If you launch all your kernels from the same thread, there shouldn't be any difference. The scratch memory is associated to an instance not to a `parallel_for` and that's why the memory is released when `finalize` is called but that's not a new behavior. What the commit does is creating a pool of scratch memor

[2022-01-12 20:52] dalg24 opened #4668 "Deprecate/remove `KOKKOS_ACTIVE_EXECUTION_MEMORY_SPACE_*` macros and the `ActiveExecutionMemorySpace` alias"
`ActiveExecutionMemorySpace` is defined in `Kokkos::Impl::` but it is being used downstream in KokkosKernels.

The macros are most commonly used this way
[code]
which will be replaced by
[code]
in #4660

[2022-01-12 21:13] alanw0 commented on #4665
We are not using threads. Kokkos::OpenMP is not enabled in this build.
As the print statements demonstrate, the behavior changed dramatically due to this commit. Same build/configuration, only changed by applying this kokkos commit.

[2022-01-12 21:15] ndellingwood commented on #4338
This is still failing with rocm/4.5.0 on our caraway system with MI100 :(

[2022-01-12 22:57] yencal opened #4669 "Error using custom reduction on an array"
Error using custom reduction on an array as specified in the [kokkos wiki](https://github.com/kokkos/kokkos/wiki/Custom-Reductions%3A-Built-In-Reducers-with-Custom-Scalar-Types). I have adapted the example for my application as shown below. Specifically I would like to point your attention to `typedef array_type<double,3> ValueType;` and the `RangePolicy`. The following code below works fine if bu

[2022-01-13 14:50] Rombur commented on #4665
My guess is that there is some kind of "drift" in the memory pool. Can  you change the code [here](https://github.com/kokkos/kokkos/commit/31a136c604708f291a74e43db7e457417fac2aec#diff-299ad949bd0a1700160902ccf49827e7f1ca3bd0444c35ab10438dc24cca925fR661-R662) from
[code]
to
[code]

[2022-01-13 15:02] ajpowelsnl commented on #4375
Investigation and trouble shooting were inconclusive.  We speculate that this issue is a compiler bug, but the cause of the failure remains uncertain.  Serial builds pass, Cuda + Serial builds pass, Cuda builds fail.

[2022-01-13 15:19] alanw0 commented on #4665
@Rombur That appears to fix it, thank you!
I guess we can apply this as a patch in our installation, until you get it pushed in and get an update into trilinos?

[2022-01-13 15:35] Rombur commented on #4665
Yes, for now you should apply the patch yourself. We will have a new release of Kokkos in the next few weeks so Trilinos should be update pretty soon but it might still take a month or so.

[2022-01-13 16:10] crtrott commented on #4665
Crosslink #4673

[2022-01-13 16:57] #4375 closed

[2022-01-14 14:47] masterleinad commented on #4259
Fixed in #4486.

[2022-01-14 15:26] stanmoore1 commented on #4259
Thank you @masterleinad!

[2022-01-14 19:59] ndellingwood opened #4677 "Trilinos nightly Cuda build failures: Kokkos_Parallel.hpp(102): error: static assertion failed"
Trilinos nightly Cuda builds began failing following merge of #4655, sample error message:

[code]

@masterleinad are you able to investigate?

[2022-01-14 20:01] dalg24 commented on #4677
This mean there is a bug in Tpetra not in Kokkos.

[2022-01-14 20:22] masterleinad commented on #4677
The problem is https://github.com/trilinos/Trilinos/blob/a5a5bf9a6f118b6bfc886e697e6c1a10c355b68f/packages/tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_def.hpp#L135, https://github.com/trilinos/Trilinos/blob/a5a5bf9a6f118b6bfc886e697e6c1a10c355b68f/packages/tpetra/core/src/Tpetra_Details_getDiagCopyWithoutOffsets_def.hpp#L139-L141, and https://github.com/trilinos/Trilinos/blob/a5a5bf9a

[2022-01-14 22:25] brian-kelley opened #4679 "Build error introduced for SYCL"
Starting with commit 3727cca1 on the develop branch, files that include Kokkos_Core.hpp get a build error on SYCL:
[code]

Reproducer: clone develop branch and do
[code]

[2022-01-14 23:18] masterleinad commented on #4679
A workaround is to define `NDEBUG`.

[2022-01-14 23:45] ndellingwood commented on #4677
@brian-kelley do you or another Tpetra developer have a moment to comment on Daniel's assessment above to confirm one of the suggested changes in Tpetra is correct? A recent update to Kokkos to detect a mismatch of execution spaces in functors triggered an assert in Tpetra, which is the subject of this issue

[2022-01-15 04:22] masterleinad commented on #4679
#4680 fixes this.

[2022-01-15 04:28] masterleinad commented on #4204
See https://github.com/kokkos/kokkos/pull/4676. We need intel/llvm#4904 or intel/llvm#4903 to fix this.

[2022-01-15 16:58] masterleinad commented on #2107
`Desul` uses the memory-model aware intrinsics.

[2022-01-15 19:50] masterleinad commented on #3410
Fixed in https://github.com/kokkos/kokkos/pull/3953.

[2022-01-15 19:50] #3410 closed

[2022-01-15 19:58] masterleinad commented on #2455
Fixed in #2980.

[2022-01-15 19:58] #2455 closed

[2022-01-17 16:21] pgrete commented on #4679
Not sure this is directly related, but when I try to compile I also get an error (with current `deveop` run within a fresh `intel/oneapi-basekit` container:
[code]

[2022-01-17 17:16] pgrete commented on #4679
Quick update: this may not be a Kokkos issue.
Just "found" the `llvm-foreach` in `/opt/intel/oneapi/compiler/2022.0.1/linux/bin-llvm` with a README saying
[code]

Unfortunately, adding `llvm-foreach` to the `PATH` didn't help. I'll report with intel.

[2022-01-17 17:47] brian-kelley commented on #4679
Thanks @masterleinad ! #4680 did fix my build.

[2022-01-17 20:27] ajpowelsnl commented on #4677
Hi @brian-kelley -- Would you be able to look into this?  If so, may I assign it to you?

[2022-01-17 21:34] brian-kelley commented on #4677
@ajpowelsnl Yes, and I just opened https://github.com/trilinos/Trilinos/pull/10092 . Just removing the line with typedef is the best fix I think, since it wasn't used anywhere and ``Functor::device_type`` isn't something we normally have in Tpetra anyway.

[2022-01-18 19:39] ajpowelsnl commented on #4338
Discuss in Wed. , Jan. 19th meeting

[2022-01-18 20:19] brian-kelley opened #4685 "OpenMPTarget: TeamPolicy constructor requires >= 32 team size"
Constructing a ``TeamPolicy<OpenMPTarget>`` throws if the given team size is less than 32 (at least, when building with Intel icpx). It would be nice if this check were in the actual kernel launch instead, because it's a common pattern in KokkosKernels to create a dummy policy to ask for the recommended/max team size:
[code]

Alternately, it would be neat to have a static version of TeamPolicy::te

[2022-01-18 23:13] masterleinad commented on #4662
@ndellingwood Do you have a simplified configuration that reproduces the problem? Is it really `Intel`-specific?

[2022-01-19 11:08] Azrael3000 opened #4687 "kokkos_launch_compiler removes escaped characters"
I had the problem that I was passing an escaped character to the kokkos_launch_compiler which was then passed without the backslash to the `eval` function and caused an error in the linking stage.
In detail it was:
`kokkos_launch_compiler nvcc_wrapper c++ c++ [...] -Wl,-rpath,"\$ORIGIN:/other/path:" [...]`
which was converted to
`c++ [...] -Wl,-rpath,"$ORIGIN:/other/path:" [...]`

To avoid the iss

[2022-01-19 18:17] janciesko commented on #4455
I see, yes, there is bug. I'll issue a PR.

[2022-01-19 18:36] janciesko commented on #4455
https://github.com/kokkos/kokkos/pull/4694

[2022-01-19 18:36] brian-kelley opened #4695 "SYCL: team_size_recommended too big, kernel hangs"
On one particular kernel, ``TeamPolicy::team_size_recommended`` returns 1024, but any team size >= 960 hangs most of the time (sometimes it gets through 960 or 992). The kernel needs team size divisible by 32, so this reproducer tries 32, 64, 96, ... , 1024 to demonstrate the hang. It happens in both debug and release builds, using ``dpcpp`` and ``-DKokkos_ARCH_INTEL_XEHP=ON``.

[code]

Usual outp

[2022-01-19 18:40] khuck commented on #4455
will this require a change in interpreting the value?

[2022-01-19 19:24] ndellingwood commented on #4677
The Trilinos PR resolved the associated nightly failures, thanks @brian-kelley

[2022-01-19 19:24] #4677 closed

[2022-01-19 19:39] crtrott commented on #3553
@Char-Aznable can you check whether this is still a problem?

[2022-01-19 19:42] ndellingwood commented on #4017
I still see a seg fault on our Blake machine, tested with SHA b033b5d00d82552726221b7b551142937541b38e. This does not occur with debugging enabled.

[2022-01-19 20:10] janciesko opened #4696 "Test CI with spack test run"
Add `spack test run kokkos` to our CI.

[2022-01-19 20:11] PhilMiller opened #4697 "Document synchronization semantics of View initialization"
what execution space / stream should it run on, and how much should it synchronize with besides the caller?

[code]
* what if we had asynchronous allocation
   * that would make the view non-copyable (i.e. b = c) before synching which is shitty
* normal allocations not syncing at all could be problem for UVM / or async host backends

[code]

[2022-01-19 20:13] PhilMiller commented on #4697
For an application that's conscientiously using multiple streams, the potential for case `A` to imply a global `Kokkos::fence()` would have catastrophic performance implications if any code naively allocates a View during otherwise asynchronous execution

[2022-01-19 20:17] PhilMiller commented on #4697
That 'naive' code may appear inside a library function that the application calls but doesn't control, which makes this a substantial composability issue.

[2022-01-19 20:20] masterleinad commented on #4697
That's pretty much the exact same issue as with the two-argument vs. three-argument deep copy, though, right? (Just that we are much clearer about the semantics for that one already).
We rely on library functions to do the right thing and only fence the stream that we are operating on.

[2022-01-19 20:21] PhilMiller commented on #4697
Alternatives to `Kokkos::fence()` would be `execution_space().fence()` as noted, or

[code]

[2022-01-19 20:22] PhilMiller commented on #4697
Yes, it's the same distinction as between two and three argument `deep_copy`, just that it's a lot easier to systematically modify and/or detect the undesirable `deep_copy` cases than the View initializations with arbitrary types and unspecified underlying operations

[2022-01-19 20:23] PhilMiller commented on #4697
Another alternative would be a dedicated internal execution space instance used for all initializations, and running and fencing specifically on that. Abstractly, the fresh stream is preferable, but if stream creation itself is expensive, then this would be a good fallback.

[2022-01-19 20:25] PhilMiller commented on #4697
If we do without an internal fence entirely in case A, the caller would either need to call `Kokkos::fence()` to synchronize when it's eventually needed, or have a new explicit interface to synchronize however the initialization was launched.

[2022-01-19 21:33] janciesko opened #4700 "Add OpenMPTarget to supported device variants in Spack"
Add Spack support for OMPTarget.

[2022-01-20 02:16] PhilMiller commented on #4697
The problem is slightly stickier for views of classes with constructors that set up meaningful state. Hypothetically, either the view constructor must run a kernel to construct them (a la `std::vector`), or if using `WithoutInitializing`, the client code must do something like

[code]

Since even `MyClass::operator=` invoked by `v(i) = MyClass();` would technically be undefined behavior, since the

[2022-01-20 02:59] ndellingwood commented on #4662
@masterleinad this may be intel specific after all. I was able to build successfully with gcc/7.2.0+openmpi, but failed with intel/18+openmpi.

Enabling Stokhos and its tests should reproduce, here is a script I used trimmed down from the original posted config:

[code]

In Stokhos and Sacado there are overloads of create_mirror that take a space argument, but I'm confused that in the error messag

[2022-01-20 03:05] ndellingwood opened #4701 "Nightly build failure clang+cuda: TestAtomicOperations.hpp:364:12: error: reference to __device__ function 'atomic_fetch_inc_mod' in __host__ __device__ function"
Following merge of #4684 nightly builds for clang/7+cuda/9.2 and clang/8+cuda/10 began failing with output:

[code]

**Reproducer** (kokkos-dev):
[code]

[2022-01-20 05:20] Char-Aznable commented on #3553
I currently don't have a GPU node with CUDA 10 to test this. I believe this not likely persists if @ldh4 can reproduce the error with the Kokkos develop version around the OP's date (Oct 30, 2020) and see the error gone for the current version

[2022-01-20 14:34] masterleinad commented on #4695
Interesting. I can reproduce but only if I don't define `KOKKOS_DEBUG` and `Kokkos_ENABLE_DEBUG_BOUNDS_CHECK` to be on.

[2022-01-20 20:08] cz4rs commented on #4687
Hello @Azrael3000, thanks for submitting the issue.

Is that manual invocation or does this come from another script? (I wonder if using `"\\$ORIGIN:/other/path:"` is a legit workaround)

[2022-01-20 20:15] ndellingwood commented on #4701
@crtrott are you able to take a look at this?

[2022-01-20 20:20] cz4rs commented on #4369
Current status:
- [x] `parallel_for(RangePolicy)` using `#pragma omp parallel` for schedule(dynamic/static)
  - native implementation: https://github.com/kokkos/kokkos/pull/4664
- [x] `parallel_for(MDRangePolicy)` using `#pragma omp parallel` for schedule(dynamic/static)
  - native implementation: https://github.com/kokkos/kokkos/pull/4664
- [ ] `parallel_reduce(RangePolicy)` using `#pragma omp pa

[2022-01-20 23:15] masterleinad commented on #4573
@brian-kelley Would you mind checking if #4704 (assuming that it build and passes `Kokkos` unit tests) allows running the `KokkosKernels` unit tests without using the workarounds for the vector size?

[2022-01-20 23:33] ajpowelsnl commented on #4669
Hello @yencal -- I'm having a look at your issue.  Which version of Kokkos did you use?

[2022-01-21 01:25] brian-kelley commented on #4573
@masterleinad This does work everywhere in KokkosKernels, except spgemm because it actually does explicitly use the vector length, even though it is a parallel_for:
[code]
So this runs into errors because the vector length computed ahead of time (with ``TeamPolicy::vector_length_max()``) and the one your PR computes at launch time don't match. There isn't a way to get the vector length from a Team

[2022-01-21 02:14] yencal commented on #4669
Hi @ajpowelsnl, I used Kokkos v. 3.5.0.

[2022-01-21 08:34] Azrael3000 commented on #4687
Hi, I'm using cmake which produces the `\$ORIGIN` in the linker command, so I'm afraid it's not easily possible to change it.

[2022-01-21 15:26] masterleinad commented on #4573
We could probably dicuss adding a `vector_rank()` and `vector_size()` member function to the `*TeamMember` classes.

[2022-01-21 17:14] crtrott commented on #4573
The above thing is not valid Kokkos code as I have stated before. It is a hack which assumes a specific way of how a backend works. The above has no chance of working with OpenMP, Threads, HPX or OpenMPTarget, because it relies on vector lanes behaving like threads (i.e. all vector lanes being active outside the ThreadVectorRange, and the number of vector lanes being determistic).

[2022-01-21 19:38] ndellingwood opened #4707 "Nightly build error gcc-10 -Werror: TestReducers.hpp:379:22: TestReducers.hpp error: ‘*’ in boolean context"
gcc-10 builds are failing with -Werror with output:

[code]

**Reproducer** (blake):
[code]

This began after adding boolean reducer tests

[2022-01-21 20:19] masterleinad commented on #4707
Hmmm... we should probably disable the test at least. I'm not quite sure if it's sensible to provide `reduction_identity` specialization for `bool` only for `lor` and `land`.

[2022-01-21 20:20] masterleinad commented on #4707
For the other member functions, we could return `int`, otherwise.

[2022-01-21 21:19] ndellingwood opened #4708 "Trilinos nightly test failure cuda/10.1 on Power9+Volta70: TpetraCore_CrsMatrix_UnitTests_MPI_4"
Nightly builds of Trilinos with Kokkos' develop branch are failing in unit test `TpetraCore_CrsMatrix_UnitTests_MPI_4` in cuda/10.1 builds on Power9+Volta70 arch.

**Output snip**:
[code]

**Reproducer** (weaver):
[code]

I confirmed this fails with builds with Kokkos' develop branch; Trilinos' develop branch with unmodified Kokkos passed.

I'll need to bisect on Kokkos merges after Jan 10 to furt

[2022-01-22 21:25] PhilMiller commented on #4697
Another alternative design, which I don't particularly endorse but that we may find reasons to use, is to have distinct `thread_local` execution space instances to initialize and fence on.

[2022-01-24 15:38] crtrott commented on #4669
Can you provide more information about your build. Exact build commands, GCC version underneath, CUDA driver version? We can't reproduce this.

[2022-01-24 15:40] crtrott commented on #4707
Yeah probably better to remove the other operators again.

[2022-01-24 17:59] amklinv-nnl commented on #3022
@crtrott I assume this issue should be closed.

[2022-01-24 19:15] #4450 closed

[2022-01-24 19:52] #3022 closed

[2022-01-24 20:45] ajpowelsnl commented on #4685
As a work around, would you please try:

[code]

[2022-01-24 20:56] ajpowelsnl commented on #4708
@ndellingwood -- could you please investigate a bit further to see how a Kokkos change caused this error?

[2022-01-24 21:14] janciesko commented on #4455
If your code relies on the buggy version, yes, if it relies on your temporary fix (masking the wrong bits out), then likely not.

[2022-01-24 21:40] ndellingwood commented on #4708
@ajpowelsnl yes in progress running bisection. Weaver is heavily congested so progress is a bit slow waiting on jobs to work their way through the queue

[2022-01-24 22:10] ndellingwood commented on #4338
This issue is no longer present after updates on the testing system, closing

[2022-01-24 22:10] #4338 closed

[2022-01-24 22:34] dalg24 opened #4711 "Ambiguity in call to `transform` algorithm"
The code below
[code]
yields
[code]
Reported by @amklinv-nnl on Slack

[2022-01-25 16:05] yurivict opened #4713 "Installing empty `include/desul/src/` directory"
[code]
See above the empty `src/` directory

[2022-01-25 16:09] mhoemmen commented on #4697
Following since I have an interest.  My personal view is that Views should be inaccessible except inside an "asynchronous parallel region" with a clearly defined execution space, but it's a bit too late to close that barn door ; - ) .

[2022-01-25 16:11] fnrizzi commented on #4711
on it

[2022-01-25 16:41] dalg24 commented on #4711
Per private discussion with Francesco, we need to add constraints on the iterator template arguments and find other algorithms that suffer from the same issue.

[2022-01-25 16:49] PhilMiller commented on #4697
@ajpowelsnl Yes, this is on deck for further discussion. I'll summarize the present state of things here.

@mhoemmen That's totally a possibility for 4.0. Not likely to fly with anyone, but totally a possibility!

The note about asynchronous allocation being off the table because of the impossibility of copying (and such) may be too conservative. The pointer to the underlying memory in whatever sp

[2022-01-25 17:08] PhilMiller commented on #4697
There's a range of synchronization possibilities to consider

1 Global Synchronization
[code]

2 Default stream used for all general allocation and initialization
[code]

3 Dedicated stream - global
[code]

4 Dedicated stream - per host thread
[code]

5 One-off stream
[code]

Q Fully asynchronous allocation and initialization, with no implied fence, and an added method on `View` to let callers fen

[2022-01-25 17:14] PhilMiller commented on #4697
From what I understand of the way CUDA schedules execution, with overall FIFO behavior, even 5 may not ultimately return all that much sooner than 1. This may need testing, and may push toward the extreme later options.

[2022-01-25 17:25] ajpowelsnl commented on #4707
Morning @ndellingwood -- Is this issue tied to a failing nightly Jenkins job?

[2022-01-25 18:36] mhoemmen commented on #4697
@PhilMiller wrote:

I know y'all won't win that fight, alas.  Users don't bother building abstractions on their own, and they complain if they can't write the same stateful mutable classes that were already old-fashioned 20 years ago.  Also they hate callbacks for some reason I don't fathom.

[2022-01-25 18:57] #4713 closed

[2022-01-25 19:24] Rombur commented on #4696
What should we add to the CI exactly? Do we pull the development version of spack and install the development version of Kokkos with it? Which configuration should we test?

[2022-01-25 23:48] kyungjoo-kim opened #4715 "shared memory allocation integer overflow"
I have a use-case that allocate a quite large shared memory for host only code (not going to be used for Cuda anyway) and I got the following.

For a testing purpose, I try to allocate 8,000,000 bytes and gdb says that ``m_team_scratch_size = {0, 8000000}``
Then, I tried to allocate shared memory 4,022,364,488 bytes then the debugger says ``m_team_scratch_size = {0, 18446744073436948808}``. I know

[2022-01-25 23:50] kyungjoo-kim commented on #4715
BTW, I use kokkos master branch. The last commit is
[code]

[2022-01-25 23:54] masterleinad commented on #4715
Can you provide a minimal (compiling, standalone) reproducer?

[2022-01-26 00:08] kyungjoo-kim commented on #4715
[code]

The output is
[code]

[2022-01-26 00:09] kyungjoo-kim commented on #4715
[code]

[2022-01-26 00:28] kyungjoo-kim commented on #4715
@masterleinad plz let me know if this is reproducible.

[2022-01-26 02:14] PhilMiller commented on #4697
Given Christian's comments about interesting behavior of the HPX backend even with `HostSpace` allocations, perhaps @msimberg could comment on this?

[2022-01-26 02:18] ndellingwood commented on #4708
Looks like this may have come from an update to KokkosKernels on 01/12/2022, kokkos/kokkos-kernels#1255

Here is a summary from investigating the breaking change:
- Final passing nightly of this Cuda build was job 399: https://jenkins-son.sandia.gov/view/Kokkos/job/KokkosEco_Trilinos_Weaver_CUDA101_opt/399/
- Broken build at job 400, due to issue #4677; this build was down until the fix to Trilino

[2022-01-26 09:05] msimberg commented on #4697
For HPX the ideal situation would be something like Q, i.e. the view constructor takes an explicit execution space and does not fence at all. I suppose that's also sort of what @mhoemmen hopes to have since that requires either an explicit fence before access by the user or accesses only within parallel regions (on the correct instance):

When using the HPX backend ironically fencing the HPX backe

[2022-01-26 10:38] cz4rs commented on #4687
@Azrael3000 can you take a look at https://github.com/kokkos/kokkos/pull/4703 and confirm that this works for you?

[2022-01-26 14:41] e10harvey opened #4716 "KokkosConfig.cmake generation bug"
When switching cuda toolchains from 10.0 to 11.2 I noticed that KokkosConfig.cmake contains the old cuda 10.0 paths.

Related to https://github.com/kokkos/kokkos-kernels/issues/1260.

Reproducer using kokkos develop at 20a090b:
[code]

using the same build directory, the binaries and headers are overwritten but `KokkosConfig.cmake` is not:
[code]

[2022-01-26 14:42] fnrizzi opened #4717 "algorithms: check for ambiguous calls"
as raised in #4711 so algorithms might trigger ambiguous calls.
Need to check all before release 3.6

[2022-01-26 14:45] dalg24 commented on #4716
Wait a minute you are using generated makefiles not CMake to install.  If I remember correctly we said we'd drop support for exporting CMake configuration from such a build.

[2022-01-26 14:49] masterleinad commented on #4715
Yes, I can reproduce.

[2022-01-26 14:51] dalg24 commented on #4716
Nevermind, `generate_makefile.bash` calls CMake.  I didn't expect anyone was still using this script.

[2022-01-26 14:53] ajpowelsnl commented on #4715
Morning @masterleinad -- May I assign this issue to you?

[2022-01-26 14:54] dalg24 commented on #4716
I am pretty sure your usage of CMake is wrong.  If you change the toolchain you need to clear the cache before you reconfigure.

[2022-01-26 15:09] e10harvey opened #4719 "OpenMP reduction data race with bhalf_t"
When working on #4543 I found what appears to be a data race in the OpenMP backend.

Reproducer using kokkos develop at 20a090b:
Uncomment the following code:
https://github.com/kokkos/kokkos/blob/20a090bf6a7268f6d46521b686e46da3b40e925a/core/unit_test/TestReducers_d.hpp#L84-L95
[code]

[2022-01-26 15:25] e10harvey commented on #4716
we can close this at `wont fix` but I think we should discuss this a little bit more, maybe during the developer meeting today.

the strange part here is that kokkos core unit tests build against cuda 11.2 but kokkos kernels builds against cuda 10.0. at this point if you try to run the kokkos kernels unit tests you get a runtime error related to the cuda block size.

[2022-01-26 15:51] masterleinad commented on #4716
https://gitlab.kitware.com/cmake/cmake/-/issues/20743 is related.

[2022-01-26 17:12] masterleinad commented on #4715
I can have a look at what the best plan of action here is.

[2022-01-26 19:35] ndellingwood opened #4722 "Kokkos build failure with intel/19 and shared library support: unresolvable R_X86_64_TPOFF32 relocation against symbol"
Kokkos builds with intel/19 and shared library support fail with the following type of output:

[code]

**Reproducer** (kokkos-dev* modules referenced):
[code]

[2022-01-26 19:36] kyungjoo-kim commented on #4715
@ajpowelsnl This should be labeled as a bug instead of question, in my opinion.

[2022-01-26 19:37] PhilMiller commented on #4722
This also showed up in Trilinos, https://github.com/trilinos/Trilinos/pull/10047#issuecomment-1018921116

My digging online suggests a missing `-fPIC` on some compilation unit.

[2022-01-26 20:03] PhilMiller commented on #4722
Or, conversely, there could be `-fPIE` on a file that's ending up in a shared library rather than directly in a binary

[2022-01-26 21:26] ndellingwood opened #4723 "Nightly Trilinos build error with Cuda: Recent change incompatible with Intrepid2"
Nightly Cuda builds of Trilinos with Intrepid2 began failing after merge of PR #4675, sample output:

[code]

**Reproducer instructions**:
kokkos/kokkos@2d2087f7fd486ebdb27637eba52b1a3acd7eb933
kokkos/kokkos-kernels@bcc505d321da561889285184a085220da8920515
trilinos/Trilinos@ca382dbdb180a8a54c553d6677635091344184a4  (kokkos-promotion branch)

To build Trilinos with kokkos and/or kokkos-kernels deve

[2022-01-26 21:58] kyungjoo-kim commented on #4723
@ndellingwood I think that this problem is Kokkos (not from Intrepid2). Intrepid2 passes the device type and views are templated with correct device type. Somehow an internal functor has a view templated with execution space.

https://github.com/masterleinad/kokkos/blob/820c00cf952ccc3026bce07e4b0a683c36af0812/algorithms/src/Kokkos_Random.hpp#L622

Check the lock view templated with execution spac

[2022-01-26 22:00] kyungjoo-kim commented on #4723
BTW, why a view templated with ``Cuda``  exec space is imcompatible to ``device<cudaspace::execution_space,cudaspace::memoryspace>`` ? This means that Cuda execution space still consider UVM as its pairing memory space ? Or it is just missing template tricks ?

[2022-01-26 23:26] ndellingwood commented on #4723
@kyungjoo-kim thank you for the fast feedback. @masterleinad can you respond to Kyungjoo's comment above regarding a potential bug in Kokkos_Random introduced by #4675 ?

[2022-01-27 00:57] masterleinad commented on #4723
@ndellingwood Would you give #4724 a shot (given that it last least passes CUDA CI)?
In the worst case, I am also not opposed to reverting the change to `Random.hpp`.

[2022-01-27 00:58] PhilMiller commented on #4722
Following the reproducer recipe, the tests link and run successfully with this bit of workaround code from 2019 removed:

[code]

@masterleinad added that in #2288 in response to #2283

I confirmed with `make VERBOSE=1` that `-fPIC` does appear on compilation lines of the object files going into the shared libraries. The change drops `-fPIE` from the compilation lines of object files getting linke

[2022-01-27 01:05] PhilMiller commented on #4722
https://cmake.org/cmake/help/latest/policy/CMP0083.html#policy:CMP0083 may be the culprit - we may be depending on the `OLD` behavior, of not setting `-fPIE`

[2022-01-27 01:06] PhilMiller commented on #4722
The tests also built and passed with gcc 8.3.0 with the workaround removed.

I'll try the policy setting next

[2022-01-27 01:17] PhilMiller commented on #4722
Setting the policy to OLD worked to build and run the tests with gcc. On Intel, cmake is still passing `-fPIE` to the compilation of the unit test object files, and so still failing to link the subsequent binaries.

Unless we can identify the present environment in which the older workaround is still necessary, I recommend removing it.

[2022-01-27 01:20] PhilMiller commented on #4722
I opened #4725 accordingly

[2022-01-27 02:03] ldh4 commented on #3553
@Char-Aznable, I tried compiling a couple commits around Oct 30, 2020 from Kokkos develop branch, but I was still unable to reproduce this compilation error. Do you remember whether you used the `nvcc_wrapper` or not when compiling this?

[2022-01-27 02:41] PhilMiller commented on #4722
Reading up on [the details of relocation types](https://docs.oracle.com/cd/E19120-01/open.solaris/819-0690/chapter8-1/index.html) (search for `R_AMD64_TPOFF32`), it looks like the Intel compiler is maybe generating wrong or overly optimistic code for accessing the variable in question, `t_tracking_enabled`. It's perhaps because it's confused about the declaration being inside a class template, per

[2022-01-27 03:20] PhilMiller commented on #4722
Under Intel 19, depending on whether I compile with `-fPIE` or not, the generated relocation for that variable changes as follows:

[code]
These correspond to the 'Initial Executable' (IE) and 'Local Executable' (LE) TLS models, respectively.

In contrast, GCC 8.3.0  with or without `-fPIE` generates the `GOTTPOFF` relocation.

I think this may be a bug in Intel's compiler, and possibly one that w

[2022-01-27 07:42] Azrael3000 commented on #4687
Works for me. Thanks

[2022-01-27 16:48] yencal commented on #4669
My apologies I was using Kokkos v. 3.2.01 after upgrading to v. 3.5.0 I no longer see this issue.

[2022-01-27 17:15] stanmoore1 opened #4726 "Feature Request: Add deterministic RNG for debugging on GPUs"
The Kokkos RNG is not deterministic on GPUs. It would be really helpful for debugging if there was an option to force the RNG to be deterministic, even if it was slower or not as random. Worst, worst case, it could just return the same random number every time, like `0.5`. On Slack, @crtrott suggested:

[code]

[2022-01-27 17:21] ajpowelsnl commented on #4669
Great! Thank you for using Kokkos, and please do let us know if you have further questions.

[2022-01-27 17:21] #4669 closed

[2022-01-27 17:49] cz4rs commented on #4687
Closing after #4703 was merged.

[2022-01-27 17:49] #4687 closed

[2022-01-27 19:32] pgrete opened #4727 "Configure and build problem with Cray on Ookami (A64FX)"
With current `develop` and following env:
[code]

Build error with C++14:
[code]

Configure error with c++17:
[code]

[2022-01-27 20:06] masterleinad commented on #4715
@kyungjoo-kim Can you check if https://github.com/kokkos/kokkos/pull/4728 works for you?

[2022-01-27 23:45] Char-Aznable commented on #3553
@ldh4 I didn't use `nvcc_wrapper` but just clang++ for this. Here's what my cmake command looks like for building this:
[code]
where `$BREW` is the `/home/linuxbrew/.linuxbrew` in the error log message. `$CLANGBIN` is `$BREW/bin`.

[2022-01-28 13:47] pgrete commented on #4727
Quick update: looks like the `-m` error comes from specifying the `Kokkos_ARCH`.
Remove that from the configure step still results in no successful build.
With C++14:
[code]

[2022-01-28 15:49] pgrete opened #4730 "Build problem with Fujitsu compiler on Ookami (A64FX)"
Seeing this with both 3.5.00 and `develop`.

Env:
[code]
Configure:
[code]

Build
[code]

[2022-01-28 17:14] stanmoore1 opened #4731 "--gcc-toolchain flag in Makefile.kokkos causes compile error"
When building LAMMPS/SPARTA on an LLNL AMD machine, I get this error:
[code]
I tracked it down to `Makefile.kokkos` including `--gcc-toolchain=/usr/lib64/ccache/g++`, while the CMake build doesn't have this. If I remove it, then it builds without error. I also get the same error if I use `-stdlib=libc++`. @crtrott suggesting removing this flag from `Makefile.kokkos` and letting people add the flag

[2022-01-29 03:42] Char-Aznable commented on #4726
I asked the same question before: https://github.com/kokkos/kokkos/issues/2030

[2022-01-30 13:29] dalg24 commented on #4730
https://github.com/kokkos/kokkos/blob/c7024757bd5d3c40e9e157a1cac17078a2c1a55f/core/src/Kokkos_NumericTraits.hpp#L232-L238
Looks like an issue with the GNU toolchain.

[2022-01-31 12:59] Azrael3000 opened #4734 "Kokkos nvcc_wrapper does not handle -Werror correctly"
As far as I'm aware the `nvcc_wrapper` needs to explicitly capture each compiler flag explicitly. One that I would like to use is `-Werror` in particular with the `cross-execution-space-call` option as this will throw an error when a `__host__ __device__` function calls a pure `__host__` function which can lead to hard to debug issues.

According to the NVIDIA documentation the following the synta

[2022-01-31 13:50] dalg24 commented on #4734
Would you like to open a pull request for it?

[2022-01-31 14:24] Azrael3000 commented on #4734
Sure, will do

[2022-01-31 16:59] crtrott commented on #4730
Note the problem is an internal issue in Fujitsu:
[code]
has the same issue. The problem is that cfloat includes a float.h which protects the definition of all these float related macros with a check for __STDC_VERSION__ which apparently is not getting defined anywhere. As a consequence those macros do not exist in a C++ compile. I guess we could just define __STDC_VERSION__ when compiling with Fu

[2022-01-31 17:47] crtrott commented on #4730
There is a couple more small issues I am looking into right now. But we kinda decided that you may need to define that __STDC_VERSION__ thing yourself on the command line. We feel that is a bit of a big hammer to pull out. However it is likely what you need to do.

[2022-01-31 18:11] crtrott commented on #4727
The arch thing is because we likely don't know how to set arch correct for cray on aarch64. The C++17 thing is something which needs to be fixed in CMake (did you try like CMake 3.22?).

The internal error is clearly a bug in the compiler you need to report to Cray.

[2022-01-31 20:21] #4716 closed

[2022-01-31 20:34] ajpowelsnl commented on #1566
This issue is fixed.

[2022-01-31 20:34] #1566 closed

[2022-01-31 20:38] ajpowelsnl commented on #1567
This is in `Kokkos_StdAlgorithms.hpp`, and will be in Kokkos 3.6.

[2022-01-31 20:38] #1567 closed

[2022-01-31 20:39] #1604 closed

[2022-01-31 20:43] ajpowelsnl commented on #1607
@Rombur -- do you think this Enhancement is still worthwhile?

[2022-01-31 20:47] ajpowelsnl commented on #1631
@ibaned -- we now have the new callback (in Kokkos Tools).  You can add this callback to turn off fencing:

[code]

[2022-01-31 20:47] #1631 closed

[2022-01-31 20:48] #1639 closed

[2022-01-31 20:49] #1641 closed

[2022-01-31 20:53] #1607 closed

[2022-01-31 20:53] crtrott commented on #1660
We do not believe that adding a compile time parameter to the policy for this is a good design point. Note also that I said us not ms. Closing this for now.

[2022-01-31 20:53] #1660 closed

[2022-02-01 09:46] pgrete commented on #4730
This helped somewhat (fixed the `DECIMAL_DIG` issue but brought up the next one).

I got in contact with someone with more experience on that architecture and a similar code.
The recommendation was "don't bother with the traditional FCC -- too many hassles. Use FCCClang instead".
The latter worked, i.e., specifying `-DCMAKE_CXX_FLAGS="-Nclang`, which, as a bonus, also supports C++17.
So feel free

[2022-02-01 21:20] PhilMiller commented on #4697
@msimberg That kind of wrapping layer to control synchronization is exactly what I've been working on in DARMA/vt and EMPIRE, (down to a comparable `parallel_for_async` routine) and is what led me to raise this discussion. We want to be able to trust that calls to library code won't naively screw our careful efforts by inadvertently fencing more than they should/need.

[2022-02-01 23:09] ldh4 opened #4743 "Add shmem usage checks in array reductions"
This is a follow-on work from #4548.
Shared memory usage in array reductions is currently only checked in `Cuda` backend.
Since it has been noted that shmem limit differs per backend according to #4461, similar shmem checks should be placed in array
reductions in other backends if needed.

[2022-02-01 23:10] ldh4 commented on #4743
I will convert Cuda ReducerViewSizeLimit tester to a general test as part of this.

[2022-02-02 15:00] pgrete opened #4744 "Problem parsing Kokkos default compiler flags"
With current `develop`:
[code]
result in "`GCC`" being picked up as compiler argument:
[code]

In `cmake/kokkos_arch.cmake`:
[code]

If I delete the last `GCC` line the `GCC` is not added above. Moving the Clang line further up, e.g., above the `DEFAULT` line also fixes the issue.
May be related to #3975

[2022-02-02 15:12] masterleinad commented on #4744
Can you try if https://github.com/kokkos/kokkos/pull/4745 fixes this for you?

[2022-02-02 15:28] pgrete commented on #4744
Thanks for the quick fix. I'm happy to confirm that this fixes the issue.

[2022-02-02 18:15] crtrott commented on #4611
We have this now in develop @jewatkins can you check this?

[2022-02-02 18:26] jewatkins commented on #4611
Yeah I'll give it a try

[2022-02-02 19:31] crtrott opened #4747 "Is it a problem that we got Min/Max and min/max"
There is no way to mix it up at compile time (no compatible constructor). Renaming Min/Max to MinReducer/MaxReducer would be backward compatible change.

Do we think this is a significant issue?

SF F N A SA
0 4 5 4 1

Leave status quo.

[2022-02-02 19:31] #4747 closed

[2022-02-02 20:05] crtrott commented on #4697
(The following may break any code even ones which never create explicit instances)
I feel good about using a dedicated (internal instance) to initialize Views for the standard construction (`View<..> a("A",N);`). View creation would potentially not block on already launched work in any instance. This would potentially introduce a bug where code implicitly relied on this fence.

SF F N A SA
2 4 5 5

[2022-02-02 20:06] ndellingwood commented on #4707
Nightly build failure resolved, thanks @ajpowelsnl !

[2022-02-02 20:06] #4707 closed

[2022-02-02 22:04] jewatkins commented on #4611
I get the following error when building Albany with Trilinos/develop + kokkos/develop:
[code]
Any ideas?

[2022-02-02 22:29] mewall opened #4750 "Build kokkos-kernels headers only"
This issue is a follow up to issue #4279

Is there an easy way to build and install just the headers for kokkos-kernels? We'd like to use the sorting headers but don't need the library, at least for now. This would decrease the build time for the whole package that we're targeting (CCTBX, ExaFEL ECP project).

Thank you

[2022-02-02 23:17] dalg24 commented on #4611
What version of CMake are you building Albany with when you get this error?

[2022-02-02 23:20] jewatkins commented on #4611
cmake/3.19.3

[2022-02-02 23:33] dalg24 commented on #4611
Would you share the relevant lines in your `/ascldap/users/jwatkin/LandIce/Trilinos.fork/build-blake-intel-serial-kokkos-snapshot/install/lib/cmake/Kokkos/KokkosConfig.cmake`

[2022-02-02 23:39] jewatkins commented on #4611
[code]
It seems like the only thing that wouldn't be defined is `Kokkos_ENABLE_THREADS` but not sure. I tried including it during Trilinos configure but I received the same error.

[2022-02-02 23:45] dalg24 commented on #4611
[code]

[2022-02-02 23:52] jewatkins commented on #4611
[code]
Yes the loop is there.

[2022-02-03 03:53] dalg24 commented on #4611
OK I was able to reproduce with
[code]
Either set the CMP0057 policy to NEW or require a CMake version >=3.3

[2022-02-03 04:13] jewatkins commented on #4611
I should have scrolled up a bit more to see the warning...

[2022-02-03 05:19] jewatkins commented on #4611
Looks good to me:
[code]

[2022-02-03 13:15] incardon opened #4751 "Performance on GPU"
Dear Kokkos developers.

I was assessing the performance of kokkos on GPU. I used an A100. I attached the code

[code]

I tried a little bit of layout, but I was not able to go more that 470 GB/s. In particular for struct_of_arrays from which I am expecting over 1TB/s. With high probability I am doing something wrong. Does someone see some mistake, or has suggestion to understand where could be th

[2022-02-03 14:58] ajpowelsnl commented on #4750
Morning @brian-kelley and @lucbv -- is it possible to do what the asks?

[2022-02-03 15:28] lucbv commented on #4750
Well, if the library is built without ETI, it does not generate source files so it is essentially headers only. There only a few source files related to the handles when ETI is off.

[2022-02-03 15:44] #4730 closed

[2022-02-03 16:13] mewall commented on #4750
Thanks, this is helpful information.

Is there an option to turn off ETI completely in CMakeLists.txt? I set KokkosKernels_ADD_DEFAULT_ETI=OFF but that still builds BLAS and SPARSE ETIs. I didn't see anything else obvious to try.

________________________________
From: Luc Berger ***@***.***>
Sent: Thursday, February 3, 2022 8:29:04 AM
To: kokkos/kokkos
Cc: Wall, Michael E; Author
Subject: [EXTERN

[2022-02-03 17:04] masterleinad commented on #4263
Fixed in #4563.

[2022-02-03 17:18] #4263 closed

[2022-02-03 17:57] lucbv commented on #4750
There is no obvious way to turn off ETI at the moment, but if you add something like:
[code]
it turns off both valid layouts for ETI which in practice means that you should not have any ETI files generated.
I will ask on our slack channel if there is a something else more elegant that can be done...

[2022-02-03 18:04] brian-kelley commented on #4750
@mewall ``KokkosKernels_ADD_DEFAULT_ETI=OFF`` is supposed to be the correct option to do that. I'm curious how you configured to still get sparse and blas building, because for me only these 6 cpp files were compiled into libkokkoskernels:
[code]

[2022-02-03 18:06] mewall commented on #4750
I used ccmake to modify that setting. I'm not sure why it didn't work...

Meanwhile I confirmed that the other settings disable those ETIs.

________________________________
From: brian-kelley ***@***.***>
Sent: Thursday, February 3, 2022 11:05:04 AM
To: kokkos/kokkos
Cc: Wall, Michael E; Mention
Subject: [EXTERNAL] Re: [kokkos/kokkos] Build kokkos-kernels headers only (Issue #4750)

@mewall<https

[2022-02-03 23:33] ldh4 commented on #3553
@Char-Aznable I tried a couple different configurations using your cmake command, but still no luck in reproducing this compilation error. I mostly used your cmake command as is, but I specified `--gcc-toolchain` to include gcc 9.3 files over what's found in my sysroot by default. Separately, I also compiled this with a locally built `clang11`, just in case the module installed on the machine I us

[2022-02-04 05:36] #4723 closed

[2022-02-04 05:37] #4701 closed

[2022-02-04 05:37] #4662 closed

[2022-02-04 05:38] #4613 closed

[2022-02-04 10:38] XzzX opened #4757 "building a shared library with nvcc_wrapper and LTO does not work"
When `CMAKE_INTERPROCEDURAL_OPTIMIZATION` is activated in `CMake` and a shared library is linked against a `nvcc` version of `Kokkos` link time errors like `Error: symbol 'fatbinData' is already defined` occur.

MWE:
[code]
Content of `example1.cpp` and `example2.cpp` seems to be irrelevant.

Due to the `cpp` file extension and a `gcc` host compiler `CMake` will emit `-flto -fno-fat-lto-objects` t

[2022-02-04 18:16] crtrott commented on #4757
This is a limitation of the default way to build Kokkos. You could try to build Kokkos as native CUDA code. But that means you have to mark everything which depends on Kokkos as CUDA language files (which then obviously means you won't get LTO either).

[2022-02-04 18:16] crtrott commented on #4757
Here is an example:

https://github.com/kokkos/kokkos/tree/develop/example/build_cmake_installed_kk_as_language

Note this requires develop branch.

[2022-02-04 18:47] crtrott commented on #4751
Hi,

couple issues:

1) you need to fence before creating your timer, otherwise you time the init loop too (its all async).
2) you are using LayoutRight instead of LayoutLeft (which would be the default if you leave Layout off), That means you do both times measure array of structs.
3) your GB/s print is wrong (maybe you were using float before?)

Fixing all of those gives you the 1TB/s you said y

[2022-02-04 19:08] incardon commented on #4751
I see, thanks

[2022-02-04 20:58] #4751 closed

[2022-02-04 20:59] crtrott commented on #4751
Glad I could help.

[2022-02-04 22:07] #3682 closed

[2022-02-04 22:08] #3661 closed

[2022-02-04 22:09] #3651 closed

[2022-02-04 22:13] #3864 closed

[2022-02-04 22:14] #2043 closed

[2022-02-04 22:17] masterleinad commented on #4092
Fixed in #4092.

[2022-02-04 22:17] #4092 closed

[2022-02-04 22:19] masterleinad commented on #3895
Added in #4096.

[2022-02-04 22:19] #3895 closed

[2022-02-04 22:21] masterleinad commented on #4029
Fixed in #3247.

[2022-02-04 22:21] #4029 closed

[2022-02-04 22:29] #3915 closed

[2022-02-04 22:30] #3747 closed

[2022-02-04 22:33] masterleinad commented on #3816
Fixed in #3825.

[2022-02-04 22:33] #3816 closed

[2022-02-04 22:34] #3638 closed

[2022-02-04 22:39] masterleinad commented on #3789
Fixed in #3809.

[2022-02-04 22:39] #3789 closed

[2022-02-04 22:40] masterleinad commented on #3758
Fixed in #3770.

[2022-02-04 22:40] #3758 closed

[2022-02-04 23:03] #3656 closed

[2022-02-04 23:05] #3062 closed

[2022-02-06 17:32] trmcnealy commented on #1950
| AppName | Area | Institution | Website | Status | Uses KokkosKernels | Contact Name | Contact Email |
| --- | --- | --- | --- | --- | --- | --- | --- |
| Multi-Phase Multi-Porosity Model | Oil&Gas / Porous Media / NonLinear Regression / Particle Swarm Optimization | -- | https://github.com/trmcnealy/MultiPorosityModel https://github.com/trmcnealy/Kokkos.NET | Development | Y | Timothy McNealy |

[2022-02-06 22:47] PhilMiller commented on #4697
Ok, so I guess the first order of business will  be writing a test using the `kokkosp` interfaces to check the desired behavior - an initialization kernel on the default instance followed by a fence on the default instance, and no global fence.

[2022-02-07 15:36] ajpowelsnl commented on #4206
Morning @crtrott and @ndellingwood -- I'm trying to corral all blockers for the release.  Is there any news about this issue?

[2022-02-07 15:41] ajpowelsnl commented on #4717
Morning @fnrizzi -- Any updates on this issue?

[2022-02-07 15:47] dalg24 commented on #4717
Resolved in #4718

[2022-02-07 15:47] ajpowelsnl commented on #4696
Morning @janciesko and @Rombur -- Do you expect that the new Spack capability will be in Kokkos 3.6?

[2022-02-07 15:47] fnrizzi commented on #4717
ops, sorry, should be closed since the PR was merged

[2022-02-07 18:11] brian-kelley opened #4758 "IntelLLVM minimum version check uses the version of underlying Clang"
During configure with dpcpp (IntelLLVM), Kokkos develop now requires version 2022.0.0 or higher (no issue with that). But when CMake computes ``CMAKE_CXX_COMPILER_VERSION``, it appears to get the underlying Clang version (14.0.0) and then Kokkos says "14 < 2022, so this is too old".

Error output:
[code]

Configured with
[code]

The version coming back as 14.0.0 isn't a Kokkos problem, this hello

[2022-02-07 18:20] rutwik-n-jain opened #4759 "Increasing kernel duration for KOKKOS compute kernels on GPUs"
I have been trying to get the Molecular Dynamics code LAMMPS, and specifically the REAXC benchmark from Coral-2’s source  to run on a supercomputer cluster (https://asc.llnl.gov/sites/asc/files/2020-09/CORAL2_Benchmark_Summary_LAMMPS.pdf). We want to profile metrics like power, performance and execution times on GPUs running the REAXC code.

**Details:**
**LAMMPS binary:** lmp_kokkos_cuda_mpi
**Ta

[2022-02-07 18:23] ajpowelsnl commented on #4758
Thanks for this @brian-kelley -- Just to be clear, here, we want to make `CMAKE_CXX_COMPILER_VERSION` return the llvm compiler version, vs. the underlying clang you mention?

[2022-02-07 18:28] brian-kelley commented on #4758
@ajpowelsnl I don't think it's possible to change the internal CMake variable ``CMAKE_CXX_COMPILER_VERSION`` directly, but you could override ``KOKKOS_CXX_COMPILER_VERSION``. It looks like there are already paths in kokkos_compiler_id.cmake that do that for Cuda and HIP.

[2022-02-07 18:45] masterleinad commented on #4758
Hmm... I can't really reproduce. For me, the check works with both `icpx` and `dpcpp` correctly (using `CMake 3.22.1`). What is your `CMake` version?

[2022-02-07 18:55] stanmoore1 commented on #4759
@rutwik-n-jain How many atoms are you running? You can increase the number of atoms/GPU in LAMMPS, which will increase the kernel length, i.e. use something larger than `-v x 8 -v y 16 -v z 16`. @weinbe2 may have more insights on `nvprof`.

[2022-02-07 18:58] stanmoore1 commented on #4759
Sorry missed the part about running out of memory, will take a look.

[2022-02-07 19:45] brian-kelley commented on #4758
@masterleinad Ah you're right, I was using 3.19 but 3.20 and up doesn't have this problem. Thanks!

[2022-02-07 20:17] ajpowelsnl commented on #4727
Hi @pgrete -- would you like to submit a PR to deal with this issue?

[2022-02-07 20:38] ndellingwood commented on #4206
@ajpowelsnl I have not observed the failure in nightly tests recently, recent improvements/bug fix merges may have resolved this though it is difficult to pinpoint if so because the failure was so intermittent. We can keep this open for monitoring a bit longer in case it shows again, thanks

[2022-02-07 21:26] janciesko commented on #2650
@rgayatri23 Hi Rahul, what is the status of this issue? Would a code sample or perf insight be helpful?

[2022-02-07 22:08] rgayatri23 commented on #2650
Let me try with a reproducer and get try again if this is already working.

[2022-02-07 22:09] rgayatri23 commented on #4700
@ajpowelsnl . This is a goal for 3.7.

[2022-02-07 22:37] janciesko commented on #1392
We have added coverage for this case with https://github.com/kokkos/kokkos/pull/4587. @etphipp, @stanmoore1, please reopen the issue if issues persist.

[2022-02-08 01:27] crtrott commented on #4759
A lot of these very short kernel are simply stuff like filling an array with 0s or copying an array / resizing an array etc. Since the number of particles in typical MD simulations is not huge, with most of the memory being in stuff like neighbor lists, the actual particle data arrays (like forces etc.) are fairly small. For example 1M atoms force array is only 24MB (1M * 3*8bytes). At 1TB/s GPU b

[2022-02-08 06:08] aprokop opened #4765 "Consider implementing nextafterf and friends math functions"
This function (and maybe some [others](https://en.cppreference.com/w/cpp/numeric/math/nextafter)) could useful in certain situations. For example, when rounding up a double to a nearest float, e.g.
[code]
A particular use case in mind is being conservative when constructing a reduced precision bounding volume around a set of data so that it is guaranteed that all the values are within that boundin

[2022-02-08 06:27] Char-Aznable commented on #3553
It's been too long since I had this error and I can't afford reinstalling all the software to reproduce this. I'll close this for now and I may reopen this later if similar issue resurges

[2022-02-08 06:27] #3553 closed

[2022-02-08 08:58] finkandreas opened #4766 "Is `eval` needed to execute compile command?"
Looking at the code of kokkos_launch_compiler: https://github.com/kokkos/kokkos/blob/2834f94af9b01debf67c1aaa3f0eb0c903d72c8d/bin/kokkos_launch_compiler#L88
The use of `eval` seems incorrect in this context, it should be rather a plain
[code]
We do not want to re-evaluate the arguments. I ran into a problem with the filename `P_<>_projectorTest.c`.
I am almost sure that filenames with a `$` will p

[2022-02-08 14:56] dalg24 opened #4767 "Current status of mathematical functions"
Summarize below what is currently provided by Kokkos and what is missing.

x means already there
A denotes functions being added shortly

# Basic operations
functions | Kokkos | notes
--------- | ------ | -----
`abs` | x
`fabs` | x
`fmod` | x
`remainder` | x
`remquo` | | `remquo( Arithmetic1 x, Arithmetic2 y, int* quo) -> Promoted` available
`fma` |  |  `fma(Arithmetic1 x, Arithmetic2 y, Arithmeti

[2022-02-08 15:00] stanmoore1 commented on #4767
`sincos`--needed a wrapper for SYCL

[2022-02-08 15:08] ajpowelsnl commented on #4767
Morning @dalg24 -- Should we create issues for our main documentation priorities before the Bootcamp starts today?  I might help focus our efforts.  Thank you for doing this.

[2022-02-08 15:12] stanmoore1 commented on #4759
I confirm that ~600k atoms is the max that will fit into 16GB of GPU memory on V100. There are many small kernels, but the largest kernels are multiple ms:

[code]

[code]

[code]

[2022-02-08 15:16] stanmoore1 commented on #4759
Just FYI, AMD (@arghdos and others) made several optimizations to ReaxFF, see https://github.com/stanmoore1/lammps/tree/amd_hip_opt. I'm working on getting these released in public LAMMPS.

[2022-02-08 15:33] dalg24 commented on #4767
Are you asking us to add?

For reference, below is a list of non-standard functions provided by CUDA/HIP

functions | notes
--- | ---
`cospi`
`cyl_bessel_i0` | not provided by SYCL
`cyl_bessel_i1` | not provided by SYCL
`erfcinv` | not provided by SYCL
`ercfcx` | not provided by SYCL
`ercfinv` | not provided by SYCL
`exp10`
`fdivide` | not provided by SYCL
`j0` | not provided by SYCL
`j1` | not pr

[2022-02-08 15:37] stanmoore1 commented on #4767
We don't currently need `sincos`--it was in SNAP for a while but it got removed in the latest version

[2022-02-08 15:44] aprokop commented on #4767
`norm3d`/`norm2d` (and possibly `rnorm3d`/`rnorm2d`) could be beneficial to ArborX.

[2022-02-08 15:50] dalg24 commented on #4766
@finkandreas would you please try the develop branch.  It looks like #4703 resolved the issue you are reporting.

[2022-02-08 15:55] fnrizzi commented on #4711
the related PR was already merged

[2022-02-08 15:55] #4711 closed

[2022-02-08 16:25] ajpowelsnl commented on #4758
Morning @masterleinad -- same question here: will this work go into Kokkos 3.6?

[2022-02-08 16:29] masterleinad commented on #4758
Yes, it should IMHO. I marked the corresponding pull request with "Blocks Promotion".

[2022-02-08 16:46] finkandreas commented on #4766
@dalg24 Does not work either. What works is
[code]
or alternatively if you would want to insist on a keyword
[code]

[2022-02-08 17:00] ldh4 commented on #4743
@ajpowelsnl It's a bit hard to say. This subtask was separated from #4548 because we thought that it may not be done by the 3.6 release. I am still in a process of trying to get an access to a machine with a backend that this task aims to support.

[2022-02-08 18:37] ajpowelsnl commented on #4743
Thanks for your response, @ldh4.  Sounds good -- LMK if I can help with machine access, etc.

[2022-02-08 19:49] finkandreas commented on #4766
done #4769

[2022-02-09 15:13] masterleinad commented on #3475
Fixed in #4675.

[2022-02-09 17:55] #2039 closed

[2022-02-09 18:34] ndellingwood opened #4772 "Nightly test failure with Hip debug build: unit test hip.view_api_b"
Nightly Hip debug build with rocm/4.5.0 + MI100 began failing in the `hip.view_api_b` unit test:

[code]

Impacting changes to the Hip backend for this round of testing came in from PR #4371 and #4761

**Reproducer**:
[code]

[2022-02-09 18:34] ndellingwood commented on #4772
@crtrott @ajpowelsnl this should be investigated for 3.6.0

[2022-02-09 21:45] Rombur commented on #4772
I cannot reproduce this on MI100 but I do see a similar problem (different error_flag) on MI60. This is due to https://github.com/kokkos/kokkos/pull/4755 and reverting it fixes the problem.

[2022-02-10 15:00] ndellingwood commented on #4772
@Rombur the test passed our nightlies last night, so it looks like an intermittent failure on MI100 as well (at least in debug builds). Thanks for the update on changes triggering the failure, I didn't realize this was a spurious failure at the first occurrence due to an earlier PR

[2022-02-11 14:50] ajpowelsnl commented on #4772
Morning @Rombur and @ndellingwood --Is this still a blocker, or has it moved into some sort of unstable state?

[2022-02-11 15:14] Rombur commented on #4772
We think we have a fix [here](https://github.com/kokkos/kokkos/pull/4773) but it has not been merged yet.

[2022-02-11 16:09] makortel opened #4780 "Performance degradation with Kokkos 3.5"
I noticed a 2-3x slowdown of my test application with CUDA backend when updating Kokkos from 3.4.01 to 3.5. SimpleKernelTimer showed that time spent in one specific kernel increased by 20x, and it turned out that disabling Desul atomics (`-DKokkos_ENABLE_IMPL_DESUL_ATOMICS=Off`) restored the earlier performance (to large degree, at least).

Recipe to reproduce
[code]
The program needs GCC >= 8 and

[2022-02-11 16:12] masterleinad commented on #4780
Would you mind checking if the performance regression is still there with recent `develop`? We are about to release `Kokkos` 3.6 and it should be in pretty good shape by now.

[2022-02-11 16:21] makortel commented on #4780
I tested with `develop` after the merge of #4778, and the regression is still there. (I'll add this to the issue description too)

[2022-02-11 23:59] crtrott commented on #4780
Using a variant of the atomic benchmark with the following leading options:
[code]

| type | int | long | long long | unsigned | unsigned long | unsigned long long | float | double |
| --- | --- | --- | --- | --- | --- | --- | --- | --- |
| add / desul | 28.6 | 29.5 | 16 | 28.7 | 29.4 | 16.4 | 28.6 | 29.8 | 5.1 |
| add / no-desul | 28.6 | 16.5 | 16.4 | 28.6 | 16.5 | 29.5 | 28.6 | 29.8 | 3.9 |
| fe

[2022-02-12 00:10] crtrott commented on #4780
As the table above suggests switching from unsigned long long to unsigned long could fix your problem:

[code]

Looks like it does for me.  That said: obviously we should try to hit the right thing every time.

[2022-02-14 12:23] incardon opened #4781 "Teams in Kokkos"
Dear Kokkos developers

I have a question regardings teams. It turns out that on OpenMP backend, the team_size is limited to the maximum number of cores (physical + virtual) I have on my CPU. Is this observation correct, or there is a way to bypass this limit ?

I attached the code used to see this limit

[code]

[2022-02-14 15:38] #4759 closed

[2022-02-14 21:25] ndellingwood opened #4784 "Nightly build errors with cuda/9.2+Kepler arch: error calling device function from host device function"
Nightly cuda/9.2 builds, Kepler arch began failing to compile with error messages:

[code]

Failures coincide with merge of #4741, @crtrott can you investigate?

**Reproducer** (kokkos-dev):
[code]

[2022-02-14 21:54] ndellingwood commented on #4784
Looks like #4783 was already submitted

[2022-02-15 18:41] ajpowelsnl commented on #4780
Morning @crtrott and @dalg24 -- Do we want to have a real fix in for this performance regression in Kokkos 3.6?  If so, I can put the "Blocks Promotion" label on it , so that we remember to have it in the release candidate.

[2022-02-15 19:04] ajpowelsnl commented on #4766
Hi @dalg24 and @crtrott -- Can we close this issue?

[2022-02-15 19:06] #4766 closed

[2022-02-15 20:17] ndellingwood commented on #4784
Reran failing nightly build and confirmed #4783 fixed the compilation error

[2022-02-16 09:04] incardon commented on #4781
Thanks

[2022-02-16 09:04] #4781 closed

[2022-02-16 11:48] incardon opened #4790 "OpenMP performance"
Dear Kokko developers

I want to thanks for the previous answers.

I think this should be the last problem I have that I am not able to understand. This time I hopefully did my homework a little better

I extracted the code from the GPU code

I am using 128 cores on a 2 socket 64 cores Epic 7702. Kokkos has been compiled to enable OpenMP (only).

There are 3 tests:

One is full kokkos
One is OpenM

[2022-02-16 15:46] crtrott commented on #4790
Two things: You are using LayoutLeft style access in your raw OpenMP stuff, so you want to make the arrays LayoutLeft, and you are not preinitializing the memory in your local allocations for the pure OpenMP stuff - which may give you better first touch. Changing those two things about how you allocate the views brings perf on par. Note that in my tests perf got pretty equivalent either way after

[2022-02-16 16:18] crtrott commented on #4780
No this is a more complicated issue.

[2022-02-16 21:09] PhilMiller opened #4792 "Audit APIs for missing execution space parameters"
Every API that Kokkos exposes that may need to run parallel operations should allow the user to pass an execution space instance as an argument to specify where those operations should be launched.

[2022-02-16 21:11] PhilMiller opened #4793 "Audit code for incomplete use of execution space arguments"
Every routine in Kokkos that takes an execution space instance argument should consistently use and synchronize solely that execution space, and not launch operations in the default execution space or call the global `Kokkos::fence()`

[2022-02-16 21:12] PhilMiller commented on #4793
This is potentially testable through use of the tools and profiling interfaces

[2022-02-16 21:19] stanmoore1 commented on #4793
Can do we a similar audit that checks for the ability to pass `Kokkos::WithoutInitializing` into the relevant parts of the API?

[2022-02-16 21:19] PhilMiller commented on #4793
That sounds like an excellent suggestion - would you open an issue for it?

[2022-02-16 21:22] stanmoore1 opened #4794 "Audit code for incomplete use of Kokkos::WithoutInitializing"
In the past there have been many gaps in the API where it was not possible to pass `Kokkos::WithoutInitializing`. Many of these gaps have been filled, but I propose a systematic check be done that searches for corner cases where `Kokkos::WithoutInitializing` cannot be used. This request is similar to #4793.

[2022-02-16 21:22] stanmoore1 commented on #4793
Done--thanks

[2022-02-17 20:32] makortel commented on #4780
Thanks @crtrott,
[code]
appears indeed to be a sufficient workaround.

[2022-02-18 14:30] incardon commented on #4790
Thanks

Kokkos::view_alloc(Kokkos::WithoutInitializing,"tensor_property")

released the performance.
Selecting explicitly rather than implicitly reduced the gap.

`It just was the first 10/20 iterations where the Kokkos one was slow,`

Interesting ... , In my case without removing the internal initialization, the performance were bad through-out the entire test. (with both STATIC and DYNAMIC openm

[2022-02-18 19:25] ndellingwood opened #4801 "Nightly build failure, intel/17: Kokkos_Random.hpp(1591): error: name followed by "::" must be a class or namespace name"
Builds of kokkos with intel/17 are failing with the following output:

**Error snip**:
[code]

Based on error message and line indicating, possibly due to changes in #4763

Since these changes are part of 3.6.0, any fix to develop will need to be cherry-picked to release-candidate-3.6.0

**Reproducer**:
[code]

Edit: Debugging does not need to be enabled to reproduce

[2022-02-18 19:29] dalg24 commented on #4801
Please try to fully qualify the call `Impl::fill_random - > ::Kokkos::Impl::fill_random`

[2022-02-18 20:03] ndellingwood commented on #4801
@dalg24 that resolves the issue thanks for fast suggestion, I'll put in the one-line PR in a moment along with cherry-pick to release-candidate-3.6.0

[2022-02-18 22:45] PhilMiller commented on #4794
`DynamicView::resize_serial` needs to be examined, both for its initialization behavior and its execution space usage (#4792/#4793)

[2022-02-21 15:04] ajpowelsnl commented on #4784
Good morning @ndellingwood -- can we close this issue now?  We can re-open, if necessary.

[2022-02-21 15:14] ajpowelsnl commented on #4772
Morning @ndellingwood -- Are we good to go with this fix?  If so, may I close issue?

[2022-02-21 15:22] ajpowelsnl commented on #4734
Morning @dalg24 and @crtrott -- May I close this issue?

[2022-02-21 17:25] ndellingwood commented on #4784
@ajpowelsnl yes, this is resolved and confirmed to fix the nightly builds

[2022-02-21 17:25] #4784 closed

[2022-02-21 17:30] ndellingwood commented on #4772
@ajpowelsnl yes, I have not seen the issue since the post (though it was apparently intermittent). If it returns I'll reopen. Thanks!

[2022-02-22 02:32] #4801 closed

[2022-02-22 02:39] ndellingwood opened #4817 "Trilinos nightly serial build failure, intel/18: error: more than one instance of overloaded function "abs" matches the argument list"
Nightly Trilinos build (serial, intel/18, complex types enabled) began failing to compile, sample error output:

[code]

Likely following the updates for PR #4791. In the test cpp failing to compile there are using declarations for abs from both the std and Kokkos namespaces. I'm guessing with the promotion of the mathematical functions out of Experimental namespace, hopefully just dropping `using

[2022-02-22 02:47] dalg24 commented on #4817
[code]

[2022-02-22 05:10] ndellingwood commented on #4817
@dalg24 a different error message is showing up in a cuda/10.1.105 build of Trilinos (unrelated to the tacho test) following #4791, any suggestions?

[code]

[2022-02-22 19:43] ajpowelsnl commented on #4817
Hi @dalg24 and @ndellingwood -- is this issue relevant to 3.6 release candidate testing (vs. 3.7)?

[2022-02-22 19:45] dalg24 commented on #4817
No, it is develop only.

[2022-02-22 21:36] ajpowelsnl commented on #4758
Hi @masterleinad and @brian-kelley -- Are we good to go with the fix on this bug?  If so, may I close this issue?

[2022-02-22 21:38] ajpowelsnl commented on #4757
Hello @XzzX -- Did the suggestion from @crtrott help resolve your issue , and answer your question?

[2022-02-22 21:39] ajpowelsnl commented on #4750
Hello @mewall -- Did the suggestions from @lucbv and @brian-kelley help resolve your issue , and answer your question?

[2022-02-22 21:49] mewall commented on #4750
Hello,

Thanks for the follow-up. Yes. I believe there was an unresolved question about whether all the flags were really needed, but that's not important for my purpose, I'm using them now to get the build I want. Feel free to close the issue.

Mike

________________________________
From: ajpowelsnl ***@***.***>
Sent: Tuesday, February 22, 2022 2:39:19 PM
To: kokkos/kokkos
Cc: Wall, Michael E; Me

[2022-02-22 21:49] masterleinad commented on #4758
@ajpowelsnl We will close all issues that have the `InDevelop` label once the release is finalized.

[2022-02-22 22:05] ajpowelsnl commented on #4750
Thanks very much for using Kokkos, @mewall !

[2022-02-22 23:36] ndellingwood commented on #4817
@dalg24 the build error persists even with the suggested changes

[2022-02-23 00:03] ndellingwood commented on #4817
Build errors remain for both cases, intel/18 build error in Tacho and cuda/10.1.105 build

[2022-02-23 01:58] dalg24 commented on #4817
What about
[code]

[2022-02-23 05:12] ndellingwood commented on #4817
@dalg24 no luck, the same errors remain after removing that include

[2022-02-23 15:51] msimberg opened #4821 "Setting `CMAKE_CXX_COMPILER_LAUNCHER` breaks `kokkos_launch_compiler`"
Attempting to compile a CMake project depending on Kokkos with the CMake variable `CMAKE_CXX_COMPILER_LAUNCHER` set to `ccache` leads to build failures (at least with CUDA enabled). Build output with `KOKKOS_DEBUG_LAUNCH_COMPILER=1`:
[code]
Abbreviated build command: `kokkos_launch_compiler nvcc_wrapper g++ ccache g++ ...`. I suppose the extra `ccache` in between `g++` and `g++` throws off the det

[2022-02-23 15:57] dalg24 commented on #4821
Do you mean `CMAKE_CXX_COMPILER_LAUNCHER`?

[2022-02-23 16:41] #4757 closed

[2022-02-23 17:12] msimberg commented on #4821
Yep, sorry... Updated the title and description.

[2022-02-23 17:23] masterleinad commented on #4817
@ndellingwood https://github.com/kokkos/kokkos/issues/4817#issuecomment-1047373742 fixes the intel 18 build failure in Tacho and I don't see the other one. Do you have more instructions to reproduce?

[2022-02-23 19:15] ndellingwood commented on #4817
I'll try rebuilding the intel/18 build, removing the using::std didn't work for me but maybe I had something out of date
I'll test a simplified reproducer for the cuda build and error (my current workflow assumes running on a Sandia machine)

[2022-02-23 20:24] masterleinad commented on #4817
In the end, things look good for me with the following changes (which might be a bit drastical)
[code]

[2022-02-24 02:27] ndellingwood commented on #4206
* 02/23/2022

`openmp.task_fib_single test failure` on Power9 with gcc/7.2.0 (insufficient memory):

[code]

[2022-02-24 16:08] masterleinad commented on #4821
The problem here is that we check in `kokkos_launch_compiler` if the second and third arguments are the same, i.e. if the compiler implicitly invoked matches the `CMAKE_CXX_COMPILER`. In your reproducer those breaks in multiple ways. For once, the compiler invoked is not `${CMAKE_CXX_COMPILER}` but `${CMAKE_CXX_COMPILER_LAUNCHER} ${CMAKE_CXX_COMPILER}`. Further, we now have whitespaces in the comp

[2022-02-24 16:11] masterleinad commented on #4821
Side-stepping `kokkos_launch_compiler` by using `nvcc_wraper` directly also appears to work:
[code]

[2022-02-24 16:27] masterleinad commented on #4573
Fixed in #4704.

[2022-02-25 03:31] jedbrown opened #4824 "nvcc link failure with Kokkos_ENABLE_LIBDL and glibc >= 2.34"
[Glibc 2.34 integrated libdl](https://lwn.net/Articles/864920/) into libc. The residual `/usr/bin/libdl.a` is a text stub
[code]
gcc knows how to handle this just fine, but nvcc does not.
[code]
This results in link failures unless configuring `-DKokkos_ENABLE_LIBDL=OFF`. Maybe this can be turned off by default or use `-ldl` instead of CMake's explicit `/usr/lib/libdl.a`.

[2022-02-26 01:00] ndellingwood opened #4828 "Kokkos release 3.6.0"
This issue is to track status of the kokkos 3.6.0 release.

Pull requests have been created for:
Kokkos: #4827
KokkosKernels: kokkos/kokkos-kernels#1345
Trilinos: trilinos/Trilinos#10253

[2022-02-26 01:05] ndellingwood commented on #4828
@rppawlo would you be interested to test https://github.com/trilinos/Trilinos/pull/10253 with EMPIRE and provide feedback?
@stanmoore1 would you be interested to test https://github.com/trilinos/Trilinos/pull/10253 with LAMMPS and provide feedback?
@spdomin would you be interested to test https://github.com/trilinos/Trilinos/pull/10253 with NALU and provide feedback?
@vbrunini would you be interes

[2022-02-28 15:56] vbrunini commented on #4828
I'm seeing cmake errors when trying to install Trilinos with that PR branch:
[code]

[2022-02-28 16:56] crtrott commented on #4824
Does this problem go away with the latest cmake? This looks like something cmake should fix, but we can try and add a workaround.

[2022-02-28 16:57] crtrott commented on #4824
Note turning LIBDL off the way you did will disable the ability to load profiling tools during runtime.

[2022-02-28 17:03] jedbrown commented on #4824
This has been with cmake-3.22.2

[2022-02-28 17:04] jedbrown commented on #4824
We disabled LIBDL in PETSc as a workaround. I don't know if it's relevant to our users. https://gitlab.com/petsc/petsc/-/merge_requests/4890

[2022-02-28 17:13] crtrott commented on #4824
Generally the profiling tools are pretty relevant for downstream users, because it allows proper kernel names like KokkosKernels::gemv etc. to show up inside of the major third party profiling tools like Tau, VTune and Nsight Compute. But its probably an acceptable short term solution for you. We are looking into how to put a workaround in on our side.

[2022-02-28 17:16] jedbrown commented on #4824
Perhaps just check if the symbols are available despite not explicitly linking libdl?

[2022-02-28 17:43] dalg24 commented on #4828
See https://github.com/kokkos/kokkos/issues/4611#issuecomment-1028401507
What was the minimum cmake version required by the package you are trying to build?

[2022-02-28 18:20] ajpowelsnl commented on #4322
Good morning Phil - do you anticipate that the fix for this issue will be in Kokkos 3.6 or Kokkos 3.7?

[2022-02-28 21:10] vbrunini commented on #4828
The package was Trilinos, I'm not sure what cmake version it requires, but if changes to that are needed as part of updating Kokkos I'd expect those to be included in the Trilinos PR doing the update? Curiously the initial cmake configuration & build that spack did passed, the error only showed up when doing the cmake configuration for the install. @ndellingwood are you able to install Trilinos fr

[2022-02-28 23:16] spdomin commented on #4828
@ndellingwood, what is the procedure for testing here? I generally simply clone Trilinos and test against the develop branch.

How do you pull in a specific Kokkos version under a cloned Trilinos repos?

[2022-02-28 23:56] masterleinad commented on #4828
Have a look at https://github.com/kokkos/kokkos/wiki/Compiling#building-trilinos-with-kokkos-develop-branch.

[2022-03-01 02:19] ndellingwood commented on #4828
@spdomin if you'd like you can point one of your Nalu builds to `kokkos-promotion` branch of Trilinos instead of develop. The kokkos-promotion branch now contains snapshots of the 3.6 release candidates into Trilinos

@vbrunini some of our nightly builds include install testing and use a small Trilinos code e.g. https://github.com/trilinos/Trilinos/tree/master/demos/simpleBuildAgainstTrilinos, we

[2022-03-01 15:20] vbrunini commented on #4828
Ah, figured it out. I was confused because we don't use cmake for our build system, but apparently as part of our Trilinos installation spack package we create a little dummy cmake project to extract the Trilinos include & library paths and that needed the CMP0057 policy changed. Thanks.

[2022-03-01 17:36] rppawlo commented on #4828
It's going to break our builds where deprecated code is disabled. Going to need fixes in intrepid2 (@kyungjoo-kim ):
[code]
Do you plan to fix use of deprecated kokkos code in trilinos as part of the trilinos commit?

[2022-03-01 17:38] kyungjoo-kim commented on #4828
@rppawlo I can fix the issue today.

[2022-03-01 17:40] rppawlo commented on #4828
Thanks @kyungjoo-kim !

[2022-03-01 17:53] kyungjoo-kim commented on #4828
@ndellingwood Can I merge the current master branch into Kokkos-promotion ? I added Intrepid2 changes yesterday and the Kokkos-promotion branch does not have the change.

[2022-03-01 17:59] ndellingwood commented on #4828
@kyungjoo-kim let me rebase the kokkos-promotion branch on top of updated Trilinos, I'll let you know when it is ready for you to add your changes

[2022-03-01 18:11] ndellingwood commented on #4828
Cross-referencing #4830

[2022-03-01 20:00] kyungjoo-kim commented on #4828
@etphipp Something is not working anymore with deprecated code OFF.

[code]

[2022-03-01 20:55] kyungjoo-kim commented on #4828
@ndellingwood @rppawlo Done. Intrepid2 compiles and tested with deprecated code OFF. The changes are committed to the Kokkos-promotion branch.

[2022-03-01 22:06] wjhorne commented on #4828
@spdomin I'll start looking at this now and get some tests going

[2022-03-01 23:49] wjhorne commented on #4828
@spdomin I was able to install and link the kokkos-promotion branch. Currently every test in Nalu fails using it with the following :

Belos solver manager GMRES with standardized name PSEUDOBLOCK GMRES has not been registered.
terminate called after throwing an instance of 'std::invalid_argument'

Is there some deprecation related issues that could produce this?

[2022-03-02 03:33] ndellingwood commented on #4828
@kyungjoo-kim thanks for reporting, I made updates corresponding to kokkos/kokkos#3978 to accommodate the deprecated code change with 3e2ccaa85717665adaf188dac1cf91fca994cb28. Changes were made for sacado and stk_simd

[2022-03-02 20:20] PhilMiller commented on #4077
With upcoming changes to `FunctorValueTraits/FunctorValueAnalysis`, we could perhaps embed the CUDA-specific logic to do scalar copies as `volatile memcpy` in there. That would sidestep the scalar/array distinction, and cover all call sites by design.

[2022-03-02 22:02] ndellingwood commented on #4828
@wjhorne you can explicitly enable Kokkos' deprecated code with the option `-DKokkos_ENABLE_DEPRECATED_CODE_3=ON` though this should be default unless explicitly changed.
What type of build are you seeing that failure in? Also, did you start with a fresh build of Trilinos and Nalu (not just make clean)? I haven't seen that issue with Belos unit tests in my own testing but can try and replicate

[2022-03-02 22:30] ndellingwood commented on #4828
Trilinos snapshot has been updated with changes from kokkos/kokkos#4830

[2022-03-02 22:36] wjhorne commented on #4828
@ndellingwood I'll give it a try with the option you have provided and report back. This is completely fresh for both Nalu and Trilinos.

[2022-03-03 18:49] wjhorne commented on #4828
@ndellingwood I re-built everything with the additional flag and all tests ran without issue. There doesn't seem to be any issues for Nalu with 3.6.0 as it stands.

[2022-03-03 20:14] PhilMiller opened #4837 "Document synchronization semantics of create_mirror[_*] APIs"
Which of the `create_mirror` routines call `fence()` implicitly or explicitly, and do they do so globally with `Kokkos::fence()` or on some particular execution space?

[2022-03-03 22:44] PhilMiller commented on #4077
https://github.com/kokkos/kokkos/pull/4838 doesn't end up covering all of the array cases, because the provided functor can implement an overload of `join()` that takes an array directly.

Anyway, it mostly ends up demonstrating, again, that there's a race condition elsewhere in the reduction code.

[2022-03-07 19:07] ndellingwood opened #4848 "Nightly link failures with Threads/Pthreads backend"
Following merge of PR #4831 builds that enable Pthread/Threads backend fail to complete linking with output:

[code]

I tested with changes from PR #4841 but those changes did not resolve this issue for me

Sample reproducer:
[code]

[2022-03-07 19:51] masterleinad commented on #4848
Hmm... I can reproduce the failure on `develop` but for me it's fixed by #4841.
Would you mind checking which branch in [cmake/Modules/FindTPLTHREADS.cmake](https://github.com/kokkos/kokkos/pull/4841/files#diff-c2b62cffd37625c15dd87c15509a743cbfc3cfde68800e7eae296d8643fe2c73) you are using?

Does replacing that file with the content of [cmake/Modules/FindTPLPTHREAD.cmake](https://github.com/kokkos

[2022-03-07 21:19] ndellingwood commented on #4848
I retested with #4841 and gcc and intel builds worked for me, I must have had a dirty directory

[2022-03-08 20:46] ajpowelsnl commented on #4837
Hi @PhilMiller -- Would you like for this work to be in Kokkos 3.7 , or Kokkos 4.0?

[2022-03-09 18:54] ajpowelsnl opened #4856 "Revise Public and Private Header Files in Kokkos"
This issue tracks revision of public vs. private headers in Kokkos.  Users can include public headers, but not private.  We are revising the public and private headers design because ... ??

[2022-03-09 18:59] crtrott opened #4857 "What headers should be public Kokkos headers - i.e. users can include them."
### Core:

- Kokkos_Core.hpp
- Kokkos_Core_fwd.hpp
- Kokkos_Macros.hpp
- Kokkos_Timer.hpp
- Kokkos_Half.hpp
- Kokkos_MathematicalFunctions.hpp
- Kokkos_MathematicalSpecialFunctions.hpp
- Kokkos_NumericTraits.hpp
- Kokkos_Functional.hpp
- Kokkos_DetectionIdiom.hpp
- Kokkos_Pair.hpp
- Kokkos_Complex.hpp
- Kokkos_Array.hpp

### Algorithms
- Kokkos_Random.hpp
- Kokkos_Sort.hpp
- Kokkos_Algorithms.hpp

[2022-03-09 19:22] crtrott commented on #1711
We need to straighten up our overload sets for:
- resize
- realloc
- create_mirror
- create_mirror_view

[2022-03-09 19:24] crtrott commented on #4856
### Core:

- Kokkos_Core.hpp
- Kokkos_Core_fwd.hpp
- Kokkos_Macros.hpp
- Kokkos_Timer.hpp
- Kokkos_Half.hpp?
- Kokkos_Mathematicl....hpp?
- Kokkos_NumericTraits.hpp

### Algorithms
- Kokkos_Random.hpp
- Kokkos_Sort.hpp
- Kokkos_Algorithms.hpp

### Containers
- Kokkos_DualView.hpp
- Kokkos_DynamicView.hpp
- Kokkos_Functional.hpp
- Kokkos_ScatterView.hpp
- Kokkos_UnorderedMap.hpp
- Kokkos_Bitset.hpp

[2022-03-09 19:26] crtrott opened #4858 "CTAD vs make_view function"
With C++17 CTAD should give us most of what `make_view` would do. Are there reasons to introduce a `make_view` anyway?

[2022-03-09 19:27] crtrott opened #4859 "Add View CTAD"

[2022-03-09 19:52] crtrott commented on #4821
We should just not inject our compiler launcher if CMAKE_CXX_COMPILER_LAUNCHER is already set. That would still force folks to set CMAKE_CXX_COMPILER to something which can compile CUDA instead of us injecting nvcc magically, but I think that is ok.

[2022-03-10 17:54] brian-kelley opened #4861 "HIP backend: LocalMemory launch mechanism should pass functor by value"
I noticed that in the HIP backend, launches using the LocalMemory launch mechanism actually seem to take the functor/driver as a pointer to host-pinned, not by value like on Cuda:

Kokkos_HIP_KernelLaunch.hpp:
[code]

Is this something that can be resolved easily? I would imagine it would give a noticeable performance boost, since if I'm understanding right, launches have to cross PCIe at least 3

[2022-03-10 18:20] ndellingwood opened #4862 "Nightly Trilinos build errors: no instance of overloaded function "Kokkos::Impl::ViewMapping..."
Nightly builds of Trilinos with Kokkos develop branch began failing following changes on 3/9 with error output:

[code]

**Reproducer**:
[code]

Edit: This build error occurs for all Trilinos build types if Sacado is enabled

[2022-03-10 18:23] Rombur commented on #4861
The reason it is done that way is that sometimes you would hit a compiler bug at runtime. I don't remember the details maybe @arghdos  does. We can change the code but we will need to tests with several apps to check that the bug has been fixed.

[2022-03-10 18:34] ndellingwood opened #4863 "Nightly test failure with cuda/9.2 + clang/7: cuda.reduce_device_view_range_policy, cuda.reduce_device_view_team_policy failures"
Nightly cuda/9.2+clang/7 build began failing in tests `cuda.reduce_device_view_range_policy` and `cuda.reduce_device_view_team_policy` following one of the merges on 3/9:

[code]

**Reproducer**:
[code]

[2022-03-10 18:35] arghdos commented on #4861
I believe this should be fixed at this point (this was... way back in like ROCm 3.5 days), but I've never gone back to check it, but it used to cause the compiler to behave _terribly_ (think: T-Rex on a unicycle trying to hold a glass of water... spills everywhere :P)

I will note @brian-kelley, the current method absolutely does not have to cross PCIe 3x to get at the driver, though you'd be forg

[2022-03-10 18:45] brian-kelley commented on #4861
@Rombur @arghdos OK, thanks a lot for the information. So I understand this isn't quite the low-hanging performance fruit I thought it might be. I'll leave this issue up for now to document this.

[2022-03-10 18:48] arghdos commented on #4861
Correct -- so if you launched a single workgroup that did like "store some value into a member variable" it would probably be painful.

Do you remember why we have locks @Rombur? That's mildly concerning as well -- is it because the access to these `DriverTypes` isn't thread-safe?  If so, we can probably come up with an atomic version that should be.

[2022-03-10 18:52] brian-kelley commented on #4861
Hmm, what about for something like a `deep_copy` that fills a view with a constant? Even if there are enough elements to saturate the entire device, the PCIe latency is several times greater than the global latency. Plus each thread could have several global accesses in flight, whereas that first host-pinned read will block everything.

[2022-03-10 18:58] arghdos commented on #4861
Possibly, but then you have to eat the `memcpy` API latency :/.  I could see an async copy followed by a kernel launch on the same stream being useful here.

The other option (which again is on my very long 'Kokkos todo list') is that on our GPUs, at least where LargeBAR is enabled in the BIOS, you can literally just `std::memcpy` it over, though that's usually only profitable for smaller sizes (s

[2022-03-10 19:01] brian-kelley commented on #4861
I don't mean the view-to-view deep_copy, I mean the overload that's more like a memset, ``deep_copy(myView, 123);``. This is implemented as a regular parallel_for. Just as an example of a common operation that might take a hit from this launch mechanism, even when there are enough items to saturate the device.

[2022-03-10 19:05] Rombur commented on #4861
The lock is for the access of shared memory when multiple kernels are launched from different threads. There is no lock in CUDA but instead we create a memory pool. We did measure the performance of using locks and there was no slow down.

[2022-03-10 20:21] crtrott opened #4864 "Bug in 3.6 vs 3.5"
[code]

Works with 3.5 fails with 3.6 candidate with illegal memory access or sometimes misaligned access??

[2022-03-10 21:16] ndellingwood commented on #4828
Updates for release-candidate-3.6.0:

- PR #4851 with additional build system fixes regarding Pthread/Threads and Trilinos and lib interaction
- PR #4865 fixes typo using CUDA_VERSION macro
- PR #4866 with updates to workaround switch-case fall through warnings

New issue:
- #4864 illegal memory access introduced in 3.6

[2022-03-10 21:16] ajpowelsnl commented on #4857
@crtrott -- Would it be OK to close / delete this issue?  It duplicates #4856.

[2022-03-10 22:24] simon-schlepphorst opened #4868 "Fujitsu Compiler not handled in Makefile.kokkos"
Trying to compile the exercises from [kokkos-tutorials](https://github.com/kokkos/kokkos-tutorials) with the fujitsu compiler and Makefiles, I ran into the issue that the fujitsu compiler is, depending on the mode, either identified as gcc or clang. In both cases Makefile.kokkos sets incompatible flags.

So I started working on a patch #4867

- The man page and #4730 seem to suggest that Clang Mod

[2022-03-10 22:36] khuck commented on #4455
this was working as of e5a8acce571b0deeb04b8eb53b7bb2aaa9ebbb87, but current develop is giving bogus device ID information.  Please see my comments on #4694.  thanks!

[2022-03-11 20:56] ndellingwood commented on #4206
* 03/11/2022

`openmp.task_fib_single` test failure on Power9 with gcc/7.2.0 (seg fault)

[2022-03-11 23:57] crtrott commented on #4821
Michael can you check whehter #4870 fixes this for you?

[2022-03-14 14:25] spdomin commented on #4828
Greetings,

-DKokkos_ENABLE_DEPRECATED_CODE_3=ON is a temporary solution, correct? What is the long term path forward for a code like Nalu and/or Fuego - two codes who are not transitioning to GPU in the next year. In other words, what interface do we need to modify to have "non deprecated" code exercised?

[2022-03-14 18:15] ndellingwood commented on #4828
Kokkos release PR #4827 has been updated to incorporate changes listed in https://github.com/kokkos/kokkos/issues/4828#issuecomment-1064512127

Snapshot to Trilinos updated in PR trilinos/Trilinos#10253

[2022-03-14 18:22] masterleinad commented on #4828
The deprecations are not specific to GPU backends. You can find a list in https://github.com/kokkos/kokkos/pull/4807 (or https://github.com/kokkos/kokkos/blob/develop/CHANGELOG.md resp. https://github.com/kokkos/kokkos/blob/master/CHANGELOG.md once we have finalized the release and updated `master` accordingly).

[2022-03-14 19:55] crtrott commented on #4824
What about this?

[code]

[2022-03-14 21:09] dalg24 commented on #4824
The potential issue with your suggestion is we lose the `find_path` call to locate the `<dlfcn.h>" header and it is not added to the list of include directories.

[2022-03-14 21:56] dalg24 commented on #4862
Failure is caused by the merge of #4800
The issue is in Sacado.  Here is a suggested fix
[code]

[2022-03-14 22:01] crtrott commented on #4862
@etphipp what do you think? I thought Sacado only allows rank-7 view?

[2022-03-14 23:06] etphipp commented on #4862
Sacado does only allow rank-7 views.  That must be a hold-over from when the number of indices was not checked.  I thought SacadoViewFill was being called with the underlying scalar type and underlying array, but it is being called with the Sacado value and array.  So I think eliminating that rank-8 loop is correct.

[2022-03-14 23:23] crtrott commented on #4862
Great thanks! We could have allowed the i7 call again basically by ignoring all arguments beyond 8 as well in the access code path. But we explicitly wanted to check that you don't try to call the underlying mapping with somethign impossible.

[2022-03-16 15:33] masterleinad opened #4878 "Segfaults for Threads+HWLOC on Linux"
While looking into #4842, I discovered that tests segfault if HWLOC is used together with the `Threads` backend, at least on our `linux` CI, i.e. `.github/workflows/continuous-integration-workflow.yml` and I can reproduce that locally.

[2022-03-16 18:36] nmm0 opened #4879 "Custom default execution space"
See: https://github.com/kokkos/kokkos/pull/3623

The idea is to provide a build flag to enable custom default execution spaces. This can be useful if, for example, someone wishes to develop a third-party execution space and use it with an existing application that depends on default execution spaces. One concrete use case here would be adding resilience capabilities.

[2022-03-16 21:26] nmm0 opened #4881 "KOKKOS_ENABLE_DUALVIEW_MODIFY_CHECK unused in KokkosCore_config.h"
It seems like `KOKKOS_ENABLE_DEBUG_DUALVIEW_MODIFY_CHECK` is the correct one to use. I don't think `KOKKOS_ENABLE_DUALVIEW_MODIFY_CHECK` is even ever set -- should we remove?

[2022-03-21 19:17] ajpowelsnl commented on #4878
Possibly integrate into Kokkos 3.6.1

[2022-03-22 00:06] gzagaris opened #4891 "Static assertion failure due to mismatch of execution policy and functor execution space"
I have the following routine, which implements `sort_pairs()` using `kokkos::BinSort`:
[code]

The code works with `Kokkos::Serial`, however, when I enable `Kokkos::OpenMP`, I get the following static assert failure:
[code]

The stopgap solution provided by @crtrott on a corresponding discussion on Slack is to define `KeyViewType` as follows:
[code]

However, it would be nice if that can be handle

[2022-03-22 08:07] j8asic opened #4892 "CUDA LDG fetch never happens due to typo _CUDA_ARCH__"
CUDA LDG fetching is never called because it is guarded by a typo:
https://github.com/kokkos/kokkos/blob/2834f94af9b01debf67c1aaa3f0eb0c903d72c8d/core/src/Cuda/Kokkos_Cuda_View.hpp#L142

`_CUDA_ARCH__` -> `__CUDA_ARCH__`

[2022-03-22 17:54] ndellingwood commented on #4862
Here are the sacado changes I added to kokkos-promotion branch of Trilinos:
[code]

[2022-03-22 22:13] ajpowelsnl commented on #4794
**Findings from our last Documentation Exercise (Wed., March 16, 2022)**

1) No documentation on DynamicView::resize_serial (under Containers Heading in Wiki);

2) DynamicView::resize_serial initialization:  everything initialized to 0 by default; users asked to not initialize this function; instead, users want Kokkos to allocate memory, but not to initialize zero; therefore, the code itself not y

[2022-03-22 22:15] ajpowelsnl commented on #4794
**Next Steps**

 containers/src/Kokkos_UnorderedMap.hpp

This code does not have Wiki documentation.

[2022-03-24 01:08] ndellingwood opened #4902 "Trilinos nightly build error, Sacado: error no instance of ... allocate_shared matches the list"
Nightly Trilinos builds with Sacado enabled fail to compile with output:

[code]

Reproducer (kokkos-dev):
[code]

[2022-03-24 13:33] dalg24 commented on #4902
This was cause by the merge of #4823

[2022-03-24 15:06] renderdude opened #4903 "VTK-m failure with Kokkos(Cuda)"
BenchmarkFilters in VTK-m fails with current HEAD on Summit compiled against Kokkos w/Cuda. The same versions run successfully on spock agains Kokkos/HIP.  It seems to manifest inside vtk-m as arrays of mismatched size.

Kokkos commit  2834f94af (Jan 4, 2022) does not have this issue.

[2022-03-24 15:12] renderdude commented on #4903
Running against the current HEAD I get this:
<preamble>
...
-------------------------------------------------------------------------------------------------------------------------------------------
Benchmark                                                                                                 Time             CPU   Iterations
------------------------------------------------------------

[2022-03-24 15:15] renderdude commented on #4903
gcc 10.2, Cuda 11.4.2

[2022-03-25 14:55] nicolemarsaglia commented on #4903
What is your recipe for building kokkos with cuda and vtkm? I'm trying to get them to build on summit as well but I am not having success.

[2022-03-25 15:27] XzzX opened #4904 "`invalid controlling predicate` when compiling OpenMP loop with Kokkos"
Parallelizing a simple loop over `std::vector` with iterators using OpenMP compiles fine without Kokkos but results in `invalid controlling predicate` when linked with Kokkos with CUDA support.

MWE
[code]

I compiled this example with `CMake` and `find_package` for Kokkos and OpenMP.
G++11, Kokkos develop branch, CUDA/11.4

[2022-03-25 17:14] dutkalex opened #4905 "Constexpr operator[] for Kokkos::Array?"
Hi! I was wondering: why `Kokkos::Array`'s `operator[]` is not declared `constexpr`?
I'd like to be able to compute at compile time some coefficients and store them in a `Kokkos::Array`, and I end up having to write some ugly pieces of code in order to make this work (e.g. bypassing the API to access the C-array inside directly). I can't imagine a situation where having this operator available in

[2022-03-25 22:34] ndellingwood commented on #4902
`-DTrilinos_ENABLE_Sacado=ON` is the correct setting, the other was copy+paste typo reusing previous post

[2022-03-25 22:38] ndellingwood commented on #4902
Here's the compile line from that build:

[code]

[2022-03-25 22:56] ldh4 opened #4906 "Kokkos::View segfault when using runtime dimensions of 8x16 or 8x32"
We found that accessing a `Kokkos::View` created with runtime dimensions of 8 produces a segfault when its dimensions are 16 or 32.

But when the view was allocated in compile time dimensions or combination of compile time and runtime dimensions, this segfault is not produced.

Here's a reproducer:
[code]

* Segfault seems to happen when lhs reference is invalid as seen when running in gdb
* Usage

[2022-03-26 01:15] PhilMiller commented on #4906
That puts the view at exactly 2^32 elements. I wonder if there's a missing conversion from int to size_t  when allocating this way. Could you report v.data(), v.size(), and &lhs

[2022-03-26 01:35] ldh4 commented on #4906
When using 16 for dimensions' sizes:
`v.data(): 0x1ec6680     v.size: 4294967296      &lhs: 0x401ec667c`

For 32:
`v.data(): 0x1574680     v.size: 1099511627776   &lhs: 0x40157467c`

And this is when using 24 (a working case):
`v.data(): 0x7fdedd20e0c0        v.size: 110075314176    &lhs: 0x7fe56120e0bc`

[2022-03-26 02:21] dalg24 commented on #4905
It looks like an oversight on our part.

[2022-03-28 15:01] renderdude commented on #4903
Sure, this is the script that I use for Summit (it's more of a cut and paste thing then actually running it). Also, I found that it's in the RC-3.6.0 branch, so I'm trying a git bisect to find the bug, but it's a 2+ hour loop each good/bad selection:

use_gcc=true

if ${use_gcc}; then
  CUDA_VERSION=11.4.2
  COMPILER_VERSION=10.2.0
  module load cuda/${CUDA_VERSION} gcc/${COMPILER_VERSION} cmake g

[2022-03-28 16:39] ajpowelsnl opened #4908 "SYCL Testing and Development Framework on kokkos-dev-2"

[2022-03-28 19:03] renderdude commented on #4903
Here's where bisect stand at the moment:
git bisect start
# good: [2834f94af9b01debf67c1aaa3f0eb0c903d72c8d] Merge pull request #4643 from kokkos/PhilMiller-patch-1
git bisect good 2834f94af9b01debf67c1aaa3f0eb0c903d72c8d
# bad: [989ca926ea7bf82c5606d30828ade4ca63cfece5] Merge pull request #4866 from ndellingwood/rc-3.6.0-4852
git bisect bad 989ca926ea7bf82c5606d30828ade4ca63cfece5
# good: [2fc105

[2022-03-28 19:08] ajpowelsnl commented on #4904
Is the problem just linking , or is it at the compiling stage?

[2022-03-28 19:12] ajpowelsnl commented on #4905
Discuss on Wed.

[2022-03-28 19:20] crtrott commented on #4904
Non Kokkos reproducer, works with pure G++ (11.1) but not nvcc (11.6)
main.cpp:
[code]
NVCC fails:
[code]

g++ works:
[code]

[2022-03-28 19:22] crtrott commented on #4904
[code]

[2022-03-28 19:30] ajpowelsnl commented on #4727
Hi @pgrete -- Have you had a chance to look at this issue ?  Unfortunately , we don't don't have access to a Cray with arch 64.

[2022-03-28 19:32] ajpowelsnl commented on #4685
Hi @rgayatri23 -- Is this still a problem?

[2022-03-28 19:36] ajpowelsnl commented on #4861
Hi @Rombur -- is there an action item on this issue, or is it resolved?

[2022-03-28 19:40] brian-kelley commented on #4685
I replaced the team size with AUTO in all the dummy policies, and will do that from now on. I'm fine with that being the standard thing to write, so I'll just close this.

[2022-03-28 19:40] #4685 closed

[2022-03-28 21:17] masterleinad commented on #4902
The `Stokhos` implementation didn't look close enough to what we are doing in `Kokkos` so I opted to ignore the extra argument and also made it backward-compatible.
The `Sacado` code looks identical to what we are doing in `Kokkos` and I just applied the respective changes.

[2022-03-29 00:00] matt-stack commented on #4904
Bug submitted to NVIDIA, will update here

[2022-03-29 00:19] ndellingwood commented on #4902
@etphipp can you comment on the suggested Sacado changes above https://github.com/kokkos/kokkos/issues/4902#issuecomment-1081143533, in particular if backward-compatible versions of the routines are needed?

[2022-03-29 13:01] pgrete commented on #4727
Hi @ajpowelsnl
I gave up on the cray compilers as I got a working configuration with Fujitsu clang.
I now scheduled some time to revisit this mid April, but I'll only to be able to spend a limited amount of time trying to fix this.

[2022-03-29 15:20] ajpowelsnl commented on #4727
Morning @pgrete -- Many thanks for your response, and I'm glad to hear you found a solution.  Please do let us know if we can help with anything else, and thank you for using Kokkos.

[2022-03-29 18:11] s-sajid-ali opened #4910 "Build issue when using spack"
Hi Kokkos-developers,

When I try to build `kokkos@develop+openmp` via `spack`, I get the following error:
[code]

  However, when I manually run the same command, there is no error whatsoever:
[code]

Moreover, I am able to compile the file in question (`clang_omp.cpp`) and run it outside cmake:
[code]
where the `[1]` indicates the return value from the binary.

[2022-03-29 20:20] PhilMiller opened #4911 "Three-argument deep_copy taking exec_space for DynamicView"
Follow-on to #4057 in pursuit of #4792

[2022-03-29 20:43] etphipp commented on #4902
The code looks fine to me.  By backward compatible, do you mean works with some older version of Kokkos?  I don't see why that would be needed.  And this code should only called by Kokkos, right?

What is the purpose of the additional argument?

[2022-03-29 21:06] masterleinad commented on #4902
Yes, it's all in `Impl` namespaces.

We fence less if an execution space is provided in the `Kokkos::View` constructor.

[2022-03-29 21:16] etphipp commented on #4902
Then I don't see why maintaining backward compatibility would be needed.  We have never attempted to keep Sacado/Stokhos working with any older version of Kokkos.

[2022-03-29 21:21] PhilMiller commented on #4911
Motivated by checkpointing support in EMPIRE. Not at all urgent, because the relevant code path through https://github.com/DARMA-tasking/magistrate/pull/202 isn't currently used.

[2022-03-29 22:26] nliber commented on #4905
The whole `std::array` interface is `constexpr`; `Kokkos::Array` should be as well.  I think `.data()` is the only other function left that is not yet `constexpr`.

Note:  it may not just be an oversight.  I can't remember if C++17 language changes were required for the non-`const` versions of `operator[]` and `.data()` to be `constexpr`.

[2022-03-29 23:47] PhilMiller opened #4913 "View self-assignment crashes with double-free"
Repro:

[code]

Crashes with a double-free:

[code]

[2022-03-30 15:01] renderdude commented on #4903
After much bisecting, the commit that's tripping VTK-m (commit 626c806772ecbe938e202839a2d574b80aeeeef3) is the following:

733f23401fa43feaf922e69892e147fffc3134f2 is the first bad commit
commit 733f23401fa43feaf922e69892e147fffc3134f2
Author: Daniel Arndt <arndtd@ornl.gov>
Date:   Thu Sep 23 13:03:40 2021 -0400

    Don't fence in CUDA/HIP DeepCopy

 core/src/Cuda/Kokkos_CudaSpace.cpp |  9 +++--

[2022-03-30 16:31] s-sajid-ali commented on #4910
In case it helps in debugging, here is the compiler configuration:
[code]

[2022-03-30 16:39] renderdude commented on #4903
It looks like we may need to fence our deep_copy. Will update ticket if that fixes it.

[2022-03-30 16:42] janciesko commented on #4903
Great, thanks for looking into that. Let us know if fencing after the DC fixed the issue.

[2022-03-30 17:07] crtrott commented on #4910
What was the full configure output of the spack build?

[2022-03-30 17:37] s-sajid-ali commented on #4910
In case it helps, here are the compiler invocations reported by spack's `-d` option:

[code]
[code]

[2022-03-30 17:41] janciesko commented on #4910
The Spack recipe has a dependency on `cmake-3.22.3-` it seems, running cmake manually may use a different cmake version. Can you see what `cmake --version` is giving you?

[2022-03-30 17:46] s-sajid-ali commented on #4910
Same issue even after taking that into account.

[code]

[2022-03-30 17:50] s-sajid-ali commented on #4910
Is there a way to print the output of the `TRY_COMPILE` command? `--debug-trycompile` does not inform one of the actual error, it just saves the intermediate object file `clang_omp.cpp.o.d` and the command that should have generated the executable, but failed for some reason.

[2022-03-30 17:59] janciesko commented on #4910
Do you see something in ./CMakeFiles/CMakeError.log? In theory TRY_COMPILE should complain there.

[2022-03-30 18:01] s-sajid-ali commented on #4910
That is what I hoped for, but there is no such file!
[code]

[2022-03-30 18:15] s-sajid-ali commented on #4910
FWIW: the `try_compile` command works when I run it on the generated object file:
[code]

[2022-03-30 22:29] s-sajid-ali commented on #4910
I believe this is a linker error from the clang-openmp trying to use hwloc as the following build succeeds:
[code]

 When I compile the program from outside spack, I have the compiler loaded, which also loads hwloc as it is a dependency of llvm. However, `spack` does not do this and the linker most likely fails when trying to link the object file to the openmp library as it cannot link to the hwlo

[2022-03-31 17:58] mewall opened #4924 "Initialization error when importing two python modules containing kokkos code"
I am encountering an error when importing two python modules that contain kokkos code.

I'm wondering if someone might be able to provide suggestions about resolving the error.

For example, the following script:

[code]

yields the following output when run:

[code]

By examining backtraces in gdb, I can see that the error is thrown from a library containing kokkos code in the "lunus" module when

[2022-03-31 18:06] dalg24 commented on #4905
This is fixed in the `develop` branch

[2022-03-31 20:00] mewall commented on #4924
Actually, I found a workaround that I should be able to adopt.

Here is a script that avoids errors:

from simtbx.kokkos import gpu_instance
kokkos_run = gpu_instance(deviceId = 0)
print("Made it past gpu_instance()")
for i in [0]:
    import lunus
kokkos_run.finalize_kokkos()

It seems like any Views in lunus (even ones whose context is limited within functions that aren't explicitly invoked) nee

[2022-03-31 20:26] mewall commented on #4924
This also works:

import lunus
lunus.kokkos_start()
print("Made it past kokkos_start()")
for i in [0]:
  from simtbx.kokkos import gpu_instance
lunus.kokkos_stop()

So it looks like what is important is that the two modules are not imported together in the same context. To use both of them, they need to be imported hierarchically.

________________________________
From: Wall, Michael E
Sent: Thurs

[2022-03-31 23:20] vbrunini opened #4925 "Make View::shmem_size() device callable"
Currently, View::shmem_size() does not have KOKKOS_*_FUNCTION markings, I'd find it useful to be able to call it inside a kernel. Could the markings be added?

[2022-03-31 23:39] ndellingwood opened #4926 "Nightly Serial build failure, TestStringManipulation.cpp: error: static assertion failed"
Nightly Serial build of Trilinos with Kokkos' develop branch failed to compile with intel/18 with the following message

[code]

I'll update the issue as more testing completes to give a better scope of which builds are affected

[2022-04-01 02:34] ndellingwood commented on #4926
Also failing with older gcc, at least with gcc/5.3.0

[code]

[2022-04-04 15:53] Rombur commented on #4903
Looking at the PR, the commit https://github.com/kokkos/kokkos/commit/733f23401fa43feaf922e69892e147fffc3134f2 will fail if the following commits are omitted. With the changes made in that commit, we need to add fences in Kokkos and that's only done in the following commits. However, it is possible that we forgot to fence something in Kokkos.
@renderdude when you say that you are reverting the ind

[2022-04-04 16:53] renderdude commented on #4903
I'm working on the RC-3.6.0 branch. However, I had made a mistake and was still on an older commit. I'm currently on HEAD for RC-3.6.0 (which crashes) and I reverted the change in DeepCopyCuda and am recompiling. It's just that Summit is slow and takes about an hour every time I rebuild VTK-m + Kokkos.

[2022-04-04 17:47] renderdude commented on #4903
Okey dokey. I reverted the change to DeepCopyCuda in RC-3.6.0 (commit 989ca926ea) and looped the benchmark 20 times and it passed all 20 without a crash. And for all sizes of wavelet-dims, [8,256] (pow of 2).

This is the change I made:
diff --git a/core/src/Cuda/Kokkos_CudaSpace.cpp b/core/src/Cuda/Kokkos_CudaSpace.cpp
index cc5c3b802..469bdb6fc 100644
--- a/core/src/Cuda/Kokkos_CudaSpace.cpp
+++

[2022-04-04 19:23] ajpowelsnl commented on #4903
Project:  https://gitlab.kitware.com/vtk/vtk-m

[2022-04-04 19:32] ajpowelsnl commented on #4925
Hi @vbrunini -- would you like to open a PR on this issue?

[2022-04-04 21:43] Rombur opened #4935 "OpenMP refactor and partition_space"
This issue is to keep track of the OpenMP backend refactor and the implementation of `partition_space`. The OpenMP backend is very different than the other backend. This makes it harder to understand how the backend works and it makes it harder to implement new features. Because it would be too big to open a single PR, I will  use the following steps:
- [x] enable `partition_master` test: it seems

[2022-04-06 18:56] ndellingwood opened #4941 "Changes to drop volatile lead to kokkos-kernels nightly test failures with OpenMP, Cuda backends on Volta70"
The changes to drop volatile from the reduce and scan join routines with PR #4931 results in failure of some kokkos-kernels tests (graph_openmp, graph_cuda, sparse_cuda) with OpenMP and Cuda backends on Power9+Volta70 arch:

graph_openmp: fails with gcc/6.4.0, gcc/7.2.0
graph_cuda, sparse_cuda: fails with cuda/9.2.88+gcc/7.2.0

Tests fail with SHA 335468d25c279ebbfea2f9914800c2830d08714c
Tests pas

[2022-04-06 19:11] rgayatri23 opened #4942 "Cuda backend fails to allocate a single integer in the PerTeam scratch space."
[code]

This fails with CUDA backend at runtime with illegal memory access errors.
I need to either allocate 2 integers or use the `shmem_size` routine.

I used cuda/11.2.1.

[2022-04-07 03:09] ndellingwood commented on #4941
@PhilMiller in case useful extra info, the `graph_openmp` failures in kokkos-kernels also occur with OpenMP builds on ARMV8_THUNDERX2, tested with armclang/20.1 on the Mayer testbed

[2022-04-07 03:16] PhilMiller commented on #4941
Cool, I'll be able to easily test that on Stria

[2022-04-07 03:48] ndellingwood commented on #4941
In the Cuda builds and `sparse_cuda` tests, here is a snip of output from failing spgemm test:

[code]

That was a build with cuda/11.1 on x86+Volta70, I'm assuming this could be reproduced on kokkos-dev-2

**Reproducer** (Cuda+Serial)
[code]

[2022-04-07 03:59] ndellingwood commented on #4941
The Cuda build I referenced above https://github.com/kokkos/kokkos/issues/4941#issuecomment-1091049307 was running at the same time as another job (the system tested on does not have dedicated compute nodes), I'll shuffle the start time of the test and update after another run in case the failure is due to jobs trying to execute tests simultaneously

[2022-04-07 15:19] PhilMiller commented on #4941
The enormous size of the reported failed allocation on CUDA is very suspicious. That could arise from a bad reduction result, I guess, but the values should come out too low, not outrageously high

[2022-04-07 16:11] crtrott commented on #4942
That is expected. Kokkos Views have alignment requirements which shmem-size takes into account.

[2022-04-07 17:50] ndellingwood commented on #4941
I relaunched the cuda/11 build to ensure it was the sole job running on the machine, the failures with spgemm https://github.com/kokkos/kokkos/issues/4941#issuecomment-1091049307 remained and failed in a debug build as well

[2022-04-08 13:11] jrouzaud opened #4949 "DGX-2 (V100): maxBlocksPerMultiProcessor returns 0"
Hello,

I am developing a simple code, it runs well on CPU (with OpenMP) but when trying with CUDA, it crashes due to an assert because block_size is set to 0.

I track (one of) the reason(s) within the Kokkos code.

cuda_max_active_block_per_sm : properties.maxBlocksPerMultiProcessor returns 0

I am using CUDA 11.5.1

Thank you very much,
Regards

[2022-04-08 18:36] ajpowelsnl commented on #4949
Hi @jrouzaud -- Many thanks for your question.  Would you please provide a simple, standalone reproducer for the error you're seeing?  Please include information about your compiler, Kokkos version, and any other details pertinent to your configuration and build steps.

[2022-04-08 21:57] PhilMiller opened #4952 "Reduction functors with only join(volatile) are silently having operator+= called instead"
Code that uses custom reducers may be silently broken right now:

[code]

Looks like we may need to fix `core/src/impl/Kokkos_FunctorAnalysis.hpp` to support the versions of `join()` taking `volatile` parameters, maybe with a deprecation warning

[2022-04-09 00:03] carterbox opened #4953 "Compiling for multiple CUDA architectures"
NVCC can generate machine code for multiple compute capabilities (a fat binary), but Kokkos CMake list does not let me specify multiple CUDA architectures:

[code]
I looks like there are some compile-time decisions being made based on the target architecture:

[code]
so it seems that `KOKKOS_ARCH_(SOME_CUDA_ARCH)` is an optimization target of which there can only be one. However, I want to generat