[2022-08-30 00:23] nmm0 opened #5406 "remove `Kokkos_PhysicalLayout.hpp`"
This file/class is unused and untested. It's also in `Impl` so shouldn't be used externally

[2022-08-30 13:05] masterleinad commented on #5392
Fixed in #5402 and #5404 (and only relevant for `develop`).
@ndellingwood Please reopen if the problem persists for whatever reason.

[2022-08-30 13:05] #5392 closed

[2022-08-30 18:42] ajpowelsnl commented on #5315
I now have a build of clang:

` ./clang++ --version
clang version 16.0.0 (https://github.com/llvm/llvm-project.git 42d48d09666279bdd05d70ff7c353466ae79711a)
Target: powerpc64le-unknown-linux-gnu
Thread model: posix
`

[2022-08-31 16:52] crtrott commented on #5380
We checked, and the behavior has been consistent for years, so there is no issue.

[2022-08-31 16:52] #5380 closed

[2022-08-31 20:37] masterleinad opened #5413 "Add CMake option to bypass CMake compiler check"
We decided in #5349 to add an option to bypass our `CMake` compiler (version) check to allow using an unsupported compiler such as `XLClang`.

[2022-08-31 20:49] brian-kelley opened #5414 "Algorithms RandomAndSort test should be split into multiple cpp files"
Right now, KokkosAlgorithms_UnitTest_RandomAndSort is compiled from a single cpp file. This file (dummy.cpp) is generated by cmake once for each backend to include TestRandomCommon.hpp, TestSortCommon.hpp and TestNestedSort.hpp. Instead, each of these should be its own .cpp file and compiled independently to object files, which are linked to make the final test executable.

[2022-09-01 14:22] #5414 closed

[2022-09-01 17:56] dalg24 opened #5419 "Improve `ExecutionSpace::print_configuration` in all backends"
The overarching goal is to have `Kokkos::print_configuration` print something actually useful.  At the moment it is clearly lacking important things like Kokkos commit hash, Desul bundled or external (specify version/commit hash in that case)...

This issue is specifically asking backends developer what information they would themselves like to see in a bug report.  This is the kind of things we w

[2022-09-01 18:03] PhilMiller commented on #5419
For the commit hash, there's a bit of CMake code we can grab from DARMA-tasking/vt that embeds it in a variable in a cpp file. That's preferable to a `#define` or sticking the value in a header, because it avoids forcing a full rebuild when very little has changed.

[2022-09-01 20:38] ndellingwood opened #5420 "Nightly build errors, intel/19.5: Kokkos_NestedSort.hpp(92): error #869: parameter "valueView" was never referenced"
**Describe the bug**
Following merges on 08/31/2022 the compilation errors with intel/19 began:
[code]

New commits that came in with the failing build:

Team- and thread-level sort, sort_by_key ([details](https://jenkins-son.sandia.gov/job/Kokkos_develop_blake_intel_openmp_pthread_serial_195281/479/changes#1f946f9af1eaf4cee911ba6be339144bd9c948a1) / [githubweb](https://github.com/kokkos/kokkos/co

[2022-09-02 20:53] masterleinad commented on #5420
Fixed in #5421 (`develop` only).

[2022-09-02 20:53] #5420 closed

[2022-09-02 21:23] crtrott commented on #5363
I think it makes most sense if its the current thread.

[2022-09-02 22:42] crtrott opened #5426 "Faulty warning about missing return statement in CUDA"
With NVCC 11.2 and GCC 9.1 I get the following:
[code]

Note the code definitely has a return statement in both branches.

cmake:
[code]

The warning does not appear with CUDA 11.7 nor 11.6 and GCC 9.1

[2022-09-02 22:45] crtrott commented on #5426
Is there maybe something we can do with diagnostic pragma push/pop?

[2022-09-02 23:10] crtrott commented on #5426
Fails all the way through 11.4.4, 11.5.0 works:
https://godbolt.org/z/b7c16bchv

[2022-09-06 18:45] masterleinad commented on #5419
For SYCL+CUDA, we currently get output such as
[code]
which would be plenty for a bug report but most of the information only appears relevant if people are to use `Kokkos+SYCL` with uncommon hardware.

[2022-09-07 00:40] ndellingwood opened #5432 "Nightly build failures on develop with intel/19, "missing return statement at end of non-void function""
**Describe the bug**
Nightly builds with intel/19 (all backends) fail to compile with output:
[code]

Commits merged when failure began:

Remove code only used by ROCm < 5.0 ([details](https://jenkins-son.sandia.gov/job/kokkos_osrhel7_intel_1905_openmp_pthread_serial/448/changes#0fb2f480b83f11ce3697277475642534ef660424) / [githubweb](https://github.com/kokkos/kokkos/commit/0fb2f480b83f11ce36972774

[2022-09-07 00:51] dalg24 commented on #5432
Same issue as #5426

[2022-09-07 01:18] dalg24 commented on #5432
https://godbolt.org/z/q7vE9EGYs

[2022-09-07 03:04] dalg24 commented on #5419
<snip>
which would be plenty for a bug report but most of the information only appears relevant if people are to use Kokkos+SYCL with uncommon hardware.

What about architecture macro defines?
Are they entries that we don't really care about and hence we should drop?  What about all these image support info?

[2022-09-07 04:43] PhilMiller commented on #5419
There's been at least one bug fix since I joined the project that was architecture dependent, relating to weird code alignment issues. #4223 and #4309

If we want detailed reporting, we should embrace it.

[2022-09-07 18:34] masterleinad commented on #5426
Fixed in #5427.

[2022-09-07 18:34] masterleinad commented on #5432
Fixed in #5433.

[2022-09-07 19:03] crtrott opened #5439 "CHANGELOG: 4.0"
This is the changelog for the upcoming Release 4.0

### Features:
- Allow value types without default constructor in `Kokkos::View` with `Kokkos::WithoutInitializing` https://github.com/kokkos/kokkos/pull/5307
- `parallel_scan` with `View` as result type. https://github.com/kokkos/kokkos/pull/5146
- Introduced `SharedSpace`, an alias for a `MemorySpace` that is accessible by every `ExecutionSpace`

[2022-09-07 19:13] stanmoore1 opened #5440 "Suppress warning: function declared with "noreturn" does return"
With latest `develop` when `KOKKOS_ENABLE_DEBUG_BOUNDS_CHECK` is enabled, I get a ton of

[code]

i.e. one warning for every Kokkos file that includes this header, which is pretty distracting. It would be good to suppress the warning, since it isn't helpful.

This warning also shows up for v3.7 RC, but not for v3.6.

[2022-09-07 19:13] stanmoore1 commented on #5440
@PhilMiller

[2022-09-07 20:59] masterleinad commented on #5440
@stanmoore1 Would you mind checking that #5441 fixes this for you?

[2022-09-08 15:38] stanmoore1 commented on #5440
Yes #5441 fixes the issue, thanks.

[2022-09-08 16:21] ndellingwood commented on #5432
Reopening, still seeing the issue

[code]

[2022-09-08 16:23] ndellingwood commented on #5432
Issue still present as of SHA d0f710de8010a476abb93f9f63a0b0bc27f7541f

[2022-09-08 19:33] ndellingwood commented on #5194
@PhilMiller I'm marking this InDevelop via PR #5409

[2022-09-09 03:12] JBludau opened #5446 "Kokkos and `#include <windows.h>`"
The problem is that as soon as we want to use `min` and `max` as function names (e.g. in `Kokkos_NumericTraits.hpp`) we get compilation errors. But a user (or in my case a testcase) might want to include `windows.h`. This creates an interesting problem:

`min` and `max` are defined in `windows.h` as preproc macros. Thus, as soon as someone wants to include `windows.h` in code that also uses kokkos

[2022-09-09 03:21] PhilMiller commented on #5446
The last point you note, of fixing call sites, won't help the function declarations that we need to do.

One guard rail that we could absolutely put in place would be to say
[code]

If compilation ever reaches a point where the macro would screw it up, we can at least report the error sensibly

[2022-09-09 03:23] PhilMiller commented on #5446
On the first point, an include of Kokkos_Core.hpp or <algorithm> would have to precede pretty much any other header, because anything else might reach windows.h before we get the chance to guide it

[2022-09-09 03:26] PhilMiller commented on #5446
(can you tell this isn't the first Windows-supporting library code base I've worked on?)

[2022-09-09 03:30] PhilMiller commented on #5446
Maybe when we demand C++20 support, we can insist on getting Windows API bits from a module rather than a textual header inclusion. If we can tighten compiler requirements just for Windows, we could see about doing that sooner

[2022-09-09 04:03] JBludau commented on #5446
I guess exporting `DNOMINMAX` or just documenting and having the user deal with it might be the 'best' here ...

[2022-09-09 04:10] PhilMiller commented on #5446
If we don't export `NOMINMAX` ourselves, we could definitely put in the guard rail to report the error nicely

[2022-09-09 04:17] JBludau commented on #5446
I almost see having the guard rail as `non-negotiable` :-)

[2022-09-09 07:08] msimberg commented on #5446
I dislike `min`/`max` as macros as much as anyone, but just in case you weren't aware, you can  absolutely wrap the function names also in definitions/declarations and the macros won't be expanded, see https://godbolt.org/z/1oa8Y3o59.

[2022-09-09 13:13] masterleinad commented on #5446
Couldn't we also possibly use `#pragma push_macro("min")` to disable the macro and re-enable it at the end of the file with `#pragma pop_macro("min")`?

[2022-09-09 13:18] msimberg commented on #5446
Unfortunately no. I suppose being allowed to put parentheses around most things combined with https://en.cppreference.com/w/cpp/preprocessor/replace#Function-like_macros ("each instance of the macro name followed by a `(`) is what helps here.

I only know about this because HPX has exactly that same problem: https://github.com/STEllAR-GROUP/hpx/blob/445dff84c2a9f90bf5c9ef43e9edfef504d77f1e/libs/co

[2022-09-09 13:27] PhilMiller commented on #5446
I imagined that would be a neat solution, but I didn't figure compilers actually supported that.

It makes protecting our definitions easy and self contained. Our internal uses can use the parentheses trick.

That just leaves the question of whether/how we communicate this to impacted users

[2022-09-09 15:00] matt-stack commented on #4904
Hi all, wanted to update here and report that the pre-increment issue has also been addressed and the fix will be in Cuda 12. The post-increment should work in Cuda 11.8 release. Thank you

[2022-09-09 17:32] ndellingwood commented on #5432
So far the only way to suppress the warnings I found is to add the `-diag-disable=1011,-diag-disable=869` flags; I submitted a PR to update the nightly testing script to include these flags for now

[2022-09-09 17:32] ndellingwood commented on #5432
Also seeing the issue with 2021.5.0

[code]

[2022-09-09 20:06] Rombur commented on #5419
Current output for HIP
[code]
I plan on removing some of the output (things like `Vectorization` and `Memory`) and modifying a couple of entries.

[2022-09-09 20:15] dalg24 commented on #5419
@Rombur do you think including managed memory support info would be useful?

[2022-09-09 20:17] Rombur commented on #5419
Yes

[2022-09-09 20:32] JBludau commented on #5419
@dalg24 @Rombur this will not be easy:

We can look if the driver reports the capability, sure, but this does not mean, that it is really enabled. To enable it we would need to know what the compile flag for `xnack` is, if the OS supports the `HMM` kernel module, and check whether either `HSA_XNACK=1` is defined, or `amdgpu.noretry=0` was specified at kernel boot time ...

[2022-09-09 20:35] JBludau commented on #5419
We already raise a runtime warning at first allocation into `HIPManagedSpace` if the driver does not support it and a separate one if we do not detect `HSA_XNACK` ... but we could only deduce something meaningful from the driver support failing

[2022-09-12 18:29] ajpowelsnl commented on #4904
Thank you so much for the fix and the update!

[2022-09-12 23:03] jjellio opened #5453 "Kokkos allow HIP compilers that aren't called hipcc"
This is a request!
Kokkos (through Trilinos - or always?) - wants to enable a TPL of ROCM if the compiler is not `hipcc`.
https://github.com/kokkos/kokkos/blob/develop/cmake/kokkos_tpls.cmake#L42

This is kinda annoying, and I religiously patch my Trilinos pulls to `SET(ROCM_DEFAULT OFF).`

The builds all work fine with amdclang or crayclang directly ... as these compilers imply ROCM (do any moder

[2022-09-15 17:31] cwpearson opened #5458 "`OpenMPTarget` requires 32 threads per team but no `Kokkos::TeamPolicy<...>::team_size_min()`"
https://github.com/kokkos/kokkos/blob/d19aab9981a2c447e832a7b4eb7b16992328fb14/core/src/OpenMPTarget/Kokkos_OpenMPTarget_Exec.hpp#L1087-L1088

It would be great to provide `TeamPolicy::team_size_min()` (to go with `team_size_max`), if there is a non-obvious minimum team size (i.e., the minimum team size might not be `1`).

[2022-09-15 17:53] cwpearson opened #5459 "Improve API documentation for `Kokkos::single`"
Add a `Kokkos::single` page under "Parallel Dispatch"
- [ ] https://github.com/kokkos/kokkos-core-wiki/tree/main/docs/source/API/core/parallel-dispatch

Add `Kokkos::single` to the following lists
- [ ] https://kokkos.github.io/kokkos-core-wiki/API/alphabetical.html
- [ ] https://kokkos.github.io/kokkos-core-wiki/API/core/ParallelDispatch.html

Refer to Kokkos::single in TeamRange
 - [ ] https://k

[2022-09-15 18:12] psakievich opened #5460 "Examples for `print_configuration` need to be updated"
**Describe the bug**
In prior versions of kokkos `print_configuration` was a static function for several execution spaces. Since the static property has been removed a few examples using this feature are out of date and should be updated.  Doing a Github search I found the following cases:

https://github.com/kokkos/kokkos/blob/b52f8c835f4df003954dad66d9761094f8baa66c/example/build_cmake_installed

[2022-09-15 18:36] masterleinad commented on #5460
All of these have been fixed in the `develop` branch (and the release branch for 3.7).

[2022-09-15 18:41] masterleinad commented on #5458
I think we consider `OpenMPTarget`'s requirement for a minimum team size a FIXME and that there is no need for such a function really.

[2022-09-15 21:13] emprice opened #5461 "Problems running Kokkos when RDC is enabled"
I have downloaded the latest release of Kokkos from GitHub (v3.6.01) and have been trying to use it in a project, but I've run into a problem I don't know how to fix. It _may_ be related to Kokkos itself, but I'm pretty new to GPU programming, so I appreciate your patience with this issue report.

# Description
When I configure with `-DKokkos_ENABLE_CUDA_RELOCATABLE_DEVICE_CODE=ON`, everything com

[2022-09-16 13:31] #5460 closed

[2022-09-16 13:32] #5208 closed

[2022-09-16 13:32] #5254 closed

[2022-09-16 13:38] dalg24 commented on #3877
**Update** What is still missing?
* Missing functions
  * `arg`
  * `norm`
  * `proj`

[2022-09-16 14:29] thearusable opened #5464 "Tracking performance testing - collect and analyze results of benchmark runs"
Related to #5070 2.5(Propose a mechanism to track performance over time):

---

1. When the Performance Test will be run on CI we can add an additional step which will upload all generated json files to `database-repo`.
- There is a GitHub Action which can be used: https://github.com/marketplace/actions/push-a-file-to-another-repository
- This GA only needs a `API_TOKEN_GITHUB` to be set in `Secre

[2022-09-16 14:37] cz4rs commented on #5464
Looks like it should "just work", thumbs up for using preexisting components!

[2022-09-16 21:09] csiefer2 opened #5465 "Documentation: Improve documentation on fencing behavior in create_mirror_view_and_copy"
The documentation does not discuss whether or not the call to create_mirror_view_and_copy fences.

https://kokkos.github.io/kokkos-core-wiki/API/core/view/create_mirror.html?highlight=create_mirror_view_and_copy

[2022-09-16 21:12] PhilMiller commented on #5465
Duplicate of #4837

[2022-09-16 21:12] #5465 closed

[2022-09-19 13:06] Rombur commented on #5453
I've just tried to set `SET(ROCM_DEFAULT OFF)` with `amdclang` and Kokkos does not compile.
[code]

[2022-09-19 13:26] masterleinad opened #5467 "Discuss chunk size for GPU backends with RangePolicy"
#4875 introduced an option for foricng the workgroup/block size for `SYCL`  in `RangePolicy` `parallel_for`.
We should discuss if we want to do the same thing for different (GPU) backends and if we want to extend to other parallel constructs (`parallel_scan`, `parallel_reduce`).

[2022-09-19 16:01] jjellio commented on #5453
Are yous setting `--offload-arch=gfx90a --rocm-path=/opt/rocm-5.2.0 -x hip ` ? and the proper link flag: `-x none`

These are the relevant bits of the CMake I use w/Trilinos

[code]

[2022-09-19 16:10] Rombur commented on #5453
What's the point on setting `ROCM_DEFAULT=OFF`, if I have to set the flags by hand myself. You just want a way to override the flags that are chosen automatically?

[2022-09-19 16:11] jjellio commented on #5453
Because I don't want to use hipcc - (I build through Cray as well as AMD)

[2022-09-19 16:16] Rombur commented on #5453
I get that but we set `ROCM_DEFAULT` to let CMake know that it needs to add the flags for HIP itself. I just tried `amdclang` and, with the current code`, the flags are set correctly.

[2022-09-19 16:21] jjellio commented on #5453
This blocks being able to use CXX=CC (Cray PE wrappers) regardless of AMD/Cray. I also build directly w/clang (AMD or Cray) - this is essential to setting non standard flags that HIPCC chokes on.

I set all the flags anyway

[2022-09-19 22:57] ndellingwood opened #5470 "Warnings in cuda builds: Kokkos_ViewCtor.hpp(304): warning: missing return statement at end of non-void function"
**Describe the bug**
I'm seeing warnings with cuda/11.2 builds:
[code]

I noticed this when testing with SHA 9dff8ccffb54c034fbfd39a834c49e28f6e3edaa

[2022-09-20 03:35] ikalash opened #5471 "Broken Albany build"
**Describe the bug**
A bunch of Albany builds are failing with a call to ``Kokkos::Serial::print_configuration`` not being defined.  Did this routine go away?

**Please also include the following items to support reproducing the bug**
We are using the Kokkos in Trilinos develop.  The issue happens in various builds with various compilers.  The issue can be seen here on our CDash site:

https://sem

[2022-09-20 03:38] ndellingwood commented on #5471
This would be following merge of trilinos/Trilinos#10962 , the error can be resolved by replacing
`Kokkos::Serial::print_configuration`
with
`Kokkos::Serial().print_configuration`

[2022-09-20 03:39] ikalash commented on #5471
@ndellingwood : thank you, I figured it was some simple fix like this.  I will try it and close this tomorrow provided the nightlies are clean.  Thanks!

[2022-09-20 03:48] ikalash commented on #5471
Hmmm, so actually it's not so simple.  It looks like we're calling the get_configuration routine through Phalanx: https://github.com/sandialabs/Albany/blob/master/tests/unit/Albany_UnitTestMain.cpp#L25 .  It must wrap print_configuration.  Seems a change to Phalanx may be required.  Tagging @rppawlo .

[2022-09-20 03:58] ndellingwood commented on #5471
I think I cleaned this up in all the spots in phalanx with trilinos/Trilinos#10962,

[code]

From the test line in Albany, it is calling print_configuration through the Phalanx `exec_space` type in `Phalanx_KokkosDeviceTypes.hpp`, which is an alias to an execution space type from a Phalanx `Device`
(i.e. `using exec_space = PHX::Device::execution_space;`) which aliases an execution space type.
@ik

[2022-09-20 12:23] masterleinad commented on #5471
In any case, was never intended to be `static`, see https://github.com/kokkos/kokkos/wiki/Kokkos::ExecutionSpaceConcept, but was implemented as such for some backends.

[2022-09-20 13:06] dalg24 opened #5472 "Deprecate `CudaUVMSpace::available()`"
Rational: not portable nor really useful.  Prefer facility introduced in #5289 instead

_Originally posted by @dalg24 in https://github.com/kokkos/kokkos/pull/5441#discussion_r975336647_

[2022-09-20 13:50] dalg24 commented on #5470
Same issue as #5432

[2022-09-20 14:45] JBludau commented on #5472
I was thinking about proposing the deprecation in a separate pr together with some changes in examples/tutorials.

[2022-09-20 14:59] dalg24 commented on #5472
Sounds good

[2022-09-20 16:28] masterleinad commented on #5470
Looks like some version of `std::unreachable` would also do the trick (at least for ICC), see https://godbolt.org/z/99T84x4cb.

[2022-09-20 22:20] ndellingwood opened #5474 "Trilinos test failures in Sacado, Stokhos with cuda/11.2"
**Describe the bug**
A unit test from each of Sacado and Stokhos is failing with the kokkos develop branch in Cuda builds on Power9+Volta70 with cuda/11.2 with the following error:

[code]

This failure occurs in the unit tests `Sacado_FadFadKokkosTests_Cuda_MPI_1` and `Stokhos_KokkosViewFadMPVectorUnitTest_Cuda_MPI_1`

Running the `Sacado_FadFadKokkosTests_Cuda_MPI_1` test through gdb gives this

[2022-09-20 22:27] ndellingwood commented on #5474
Failure does not occur with Trilinos develop branch (which includes kokkos@3.7.00 snapshot)

Sacado failure occurs during creation of DynRankView of Fad type: https://github.com/trilinos/Trilinos/blob/b490860ac199a40b903b9e65a5b2cb3cf60f2f7d/packages/sacado/test/UnitTests/Fad_Fad_KokkosTests.hpp#L184
Adding @etphipp

[2022-09-20 22:48] ambrad opened #5475 "Team parallel_reduce may need an impl-side team_barrier between adjacent reductions."
In possibly just non-scalar-accumulator cases, adjacent team parallel_reduce calls with no application-side data dependencies and thus no application-side team_barrier can lead to the wrong answer nondeterministically. This implies that there is an impl-side data dependency in bookkeeping.

Following is a reproducer. The comments at the top show the machine, modules, Kokkos version, config, build,

[2022-09-21 04:34] ndellingwood opened #5476 "Trilinos test failures in Tpetra with cuda/11.2 : `Error: Kokkos::finalize() has already been called.`"
**Describe the bug**
Several Tpetra tests are failing in cuda/11.2 builds due to issues with implicit initialization / finalization calls for Kokkos. For example after a test passes, an error is message output after the end of main
`Error: Kokkos::finalize() has already been called.`

**List of failing tests**:
[code]

This does not occur with Trilinos develop branch (includes kokkos@3.7.00 snapsh

[2022-09-21 12:13] dalg24 commented on #5476
The error message is self-explanatory.  The "it is not legal to call Kokkos::finalize() twice" is enforced since #5425
Are the Tpetra not able to handle it?

[2022-09-21 13:05] HenryCullom opened #5477 "Documentation for Kokkos::Experimental::simd"
Hello,

I am trying to work with the Kokkos::Experimental::simd type, but I am having a hard time figuring it out. I've reviewed the test code in simd/unit_tests/TestSIMD.cpp, but I couldn't wrap my head around it. I've linked the only other documentation I've found so far, which is for an older version from the kokkos/simd-math repository, which is different from the current implementation on the

[2022-09-21 14:51] fnrizzi commented on #5464
thanks, look like a good solution!
Some comments:
- i think we should also find a way to save plots with some filename convention
- we need to figure out if the propose solution is ok in terms of permissions etc , that is up to @crtrott @dalg24

after they give the ok, we can try to do the prototype

[2022-09-21 16:18] ndellingwood commented on #5476
Adding @csiefer2 from Tpetra team

[2022-09-21 18:21] masterleinad commented on #5432
Looks like some version of std::unreachable would also do the trick (at least for ICC), see [godbolt.org/z/99T84x4cb](https://godbolt.org/z/99T84x4cb).

[2022-09-21 18:45] ndellingwood commented on #5474
I tried rebuilding with a change to kokkos similar to https://github.com/kokkos/kokkos/pull/5390 from release-candidate-3.7.00 on a whim (in case something weird was happening with finalization elsewhere) but that had no impact on the test failure (same failure)

[2022-09-21 20:15] jjellio commented on #5453
@Rombur - How is this intended to work?  I think what you are saying is,
1. set amdclang++ as CXX (but don't specify -x hip/none or ROCM_PATH)
2. Cmake should then "find" ROCM

I'm happy to try this - my builds predate CMake supporting this stuff, so if we move in that direction, I'd *like* to be able to **NOT** specify all the flags I currently do.

[2022-09-21 20:28] jjellio commented on #5453
Here's the familiar error:

[code]

[2022-09-21 20:54] carterbox opened #5482 "What is the minimum OpenMP API version requirement?"
**Describe the bug**
According to [the Kokkos docs](https://kokkos.github.io/kokkos-core-wiki/requirements.html), the minimum version of MSVC is 19.29, but there is not minimum API specification for OpenMP. I believe that [MSVC only implements the OpenMP 2.0](https://learn.microsoft.com/en-us/cpp/build/reference/openmp-enable-openmp-2-0-support?view=msvc-160) specification.

When compiling with Op

[2022-09-21 21:02] dalg24 commented on #5482
The Kokkos OpenMP host parallel backend requires OpenMP 3.0
With MSVC use the Threads backend instead `-DKokkos_ENABLE_THREADS=ON`.

[2022-09-21 21:17] scottbiersdorff opened #5483 "NVHPC compiler issues an error when compiled with the serial backend on ppc64le"
The NVHPC compiler will issue an error if the '-cuda' option is used on a system without a proper NVIDIA GPU:

cmake options are:

`-DCMAKE_CXX_COMPILER=nvc++ -DCMAKE_CXX_FLAGS="-fast -mp " -DCMAKE_VERBOSE_MAKEFILE=ON -DKokkos_ENABLE_COMPILER_WARNINGS=ON -DKokkos_ENABLE_TESTS=ON -DKokkos_ENABLE_SERIAL=ON -DCMAKE_INSTALL_PREFIX=/tmp -DCMAKE_CXX_STANDARD=17    -DCMAKE_INSTALL_LIBDIR=lib64
...
[  6%]

[2022-09-21 21:18] #5482 closed

[2022-09-21 22:15] dalg24 commented on #5483
I was able to reproduce and see the `-cuda` on the link line.

[2022-09-21 22:17] dalg24 commented on #5483
It is coming from here
https://github.com/kokkos/kokkos/blob/153a39e26779f5fe18ce0a09f09b4a2895ee85f3/cmake/kokkos_arch.cmake#L196

[2022-09-22 00:57] Rombur commented on #5453
I see. When I build Kokkos alone, I only have to change the compiler from `hipcc` to `amdclang++` and everything works.  I don't know why the behavior is different when using Tribits. I'll look into it.

[2022-09-22 09:08] jjellio commented on #5453
It's generally been because Kokkos/Trilinos Cmake isn't 100% compatible.

Before you invest too much time, let's see if Ross has some comments (I was hoping his big TRIBITS update was going to include letting Kokkos build HIP more naturally)

@bartlettroscoe

[2022-09-22 13:40] thearusable commented on #5464
By default the images will be saved using following format `BenchamrkName`-`metric`.`png` so for example `BM_SomeFunction-real_time.png`.

If we want a different name format then we will need to modify the `benchmark_monitor.py` script.

[2022-09-22 13:49] masterleinad commented on #5464
My biggest concern is that we are nowadays mostly interested in performance on GPU backends and that the machines we are running CI on don't produce good/consistent enough results for performance regression testing.

[2022-09-22 14:00] bartlettroscoe commented on #5453
The current version of TriBITS in Trilinos should be propagating all usage requirements from Kokkos targets to downstream targets (both inside and outside of Trilinos).  Does the Kokkos TriBITS build set compiler and linker options using `target_compile_options()` and `target_link_options()`, for example?

[2022-09-22 14:58] csiefer2 commented on #5476
This is the same issue as Trilinos/11034

I'm working on it.  Thanks to @masterleinad for pointing this issue out to me.

[2022-09-22 16:04] thearusable commented on #5464
Github action on `database-repo` can be configured to create new charts after any commit on branch(`main`). So it can be triggered by a commit from CI or by commit made manually.

We can make a separate directories to store benchmark results from CI and from target machines/proper benchmark machines.

[2022-09-22 18:08] ndellingwood commented on #5476
Thanks @csiefer2 !

[2022-09-22 19:23] rgayatri23 opened #5487 "Kokkos-OpenMPTarget: Crusher system: Compile time takes too long"
**Issue**
Compile time for the Kokkos-OpenMPTarget backend on Crusher takes ~1 hour.

Compiler user - amdclang++ provided via rocm/5.2.0
Kokkos version - 3.7.0

**cmake command**
[code]
***compile time***
[code]
99% of the time is spent at the linking stage.

In contrast the same backend on NVIDIA-V100

**cmake command**
[code]

***compile time***
[code]

[2022-09-22 19:28] dalg24 commented on #5487
https://3d.xkcd.com/303/

[2022-09-22 20:03] dalg24 commented on #5483
Fix will be in release 4.0 and is a candidate for cherry-pick into the 3.7 first patch release (if we actually do a patch release)

[2022-09-22 22:05] jjellio commented on #5453
Ross, I don't know the details of Kokkos / Trilinos CMake stuff - I do know in the past, there has been extra work needed.

Perhaps, this TRIBITS error is simply a relic of the past and can now be deleted? I didn't dig too deep to try to disable it (because when I tried forcing the variable that caused this to arise, it triggered other problems later (because Kokkos stopped thinking it was being b

[2022-09-22 22:27] bartlettroscoe commented on #5453
@jjellio, you can't get this to work through the MPI compiler wrappers?

If Kokkos is adding all of those to the Kokkos targets usage requirements, they should propagate downstream.  I would have to look to see what Kokkos is doing in its TriBITS build vs. its native CMake build.

[2022-09-22 22:39] jjellio commented on #5453
Ross, I have it working.  The problem is, I have to manually edit`kokkos/cmake/kokkos_tpls.cmake#L42` to set disable Kokkos/Cmake from treating ROCM as a TPL.  Ideally, we should be able to build HIP with AMD compiler directly (and Kokkos can - and if you do my hack, Trilinos can as well) -- This is essential for testing non-AMD compilers (e.g., Cray) - and it is required if you need to change the

[2022-09-22 22:57] crtrott opened #5489 "HIP Link issue"
Using:

Configure with ROCM 5.2.0:
[code]

[code]

[2022-09-22 22:58] crtrott commented on #5489
This is also noted in the crusher known issues section:

https://docs.olcf.ornl.gov/systems/crusher_quick_start_guide.html#olcfdev-1167-kokkos-build-failures-with-prgenv-amd

[2022-09-22 22:58] crtrott commented on #5489
@Rombur

[2022-09-23 11:36] Rombur commented on #5489
Yeah, I know. It's on my TODO list.

[2022-09-23 12:19] Rombur commented on #5453
I have talked to @dalg24 and we are pretty sure that the problem is in Kokkos. I problably won't get it done by the time we branch Kokkos 4.0 but I will let you know when it works @jjellio

[2022-09-23 13:30] bartlettroscoe commented on #5453
@jjellio, as a workaround for now so you don't have to manually edit the line:

https://github.com/kokkos/kokkos/blob/61d7db55fceac3318c987a291f77b844fd94c165/cmake/kokkos_tpls.cmake#L47

could you not just submit a PR to Kokkos to change that block of code as:

[code]

?

That way, if you set `-DKokkos_ROCM_DEFAULT=OFF`, then the default logic would not run.  (Note, it is a good idea to namespace

[2022-09-23 20:32] jjellio commented on #5453
Thanks Ross!

[2022-09-27 00:41] ndellingwood commented on #5474
Similar failures reported with Trilinos, there is a reproducer in https://github.com/trilinos/Trilinos/issues/11065#issue-1384670062 with minimal non-Kokkos usage (only uses Teuchos for the testing harness) so it can likely be reproduced outside Trilinos (and tested within Kokkos' unit tests)

[2022-09-27 02:57] ldh4 commented on #5474
I tried the minimal reproducer from [https://github.com/trilinos/Trilinos/issues/11065#issue-1384670062](https://github.com/trilinos/Trilinos/issues/11065#issue-1384670062). Took the reproducer, replaced Teuchos unit test harness with gtest and tested in Kokkos unit test area, but I wasn't able to reproduce the reported error.

Built with Cuda 11.2, tried on both the latest [Kokkos develop branch]

[2022-09-27 11:22] maartenarnst commented on #5474
Hi @ldh4.  Thanks for having tested the minimal reproducer.  On my side, I've just tested it with Cuda 11.2.  Like you, I found that the error doesn't occur in this build with Cuda 11.2.  However, on switching to a build with Cuda 11.6, and changing nothing else, the error shows up.

[2022-09-27 16:55] JBludau commented on #4924
Ok, so I looked a bit further into this. The pykokkos(-base) bindings link against a shared object that contains the Kokkos-c++ code. This is done by pybind11 to make it callable from python. It is done by creating a new shared object that integrates into the C runtime that is used by python. This creates the following problem:
Global and static variables in Kokkos are used to keep track of the in

[2022-09-27 17:02] mewall commented on #4924
Thanks for looking into this. I do think the different modules were linking against different kokkos library builds, so that might have been the problem in our case. We are currently addressing this in our build system...I'll let you know whether we still see the same behavior when both modules are using the same library.

________________________________
From: JBludau ***@***.***>
Sent: Tuesday,

[2022-09-27 17:18] JBludau commented on #4924
yeah, thanks for letting me know if it works for you. For me changing to a single lib fixed the issues

[2022-09-27 22:58] nmm0 commented on #5439
Would it make sense to have incompatibilities/breaking changes to the top?

[2022-09-28 19:19] e10harvey commented on #5419
@dalg24, @crtrott: I can do it for CUDA.

For CUDA+OpenMP, we get:
[code]

[2022-09-28 23:41] dwatersg opened #5501 "Compilation error with `Makefile.kokkos` on MacOS"
I have a Monte Carlo example that uses Kokkos for on-node parallelism, and wanted to see if it still worked correctly with the newest release (3.7.00). It compiled and ran successfully on Summit, Crusher, and Perlmutter, even when targeted for the appropriate GPUs on those machines. I then tried on my MacBook (just targeting the host) but got the linker error shown below. Another member of my team

[2022-09-29 04:01] ndellingwood opened #5502 "Trilinos nightly test failure, cuda/11.2 Power9+Volta70 arch: defaultdevicetype.shared_space failed"
**Describe the bug**
The `defaultdevicetype.shared_space` test is failing in cuda/11.2 builds of Trilinos tested with kokkos' develop branch.
Testing with Trilinos in this run is executed with `ctest -j2`, I'm not sure if that would have an impact on the test

**Output snip**:
[code]

Cross-referencing #5289

**Please also include the following items to support reproducing the bug**
**Reproducer**

[2022-09-29 04:08] ndellingwood commented on #5502
Also failing in Trilinos OpenMP build with gcc/8.3.0

[2022-09-29 14:39] JBludau commented on #5502
It should not even run in host-only builds ... as it is guarded with
[code]

Could you post the configure line and the output?

[2022-09-29 14:55] JBludau commented on #5502
@ndellingwood would you mind running it without `-j2` ? Other stuff running on the same gpu could interfere with the measured timings. If that is the case we could think about telling ctest to serialize it with `set_tests_properties(UnitTest_Default PROPERTIES RUN_SERIAL TRUE)` or even introduce a category for serial running tests

[2022-09-29 16:36] lucbv opened #5505 "Kokkos does not export AMD flags to Trilinos"
**Describe the bug**
When configuring Trilinos to build Kokkos with HIP enabled the `--offload-arch=gfx90N` flag is apparently not added to Trilinos' flags.
This leads to obvious compilation issues, setting the environment variable `ROCM_TARGET_LST` fixes the issue but defeats the point of specifying the ARCH to Kokkos at configure time.
Adding the following logic in CMakeList.txt at line 239 also

[2022-09-29 18:22] ndellingwood commented on #5502
@JBludau I tested a Trilinos build with just Kokkos and its tests enabled with `ctest -j2` but did not see the failure. The failure may be spurious and potentially show up in Trilinos autotester runs (which run tests with parallelism level > 1), so I think adding the RUN_SERIAL option you mentioned `set_tests_properties(UnitTest_Default PROPERTIES RUN_SERIAL TRUE)` would be a good move to prevent

[2022-09-29 23:44] JBludau commented on #5502
Ok, I will go ahead and move the test out of the device default and putting it into a category that enforces the run in serial.

[2022-09-29 23:54] JBludau commented on #5502
@ndellingwood there is still the question of "why the test was run for OpenMP"  ... If you find the time please post the configure line and runtime output

[2022-09-30 02:43] ndellingwood commented on #5502
@JBludau it did not run with the OpenMP build after all; I looked back at the logs and I made a mistake when posting that (was sifting through the email notification rather than the full log), sorry for the false alarm

[2022-09-30 13:35] jjellio commented on #5505
Seems like this would get fixed if kokkos eliminated it's special case of HIPCC (which cmake hates anyway). #5453
I'm guessing if you used the AMD compiler directly, Kokkos/Cmake would find ROCm (another huge headache) - but it would probably propagate the flags. (I haven't tested it)

[2022-09-30 13:54] JBludau commented on #5502
@ndellingwood cool, less work :-)

[2022-09-30 14:45] lucbv commented on #5505
In my case above the underlying issue is that I am compiling on a head node without GPUs where `rocm_agent_enumerator` does not find the target architecture. If I build on a compute node there no problem anymore.
The main issue is that Kokkos does not appear to tell Trilinos which target should be used based on the Kokkos_ARCH. My CMake attempt above works fine but is probably not the exact fix th

[2022-09-30 15:16] maartenarnst commented on #5474
Hi again @ldh4.  In the mean time, @romintomasetti and I have tested the minimal reproducer from trilinos/Trilinos#11065 with Cuda 11.2, 11.6, and 11.7:
- no problem in Cuda 11.2
- the reported runtime errors occur in Cuda 11.6
- no problem in Cuda 11.7

So it appears that as far as concerns the issue with the `const` being stripped away seen in the minimal reproducer from trilinos/Trilinos#11065,

[2022-09-30 16:32] jjellio commented on #5505
It seems, if we didn't use `hipcc` and Kokkos let CMake do its thing, then wouldn't cmake find/propagate the information? RIght now, kokkos isn't really enabling "hip" via CMake, because HIPCC obscures that by setting everything itself.  I've been manually setting all my flags (and using or not using hipcc) - but I think since we use CMake, Cmake is at odds with `hipcc` as a compiler. I can't do a

[2022-09-30 19:03] JBludau commented on #5502
@ndellingwood could you verify if #5508 solves the problem even for running with `ctest -j2` ?

[2022-10-03 14:47] JBludau commented on #5501
Hi @dwatersg. So if you open a terminal on your mac an type `gcc --version` it will print something containing `Apple clang version` ... apple sets up your macbook to have the command `gcc` (or `g++`) to point to `clang`. Now gnu Make comes along and sets its internal `CXX=g++` thus identifying in Makefile.kokkos as gcc. Down the line this results in the `-latomic` being not found.
I guess this is

[2022-10-03 16:05] ajpowelsnl commented on #5477
Hi @ibaned -- Would you like to take a crack at this?  Also, I will invite you to our Documentation Sessions.

[2022-10-03 16:15] ibaned commented on #5477
Yes I would like to try and yes please invite me. Thank you!

[2022-10-03 17:18] ajpowelsnl commented on #2482
@crtrott , @dalg24 - we will review the documentation for a Kokkos::View to make sure that it conforms to key concepts and correct usage.  We decided to close this issue, because we're not entirely certain this issue is still a question.

[2022-10-03 17:18] #2482 closed

[2022-10-03 17:35] crtrott commented on #5505
Note: if you want to let CMake do its thing, then Trilinos and all downstream packages would need to commit to using the cmake language mechanism. And that means THEY need to mark all their source files as "HIP", "CUDA" etc. files. We do support that at least with CUDA, but it is fairly clunky. The problem is that you can't "inherit" a language from a target dependency.

[2022-10-03 17:38] crtrott commented on #5501
This whole libatomic business is really nasty. If someone has a decent solution to it I am all ears. Basically, its semi random whether you need the library or not (I mean its not really random, but it depends on so many factors).

[2022-10-03 18:06] cwsmith opened #5513 "inclusive_scan: std::int8_t input view and std::int32_t output view with CUDA backend produces incorrect result"
**Describe the bug**

I’m trying to compute a prefix sum with an `Kokkos::Experimental::inclusive_scan` on an array of std::int8_t and produce an array of std::int32_t and getting incorrect results with the CUDA backend.  The reproducer code is here:
https://github.com/cwsmith/kkReduce/blob/333a4fa9784dc44e57ee984b47e016b87a7823e7/kk_scan_shortToInt.cpp
The reproducer works with the OpenMP backend

[2022-10-03 18:41] #5175 closed

[2022-10-03 18:57] ajpowelsnl commented on #4924
@mewall -- please let us know if you're still having problems, and we'll reopen the issue.

[2022-10-03 18:57] #4924 closed

[2022-10-03 19:30] #4868 closed

[2022-10-03 19:31] ajpowelsnl commented on #4868
@simon-schlepphorst -- you will still need to compile with `-Nclang`

[2022-10-03 22:17] ndellingwood opened #5514 "Trilinos nightly failure, OpenMP backend: simpleBuildAgainstTrilinos app builds against install fails with "Target "MyApp" links to target "OpenMP::OpenMP_CXX" but the target was not found.""
**Describe the bug**
Attempting to build the demo "app" `simpleBuildAgainstTrilinos` from Trilinos with an OpenMP build, gcc/8.3.0 as compiler fail to configuration with output:
[code]

This does not occur with kokkos@3.7.00 snapshot into Trilinos, so I'm filing as a kokkos issue as this follows an apparent change in kokkos.

**Please also include the following items to support reproducing the bug

[2022-10-04 03:19] dalg24 commented on #5419
@e10harvey for instance `KOKKOS_ENABLE_IMPL_CUDA_MALLOC_ASYNC` is missing

[2022-10-04 04:29] ldh4 commented on #5474
Hi @maartenarnst, sorry for the delayed response. It took me a bit to locate and get it reproduced on a machine that has a driver that's compatible at least up to `Cuda 11.6`.
As you described, I observed that the minimal reproducer passes with up to `Cuda 11.5.2` but fails with `11.6`, `11.6.1` and `11.6.2`. I will look into this further.
On the other hand, seeing that the minimal reproducer is o

[2022-10-04 18:38] maartenarnst commented on #5474
Hi @ldh4, big thanks for looking into this!  I agree that the original issue reported on this issue page may be a different problem.  Maybe it's interesting to test whether this original issue behaves differently in the different cuda versions too?

On our side, as mentioned in my previous post, we found that the issue described in trilinos/Trilinos/issues/11065 is not present in cuda 11.7.  We ha

[2022-10-04 19:06] ajpowelsnl commented on #5143
Hi @dutkalex -- please give us a shout if the proposed solution does not work for you, and we'll reopen the issue.

[2022-10-04 19:20] #4734 closed

[2022-10-04 19:24] #4881 closed

[2022-10-04 19:35] #5042 closed

[2022-10-04 19:38] #4715 closed

[2022-10-04 19:40] #4902 closed

[2022-10-04 19:48] #4992 closed

[2022-10-04 19:52] #4817 closed

[2022-10-04 19:53] #4968 closed

[2022-10-04 19:56] #4905 closed

[2022-10-04 20:03] #5092 closed

[2022-10-04 22:18] #5076 closed

[2022-10-04 22:22] #5075 closed

[2022-10-04 22:23] #5097 closed

[2022-10-04 22:25] #4903 closed

[2022-10-04 22:25] #5093 closed

[2022-10-04 22:26] #4824 closed

[2022-10-04 22:27] #5196 closed

[2022-10-04 22:28] #5205 closed

[2022-10-04 22:29] #5234 closed

[2022-10-04 22:30] #5225 closed

[2022-10-04 22:31] #5216 closed

[2022-10-04 22:31] #5189 closed

[2022-10-04 22:32] #4561 closed

[2022-10-04 22:32] #5168 closed

[2022-10-04 22:33] #5214 closed

[2022-10-04 22:36] #5252 closed

[2022-10-04 22:42] #5243 closed

[2022-10-05 04:56] crtrott commented on #5514
https://github.com/kokkos/kokkos/pull/4105 is likely the issue ...

[2022-10-05 15:11] JBludau commented on #5502
@ndellingwood please retry, it is now marked as a performance test for trilinos

[2022-10-05 17:54] ndellingwood opened #5523 "Nightly build failure, intel/19.0.5: TestSharedHostPinnedSpace.cpp(110): error: expected a ")""
**Describe the bug**
Nightly intel/19.0.5 builds are hitting compilation errors in the TestSharedHostPinnedSpace.cpp test with error message:

[code]

**Please also include the following items to support reproducing the bug**
**Reproducer**:
[code]

[2022-10-05 18:09] ndellingwood commented on #5514
Link to Trilinos wiki page of the demo "app": https://github.com/trilinos/Trilinos/tree/develop/demos/simpleBuildAgainstTrilinos

[2022-10-05 18:22] dalg24 opened #5524 "Add support for Hopper NVIDIA GPU"

[2022-10-05 18:24] ndellingwood commented on #5523
Tried replacing the brace initialization with parentheses, same error :(

[code]

[2022-10-05 18:50] dalg24 commented on #5461
Looking for a Turing machine to reproduce

[2022-10-05 18:58] JBludau commented on #5523
The fix we do here will also need to go into https://github.com/kokkos/kokkos/pull/5511

[2022-10-05 20:40] masterleinad commented on #5514
@ndellingwood What is the interaction between `Trilinos_ENABLE_OpenMP=ON` and `Kokkos_ENABLE_OPENMP`?
If the latter forces the former, we could just not do anything for `OpenMP` when configuring inside `Trilinos`.
Otherwise, we need to hack https://github.com/kokkos/kokkos/blob/61d7db55fceac3318c987a291f77b844fd94c165/cmake/kokkos_install.cmake#L32-L44 to append something like
[code]
where I'm not

[2022-10-05 21:50] ajpowelsnl commented on #5315
I can reproduce the seg fault error w/ clang-16 on Power9 architecture.

**Kokkos `master` and `develop`:**
[code]
We will dig a bit deeper to figure out what's going on.

[2022-10-05 21:51] ajpowelsnl commented on #5315
Yes

[2022-10-05 22:29] ndellingwood commented on #5523
@JBludau no luck, with that change I'm seeing:

[code]

[2022-10-06 02:56] ndellingwood commented on #5514
@masterleinad I think that  `Trilinos_ENABLE_OpenMP=ON` is supposed to trigger `Kokkos_ENABLE_OPENMP`, I will test configurations with Trilinos' develop branch to confirm

[2022-10-06 04:14] PhilMiller commented on #5523
On a hunch, could you ask it for the preprocessed version of the code? I wonder if Increment is defined as a macro somewhere and making things really confusing

[2022-10-06 07:50] fnrizzi commented on #1950
| AppName | Area | Institution | Website | Status | Uses KokkosKernels | Contact Name | Contact Email |
| --- | --- | --- | --- | --- | --- | --- | --- |
| SHAW | Geology/seismic modeling/shear waves/reduced-order modeling | Sandia Labs/NGA | https://github.com/Pressio/SHAW| Production/Research | Y | Francesco Rizzi | fr.francescorizzi@gmail.com |

[2022-10-06 11:39] dalg24 commented on #5523
in that case `(Increment)` would resolve the issue

[2022-10-06 16:31] #4891 closed

[2022-10-06 16:33] PhilMiller commented on #5379
Fix was cherry picked before the 3.7.00 release

[2022-10-06 16:33] #5379 closed

[2022-10-06 16:38] PhilMiller commented on #5258
Cherry-picked to release 3.7.00 in #5282

[2022-10-06 16:38] #5258 closed

[2022-10-06 16:39] PhilMiller commented on #5287
Cherry-picked fix was released in 3.7.00

[2022-10-06 16:39] #5287 closed

[2022-10-06 16:58] #5382 closed

[2022-10-06 16:59] PhilMiller commented on #5312
Fix released in 3.7.00

[2022-10-06 16:59] #5312 closed

[2022-10-06 17:40] #5255 closed

[2022-10-06 17:42] PhilMiller commented on #223
This actually ties in to a stated 'theme' for the coming FY, of self-similar dispatch APIs.

I'd suggest that rather than using `Kokkos::Serial` for nestable calls, we come up with a different name. My reasoning is that `Serial` is putatively a host-based execution space, and hence `HostSpace` is accessible to it. If it's something run on a GPU, that should not be the case.

(I happened to look at

[2022-10-06 19:31] ibaned commented on #223
@PhilMiller I agree with not using `Serial` for this. In my P3A library, I defined three execution policies (ISO C++17 parlance):

1. `execution::seq`: this is the "truly serial" policy, can be nested arbitrarily, is known to be defined as a non-GPU-executable for loop. Should be pretty much the same as using `std::execution::seq` from the standard library.
2. `execution::par`: this equivalent to

[2022-10-06 19:58] ndellingwood commented on #5523
@PhilMiller @dalg24 I generated the preprocessed version of the code and checked it exhibits the same failure. The preprocessed file didn't seem to reveal anything new (at least at the line of failure flagged by the compiler)

Snip from the preprocessed file:
[code]

[2022-10-06 20:07] #4856 closed

[2022-10-06 20:15] JBludau commented on #5523
hmm the only other thing I can think of being worth a try is giving it a name e.g. `Increment deviceIncrement(DeviceExecutionSpace{}, sharedData);`

[2022-10-06 20:32] masterleinad commented on #5514
Ah, we also need
[code]
(either of the `find_package` calls work). Otherwise `KokkosCore.config` is not considered because of https://github.com/trilinos/Trilinos/blob/fef3ccfae5e6cc865aad5025d7d8f99740aa5aa8/cmake/tribits/core/installation/TribitsProjectConfigTemplate.cmake.in#L99-L136. At this point, I'm not quite sure how to proceed.
One option is to always include `Kokkos` if `Trilinos` was co

[2022-10-06 20:33] masterleinad commented on #5514
Either way, this requires some changes in Trilinos itself.

[2022-10-06 21:06] PhilMiller commented on #5514
It would probably be a good idea to get attention from @bartlettroscoe before we commit to a fix

[2022-10-06 21:12] masterleinad commented on #5505
This doesn't appear to be a problem for `SYCL`. `SYCL` (and `OpenMPTarget`) use `COMPILER_SPECIFIC_FLAGS` directly and I can see the architecture flags when compiling `Trilinos`.

[2022-10-06 21:16] PhilMiller commented on #5523
Or, if you really don't want to name an instance for some reason, `Increment{DeviceExecutionSpace{}, sharedData};`, which cannot be impacted by most-vexing-parse concerns

[2022-10-06 21:36] ndellingwood commented on #5514
Thanks @masterleinad for the investigation, will wait on response from @bartlettroscoe like @PhilMiller suggests for Trilinos-related changes. As far as the kokkos update in PR #5526 , should we move forward getting that reviewed and merged (independent of the Trilinos update)?

[2022-10-06 21:40] ndellingwood commented on #5523
@JBludau @PhilMiller naming the Increment object resolved the issue :)
[code]

I had never heard of  'most-vexing parse' , thanks for mentioning that it is helpful to know for future reference

[2022-10-06 22:00] JBludau commented on #5523
nice :-), thanks @ndellingwood
I will do a quick pr so we can get this out of the way. @PhilMiller I would in this case opt for giving it a name so we can get this out of the way and it is less risky to trigger anything else.

[2022-10-06 22:03] dalg24 commented on #5523
For the record I am to blame for the not giving it a name

[2022-10-06 22:08] bartlettroscoe commented on #5514
@ndellingwood, @PhilMiller, @masterleinad, @crtrott

My guess is that we may need to upgrade TriBITS and Trilinos to treat OpenMP as an external package/TPL and have it use `find_package(OpenMP)` (see [FindOpenMP.cmake](https://cmake.org/cmake/help/v3.22/module/FindOpenMP.html)) as described [here](https://tribitspub.github.io/TriBITS/users_guide/index.html#creating-findtpl-tplname-cmake-using-fin

[2022-10-06 22:34] masterleinad commented on #5514
@bartlettroscoe The issue is coming from `Kokkos` using `find_package(OpenMP)` with `target_link_libraries(kokkoscore PUBLIC OpenMP::OpenMP_CXX)` already. I don't think we have time to wait for Trilinos to require CMake 3.22 to fix this issue. Also, TriBITS is using `find_package(OpenMP)` but not linking it AFAICT (https://github.com/trilinos/Trilinos/blob/7bacda8c8f8a3285c4ddbb0c7a85338e2ec09d4c/

[2022-10-06 22:39] masterleinad commented on #5514
Alternatively, we could also just extract the `OpenMP` flag in case `Kokkos` is configured inside of `Trilinos` and don't link with it in that case.

[2022-10-06 23:15] nmm0 commented on #5513
Thanks for letting us know about the issue, I was able to reproduce it. I'll work on a fix for it

[2022-10-06 23:47] bartlettroscoe commented on #5514
@masterleinad, yea, I think that would work.  I think you could put the logic in the file:

* https://github.com/trilinos/Trilinos/blob/develop/cmake/CallbackSetupExtraOptions.cmake

See [here](https://tribitspub.github.io/TriBITS/users_guide/index.html#repodir-cmake-callbacksetupextraoptions-cmake).

When building Kokkos along with Trilinos, downstream packages in Trilinos would **not** read `Kok

[2022-10-07 12:38] dalg24 commented on #5315
@scottbiersdorff can you confirm that #5530 (already merged in the develop branch) resolves the issue you reported?

[2022-10-07 13:24] masterleinad commented on #5514
@ndellingwood Would you mind trying if https://github.com/kokkos/kokkos/pull/5532 fixes this for you?

[2022-10-07 13:46] masterleinad commented on #5514
Adding the `OpenMP` flags and not linking with `OpenMP` in case `Kokkos` was configured within `Trilinos` appears to be the minimally invasive short-term solution.

[2022-10-07 13:51] bartlettroscoe commented on #5514
Okay, I added this to the list of issues to address in the incremental refactoring and modernization in the usage of CMake in https://github.com/TriBITSPub/TriBITS/issues/411.  Otherwise, we are continuing to pile on technical dept.  We need a steady stream of minimum required CMake version upgrades to keep up with this (e.g. https://github.com/trilinos/Trilinos/issues/10355).

[2022-10-07 18:45] scottbiersdorff commented on #5315
I’m still getting occasional seg. faults with the current dev:

git log
commit d5fcc323490d8eb7dc931ddec45ffbf5c6c21a61 (HEAD -> develop, origin/develop)
Merge: bd9adc669 1a63570f2
Author: Christian Trott ***@***.***>
Date:   Fri Oct 7 09:27:31 2022 -0600

    Merge pull request #5528 from Rombur/trilinos_fix

    Export the flags in KOKKOS_AMDGPU_OPTIONS when using Trilinos

…

Running ‘core/unit

[2022-10-07 18:53] ajpowelsnl commented on #5315
I will take another crack at it, @scottbiersdorff.  Sorry about that.

[2022-10-07 19:32] ajpowelsnl commented on #4017
@crtrott , @dalg24, @ndellingwood , @rgayatri23 -- I am able to reproduce the seg fault when I run **_all_** of the OpenMP tests:

[code]
But I **_cannot_** reproduce the seg fault failure when I run the single test (even running > 10 times):

[code]

[2022-10-07 19:36] #5523 closed

[2022-10-07 20:37] ndellingwood commented on #5514
@masterleinad just finished testing with your PR, that allowed the demo app to configure, compile and pass tests with the OpenMP build :)

[2022-10-07 21:38] crtrott opened #5534 "View assignment 1D mismatched layout with static extents fails to compile"
[code]
[code]

[2022-10-07 21:39] crtrott commented on #5534
Failed forever ... (at least back to 3.0)

[2022-10-07 21:39] crtrott commented on #5534
Hoping this is easy to fix .. @lucbv ran into this.

[2022-10-07 21:44] PhilMiller commented on #5534
I can totally see why that assignment should be workable, but is it something that actually should be allowed?

Is there an implicit statement in this report that the corresponding case with dynamic extents does compile, and works as expected, and is the behavior we want to expand?

[2022-10-07 21:51] crtrott commented on #5534
yeah I found the places already. And yes this should work, mdspan does allow it.

[2022-10-07 22:04] PhilMiller commented on #5534
Ok, I guess I shouldn't go off and derail mdspan standardization by requestioning this :-D

[2022-10-07 22:05] crtrott commented on #5534
It also works already for matching layouts in Kokkos View.

[2022-10-07 22:10] crtrott commented on #5534
And the actual part in the code which is responsible for checking extents compatibility already did the right thing.

[2022-10-07 22:12] PhilMiller commented on #5534
Given that this is long standing behavior, shipping a change in a patch release is nevertheless iffy, even if it's safe

[2022-10-07 22:19] crtrott commented on #5534
yeah but it only enables stuff which didn't compile before, i.e. very unlikely to break any code. Note that the error is a static assert not an SFINAE can't find the overload, so it shouldn't mess with overload sets.

[2022-10-11 04:03] JBludau commented on #5193
I will go ahead and close this issue, as the dev-team decided to introduce the aliases `SharedSpace` and `SharedHostPinnedSpace` that are portable to most backends in `Kokkos 4.0`. #5289 and #5405
Furthermore, it looks like `ENABLE_UVM` and similar functionalities that change the memory space defaults will be deprecated in `4.0` and probably removed in `5.x`

[2022-10-11 04:03] #5193 closed

[2022-10-11 07:11] VictorEijkhout commented on #5083
On , 2022Jun2, at 11:19, Damien L-G ***@***.******@***.***>> wrote:

No. We do not rely on Doxygen for documentation

Time to remove that from the repo?

Victor.

[2022-10-11 07:22] VictorEijkhout commented on #5084
On , 2022Jun3, at 13:03, Bruno Turcksin ***@***.******@***.***>> wrote:

We don't want people to mix pthreads and openmp in the same code.

How about two different codes being built against the same installation by me as the sysadmin?

Or are you assuming that everyone installs kokkos in their own private account?

Victor.

[2022-10-11 07:50] mewall commented on #4924
I should mention that I'm not using pykokkos when seeing this issue.

________________________________
From: ajpowelsnl ***@***.***>
Sent: Wednesday, April 20, 2022 12:35:36 PM
To: kokkos/kokkos
Cc: Wall, Michael E; Author
Subject: [EXTERNAL] Re: [kokkos/kokkos] Initialization error when importing two python modules containing kokkos code (Issue #4924)

Jonathan Madsen commented: https://kokkostea

[2022-10-11 08:06] VictorEijkhout commented on #5124
On , 2022Jun17, at 11:50, Christian Trott ***@***.******@***.***>> wrote:

Generally you may wanna join our slack channel at https://kokkosteam.slack.com<https://nam12.safelinks.protection.outlook.com/?url=https%3A%2F%2Fkokkosteam.slack.com%2F&data=05%7C01%7C%7C9e356f33d822489c899808da50817388%7C31d7e2a5bdd8414e9e97bea998ebdfe1%7C0%7C0%7C637910814164093108%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwM

[2022-10-11 11:59] dalg24 commented on #5083
@ndellingwood is `doc/Doxyfile` still used by Trilinos?

[2022-10-11 12:16] dalg24 commented on #5124
Done

[2022-10-11 12:21] dalg24 commented on #5084
If you want to provide Kokkos with OpenMP and C++ Threads, you will need to two different installs of Kokkos

[2022-10-11 14:40] JBludau commented on #4924
In the light of this issue pykokkos is just an example of a python library using kokkos :-)

[2022-10-11 18:32] ndellingwood commented on #5083
@dalg24 Trilinos uses Doxygen though I'm not certain that particular file is needed, I'll check with someone on the Frameworks team to confirm what is required

[2022-10-11 20:12] nmm0 opened #5545 "Cuda Parallel Scan has incorrect offset for types smaller than `size_type`"
**Describe the bug**
https://github.com/kokkos/kokkos/blob/0fb8b8ab8bd01cfc7dd27da37f20deb0904afe30/core/src/Cuda/Kokkos_Cuda_Parallel_Range.hpp#L542-L544

This value is 0 if the size of `value_type` is < 4 bytes (`sizeof(size_type)`)

This is the underlying cause for https://github.com/kokkos/kokkos/issues/5513 and partially fixes the issue

[2022-10-11 20:24] PhilMiller commented on #5545
Maybe also tag for https://github.com/kokkos/kokkos/labels/Patch%20Release ?

[2022-10-12 21:48] vlkale opened #5548 "Fences from Kokkos Tools are undesirable in certain cases"
**Describe the bug**
Please provide a concise, clear description of the bug, as well as any available error logs.

When using profiling tools of Kokkos to profile a Kokkos application, Kokkos invokes memory fences that are unneeded. This is particularly the case when a memory fence in a Kokkos application code is itself being profiled. These unneeded memory fences used by the tool are not desirabl

[2022-10-13 15:18] crtrott opened #5551 "CHANGELOG 3.7.01"
This is the changelog for the upcoming Release 3.7.01

### Bug Fixes

- Add fences to all sorting routines not taking an execution space instance argument https://github.com/kokkos/kokkos/pull/5547
- Fix repeated team_reduce without barrier #5552
- Fix memory spaces in create_mirror_view overloads using view_alloc #5521
- Allow as_view_of_rank_n() to be overloaded for "special" scalar types #5553

[2022-10-13 15:35] Rombur commented on #5453
@jjellio We have merged a partial fix to this issue. When using Trilinos with `amdclang`, Kokkos won't error out but you need to provide the flags yourself. If you don't give any flags the configuration will work but it won't compile and the error message is not very helpful.

[2022-10-13 15:48] dalg24 commented on #5453
It also means you will need to repeat the flags downstream

[2022-10-13 16:29] ajpowelsnl opened #5554 "Porting `DeprecationPage` to Sphinx"
Please port the [DeprecationPage](https://github.com/kokkos/kokkos/wiki/DeprecationPage) to Sphinx at the earliest convenience.  We need a central point of organization for deprecation, as well as the warnings embedded in the API and Programming Guides.

[2022-10-13 19:20] ndellingwood commented on #5502
This test has begun failing on the same platform in Kokkos nightly testing (no Trilinos) the past two nights, though there was not a PR that should have triggered the failures. The tests run serially in these builds. For example, only these two commits merged before the failure two nights ago, but should not have impacted the test:
Fixed the logic for building Kokkos for an older architecture. ([d

[2022-10-13 20:02] nmm0 opened #5556 "HIP Parallel Scan and Reduce have incorrect offset for types smaller than size_type"
Related: https://github.com/kokkos/kokkos/issues/5545

[2022-10-13 20:05] masterleinad commented on #5556
I'm just wondering how it was passing the tests after the respective changes were made to `Cuda` and we added tests.

[2022-10-13 21:27] nmm0 commented on #5556
Using the test included in https://github.com/kokkos/kokkos/pull/5555, @masterleinad was able to get test failures for HIP scan but we are still trying to figure out why reduce seems to work correctly

[2022-10-13 21:40] jjellio commented on #5453
Thanks!  This should be a big help.  I'll see about giving it a spin the next time im on the LLNL machine

[2022-10-13 22:53] JBludau commented on #5502
@ndellingwood I fear, that loosening the requirements on this test is not working, there seems to be some kind of overflow of the variable that stores the clock cycles ... `11'258'999'065'812` is to high to be reasonable and appears in the middle of repetition cycles ...  I will look into this

[2022-10-13 23:03] JBludau commented on #5502
@ndellingwood do you know which host architecture the failures were on? Was it `PowerPC` or `x86`?

[2022-10-14 18:44] tcclevenger opened #5560 "Refactoring execution policy tests"
As a first project for myself, @crtrott and I have been discussing a refactor of the different policy unit test. Wanted to get feedback from a wider audience on some of my thoughts of what the new structure should be.

#### Current Layout
Right now the layout is a bit mixed in style:
- Some tests combine all Policy types together (`TestPolicyConstructors.hpp` tests constructors for `Range`, `MDRan

[2022-10-17 15:37] dalg24 opened #5562 "Signed integer overflows in team mdrange unit tests"
Introduced in #5238
UndefinedBehaviorSanitizer is raising 9 "signed integer overflow" warnings in `TestTeamMDRange.hpp`.
Configure with Clang and `-DCMAKE_CXX_FLAGS="-fsanitize=undefined"` to reproduce.

[2022-10-17 15:47] dalg24 commented on #5562
[code]

[2022-10-17 16:07] dalg24 opened #5563 "Signed integer overflow in atomic perf tests"
Clang's UndefinedBehaviorSanitizer is raising 2 warnings in `KokkosCore_PerformanceTest_Atomic`
[code]

[2022-10-17 17:14] ax3l commented on #5285
Hi @crtrott, just want to let you know that WarpX uses 11.3 on Summit due to some compiler bugs in 11.0-11.2 for C++17 code.
The module they provide is non-standard but fully compatible with the system and we saw now issues over a year of production with it.

[2022-10-17 17:16] crtrott commented on #5285
Yeah we are aware, but 11.3 does not with spectrum mpi with gpu enabled right?

[2022-10-17 17:27] crtrott commented on #5285
Was just wondering if you got spectrum-mpi to work, or if uou guys simply use openmpi (which anyway would likely be my recommendation too)

[2022-10-17 17:29] stanmoore1 commented on #5285
Last time I checked (in August), CUDA 11.3 was broken with SpectrumMPI on Summit.

[2022-10-17 19:40] ajpowelsnl commented on #5551
TODO:

- Merge 5561 [DONE]
- Fix test 5559:
[code]
- Merge 5557 (caveat: clang++ failure)
- Add fix to issue #5475
  - FIX:  #5552 (already merged)
- Merge / cherry-pick #5485
- Merge / cherry-pick #5528
- Merge / cherry-pick #5535
- Merge / cherry-pick #5491
- Merge / cherry-pick #5492
- Merge / cherry-pick #5525
- Merge / cherry-pick #5530 (caveat: is this really fixed?)
- Merge / cherry-pick #5

[2022-10-17 19:52] ajpowelsnl commented on #5269
@masterleinad -- are you able to reproduce the leaks?

[2022-10-17 21:02] masterleinad commented on #5269
I haven't tried building APEX and running with it.

[2022-10-17 23:55] crtrott commented on #5548
Yeah this should go into the Kokkos Tools repo: A bit more clarification - there are actual two orthogonal issues:

1. Some tools need to turn off fencing of tool callbacks, depending on how the tool is used. These tools (like the space-time-stack and simple kernel timer) need to be able to read an environment variable which sets the ON/OFF behavior for the tool setting callback. Specifically: spa

[2022-10-18 00:01] vlkale commented on #5548
@ajpowelsnl This is a tools issue, so yes. (And thanks @crtrott for the reply.) I will move it to the Kokkos-tools repo now.

@crtrott :  I will update the GitHub issue with these clarifications below

[2022-10-18 04:13] vlkale commented on #5548
@ajpowelsnl  cc. @dalg24  This github Issue is migrated to: https://github.com/kokkos/kokkos-tools/issues/147

[2022-10-18 12:40] Rombur commented on #5400
It's still on my TODO list but it's at the bottom of it. For some reason, there are problems with stacktrace. The easiest solution is probably to disable stacktrace on FreeBSD.

[2022-10-18 15:09] dalg24 commented on #5545
Do you mean the return value of `Analysis::value_size(m_functor)`?

[2022-10-18 15:42] ajpowelsnl commented on #5502
The failure was on Power9 architecture:

[code]

[2022-10-18 23:06] ajpowelsnl commented on #5269
@khuck -- is there an APEX-independent way (ideally, with just Kokkos) to reproduce these leaks?

[2022-10-19 02:59] khuck commented on #5269
I don’t think it is apex pacific, any Kokkos profiling tool should do

[2022-10-19 13:39] #5562 closed

[2022-10-19 16:02] emprice commented on #5461
I have a second, independent machine with a different Turing GPU (GTX 1660 Super). If no one else can currently help out with this, I could at least run a test on that machine to see if this is an arch thing. Thoughts?

[2022-10-19 18:16] dalg24 commented on #5474
@matt-stack would you be able to assist with this issue?

[2022-10-19 18:24] cz4rs commented on #5342
Closing after #5343 was merged.

[2022-10-19 18:24] #5342 closed

[2022-10-19 19:21] brian-kelley opened #5581 "Performance regression of Kokkos::subview (especially managed views) inside kernels"
**Describe the bug**
There has been a performance regression involving ``Kokkos::subview`` inside of kernels, running on Serial. There are 2 dimensions to this:
- the strange part: it seems to be creeping up over multiple versions, instead of jumping up in one specific change
- subviewing managed vs. unmanaged views used to take the same amount of time, but it started to diverge around 3.6 release

[2022-10-19 19:21] brian-kelley commented on #5581
@csiefer2

[2022-10-19 21:47] PhilMiller opened #5584 "`high_resolution_clock` is discouraged, use `steady_clock` instead"
Separate from this PR, `high_resolution_clock` is not exactly deprecated, but its use is discouraged by knowledgeable folks: https://en.cppreference.com/w/cpp/chrono/high_resolution_clock

For this use case, using `steady_clock` directly is currently preferred

High quality software chronometry is unduly hard

_Originally posted in https://github.com/kokkos/kokkos/pull/5577#discussion_r999945688_

[2022-10-20 21:11] ldh4 opened #5587 "Warnings in cuda builds: Kokkos_View.hpp(1750): warning: calling a __host__ function from a __host__ __device__ function is not allowed"
#5491 caused
[code]

_Originally posted by @dalg24 in https://github.com/kokkos/kokkos/pull/5491#discussion_r1001113082_

[2022-10-20 21:13] dalg24 commented on #5587
The issue is also present in the release candidate 3.7.01

[2022-10-20 22:25] PhilMiller opened #5589 "Optimized behavior of resize/realloc of views with aliasing mirrors is surprising"
**Describe the bug**

From Arnaud Durocher on Slack:

[code]

In discussion with @dalg24 we identified that the optimization in `Kokkos::resize` and `Kokkos::realloc` to return the input view if the size is unchanged is problematic in the face of aliased view instances. In a given code, these aliased views can be variably present across platforms depending on whether `create_mirror` is working in

[2022-10-20 22:29] PhilMiller commented on #5589
Some possible responses:
* Leave things as they are, and document the current behavior
* Deprecate/remove `Kokkos::realloc` and `Kokkos::resize`, and just have applications explicitly write the exact behavior they want with `View` constructors
* Report an error in `realloc/resize` if the input view is aliased
* Narrow the optimization to only apply if the input view isn't aliased
* Scrap the optim

[2022-10-20 22:30] PhilMiller commented on #5589
Seeing that these functions are called in a number of places throughout Trilinos, we may be able to get some testing of whether usage with aliased input is expected, and maybe see if other code is actually broken around this.

[2022-10-20 22:36] PhilMiller commented on #5589
This goes back to #904 and #916 by @mhoemmen and amended in #4207

[2022-10-20 22:47] masterleinad commented on #5589
I think we mostly cared about the optimization in case the view count was 1 and restricting it to that case sounds sensible to me.

[2022-10-21 00:44] matt-stack commented on #5474
Sure, will check out the standalone reproducer. Also just a note that Cuda 11.8 has come out in the last few days, if anyone is able to beat me to testing the standalone with Cuda 11.8 to see if the error reproduces there or not please let me know.

[2022-10-21 03:03] lightsighter commented on #2651
Just an update, I have a non-LANL Legion user who also would like to be able to use Kokkos for implementing GPU tasks, but definitely needs to run on multi-GPU machines and therefore is unable to use Kokkos today.

[2022-10-21 04:50] PhilMiller commented on #5502
@ndellingwood assuming the failures don't recur, please close this issue. It's not present in the 3.7 release, so we don't need to hold it open until 4.0 ships

[2022-10-21 07:39] maartenarnst commented on #5474
hi @matt-stack.  Thanks for looking into this.

Higher up in the thread, @ldh4 and I found that the error raised in the original comment and the error produced by the standalone reproducer may be two different problems.

Concerning the error produced by the standalone reproducer, we did test the standalone reproducer with Cuda 11.8 and the error doesn't reproduce there.  So, it seems the error pro

[2022-10-21 15:52] #5446 closed

[2022-10-21 18:42] ndellingwood opened #5593 "Compilation error with OpenMPTarget backend and KokkosKernels"
**Describe the bug**
Attempting to build kokkos-kernels with the OpenMPTarget backend fails with compilation error:
[code]

Here is a more detailed output with compile line
[code]

**Please also include the following items to support reproducing the bug**
**Reproducer**:
kokkos@bbc2f02cdf3b550867e04572737d1cedd4f8bca5
kokkos/kokkos-kernels@9acf3000dd8e0e4fd656c3b193578babb8b17337
[code]

[2022-10-21 19:08] rgayatri23 commented on #5593
Can you try this with clang-15? Looks like you are using clang-13 which is a bit older compiler.

[2022-10-21 20:55] cwpearson opened #5594 "Kokkos::Cuda can't construct `Unmanaged` `RandomAccess` subview of `View<const T *, ...>`"
**Describe the bug**

I expected to be able to create an unmanaged subview of a `const T*`, i.e. a view to `const T`s, since this unmanaged subview would also be a view to `const T`s. The use case is converting a CRS-matrix row-pointer array to point to the ends of each row instead of the beginning.

However, under NVCC I get the following error:

[code]

yields

[code]

Replacing the `using`s wit

[2022-10-21 20:56] cwpearson commented on #5594
https://github.com/kokkos/kokkos/issues/385 is probably related

[2022-10-21 20:59] cwpearson commented on #5594
Oops @dalg24 I was experimenting with my powers of self-assignment, can you re-assign me to this issue?

[2022-10-21 21:00] JBludau commented on #5594
apparently any kokkod-dev member can assign you ;)

[2022-10-21 21:22] ldh4 commented on #5470
@ndellingwood This should be resolved now that #5493 is merged. Do you mind checking this again?

[2022-10-21 21:28] ldh4 commented on #5587
Fixed by #5590.

[2022-10-21 21:28] #5587 closed

[2022-10-21 22:56] stanmoore1 opened #5596 "Crash in Kokkos::Initialize from #4682"
After updating to 3.7, we are seeing a crash in `Kokkos::Initialize` in LAMMPS with a `DEBUG` build and shared libs. I bisected the issue to https://github.com/kokkos/kokkos/pull/4682, which matches the error messages. If we use a `RELEASE` build or don't enable shared libs, then the code runs fine.

[code]

[2022-10-21 22:56] stanmoore1 commented on #5596
@bathmatt

[2022-10-21 22:59] ndellingwood commented on #5593
@rgayatri23 thanks for the suggestion, I tried with this version of clang-15 available on our system but still encountered the same build error with a clean build
[code]

[2022-10-23 10:35] dutkalex opened #5597 "Kokkos and C++ standards"
Hi! I was wondering what is Kokkos' policy regarding C++ standards. Basically, I would like to be able to use some C++20 features in non-Kokkos parts of my code (which is currently in C++17), but I don't know if I can pull this off since NVCC doesn't support it yet. Is it possible to compile host code in C++20 mode while device code remains in C++17 mode to stay portable accross architectures? I c

[2022-10-23 14:38] PhilMiller commented on #5597
Kokkos as such wouldn't have reason to object, but I don't think you can expect this to work in general. Besides lagging compiler support that you mentioned, mixing different language version settings can lead to ABI differences that will break the code:
https://github.com/abseil/abseil-cpp/blob/master/FAQ.md#what-is-abi-and-why-dont-you-recommend-using-a-pre-compiled-version-of-abseil

Host and d

[2022-10-24 17:23] ajpowelsnl commented on #5584
Shoud `high_resolution_clock` officially be deprecated in Kokkos-4.0?

[2022-10-24 17:35] dalg24 commented on #5584
No, [`std:: high_resolution_clock`](https://en.cppreference.com/w/cpp/chrono/high_resolution_clock) belongs to the standard library.  Phil is saying we suggesting we avoid it in Kokkos.  See the **Notes** section if you follow the link to the documentation.

[2022-10-24 18:59] dalg24 commented on #5581
@brian-kelley I can see you are on the host and that it likely does not change your timings but you might want to add fences before you stop your timer.

[2022-10-24 19:01] brian-kelley commented on #5581
@dalg24 I just added them. I was only running on Serial before (because the Trilinos regression appeared on a serial build), so those should still be valid. I didn't try this on other backends.

[2022-10-24 19:09] brian-kelley commented on #5581
Out of curiousity, here are the numbers for SKX on OpenMP, 8 threads. There is a much smaller change over time compared to Serial.
[code]

[2022-10-24 22:18] ajpowelsnl commented on #2582
Hi @PhilMiller, @ndellingwood and @dalg24 -- I see the same seg faulting behavior (w/ `clang-16`) in #5315 (details updated today).  Would you like for me to try the build and test run with another compiler (besides `clang-16`)?

[2022-10-25 20:30] brian-kelley commented on #5581
On BDW/Intel compiler I saw it improve from:
[code]
to:
[code]

[2022-10-25 21:08] ajpowelsnl commented on #5257
Hi @nliber - is there still work in progress on the CTAD Deduction Guide effort, or has all the relevant work been merged?  IN any case, many thanks for any update you can provide!

[2022-10-26 15:57] ndellingwood commented on #5470
@ldh4 I confirm I no longer see the warnings with Cuda builds, thanks for the fix!

[2022-10-26 16:18] dalg24 commented on #5470
This is develop only right?  In that case please close it.

[2022-10-26 17:19] cz4rs opened #5600 "`OpenMP` performance regression in `3.7.0`"
**Describe the bug**
Reported via Slack:

<details>
  <summary>Reproduction code</summary>

[code]
</details>

**Configuration**
[code]
- Ubuntu 20.04 LTS
- `g++` 10.2
- AMD Ryzen Threadripper 3970x, with 256GB (8x32GB at 3200 MT/s) in a quad-channel configuration
- `OMP_PROC_BIND=spread` `OMP_PLACES=cores`

**Any additional info**
Introduced with https://github.com/kokkos/kokkos/pull/4664. Defini

[2022-10-26 17:30] cz4rs commented on #5070
Updating the issue for FY23.

[2022-10-26 18:52] cz4rs commented on #5348
Closing after #5378 was merged. #5463 will expand the context by adding some git information.

[2022-10-26 18:52] #5348 closed

[2022-10-26 19:38] masterleinad commented on #5600
Would you mind checking if https://github.com/kokkos/kokkos/pull/5601 helps?

[2022-10-26 20:58] masterleinad commented on #5581
On another build I only see improvements switching back from `thread_local` to `__thread` completely.

[2022-10-26 20:59] brian-kelley commented on #5581
update - ifdef'ing out the runtime rank check in the View constructor made no difference.

[2022-10-26 21:01] masterleinad commented on #5581
[code]

[2022-10-26 21:42] PhilMiller commented on #5581
WTH? What compiler doesn't treat `__thread` and `thread_local` equivalently? Is there some obvious difference in the output of `nm` or a disassembly?

[2022-10-26 22:58] brian-kelley commented on #5581
Sure enough, this revision does entirely fix the original regression in Tpetra.

[2022-10-26 23:01] PhilMiller commented on #5581
A listing of relocations from `readelf` might also be informative - possibly it's using a different type, with different performance characteristics

[2022-10-26 23:09] eddy16112 opened #5603 "Legion+Kokkos Interop fails on HIP backend"
**Describe the bug**
In the Legion+Kokkos Interop, we explicit uses the `Kokkos::CUDA/HIP/OpenMP::impl_finalize` to finalize each execution space in each thread, and then call `Kokkos::finalize` from the main thread to finalize kokkos. However, this mechanism breaks on HIP backend. It is because `Kokkos::finalize` also calls `Kokkos::HIP::impl_finalize` even though the HIP execution space has been

[2022-10-27 12:02] masterleinad commented on #5603
Have a look at https://github.com/kokkos/kokkos/blob/develop/core/unit_test/TestLegionInitialization.cpp for the intended pattern to be used now.

[2022-10-27 12:04] masterleinad commented on #5603
Basically, use `Kokkos::Impl::post_finalize()` instead of `Kokkos::finalize()` if you finalize individual backends.

[2022-10-27 14:18] eddy16112 commented on #5603
Thank you! Is `Kokkos::Impl::pre_finalize()` also needed?

[2022-10-27 14:23] dalg24 commented on #5603
Yes

[2022-10-27 18:07] eddy16112 commented on #5603
Looks like the pre/post_finalize is in the develop branch, I am wondering when it will be merged into the master branch?

[2022-10-27 18:19] dalg24 commented on #5603
When 4.0 is released.  Note that in the future we will get rid of the `master` branch.  If you want something stable, prefer tagged releases, otherwise go for `develop`.

[2022-10-27 22:05] masterleinad commented on #5581
For some reason, I also see 67b0ee8a527011f8663e0da05308aa140f234abd causing regressions here.

[2022-10-28 02:57] ldh4 commented on #5474
@ndellingwood I have a patch #5605 that fixes `Sacado_FadFadKokkosTests_Cuda` test, but I couldn't check if it also works for Stokhos test. I still can't seem to build `Tpetra` and `Muelu` on `weaver`. Do you mind checking if the patch fixes the error for the Stokhos test as well?

[2022-10-31 17:02] masterleinad commented on #5600
It looks like using `__thread` instead of `thread_local` (or `inline` globals) doesn't really help here.

[2022-10-31 17:48] ajpowelsnl commented on #5548
Please see the `kokkos-tools` issue:  https://github.com/kokkos/kokkos-tools/issues/147

[2022-10-31 17:48] #5548 closed

[2022-10-31 18:31] Rombur opened #5606 "Kokkos hangs in develop with ROCm 5.3 and managed memory"
I am opening an issue because this blocks the promotion. With ROCm 5.3, `hip_managed.view_allocation_error` segfaults on master. The same test segfaults on develop with `XNACK=0`. The `hip_managed` tests hangs on develop with `XNACK=1`. Everything works as expected with ROCm 5.2

[2022-10-31 19:46] #5603 closed

[2022-10-31 19:55] ajpowelsnl commented on #5593
Hi Rahul, what's the status of this issue?

[2022-10-31 23:22] rgayatri23 commented on #5593
Sorry I missed the comment from @ndellingwood . Let me try this on my end and I will get back to you.

[2022-11-01 08:58] JBludau commented on #5606
have we checked, if there is some updated requirement for the kernel and driver versions? Feels like stating the obvious

[2022-11-01 12:27] Rombur commented on #5606
I checked the release note there was nothing about it.

[2022-11-01 17:38] dalg24 opened #5609 "Implementability of logical spaces"
Logical spaces are our attempt to mock GPU to enable debugging from a host-only build.

As we rediscovered in #5544 (adding a `static_assert` to check that the view memory space is accessible from the execution space that does the initialization) we currently only have logical memory spaces.
Logical memory spaces are implemented as a strongly-typed wrapper around another space which changes access

[2022-11-01 17:45] dalg24 commented on #5609
This snippet of code
https://github.com/kokkos/kokkos/blob/3c842fb0a46df51dd6bcd012316a9171993e7a05/core/src/impl/Kokkos_ViewMapping.hpp#L4124-L4135
illustrates why I currently think it cannot work.  This is how we determine memory access violations in views.  In short, we cannot infer from the kernel in what context it is being called, that is we cannot distinguish a logical execution space from

[2022-11-01 19:02] ho37 commented on #4767
Request for cross-platform Bessel function support. On Cuda/HIP these are the `j0`, `j1`, `jn`, `y0`, `y1`, and `yn` functions. In C++17 they provide `std::cyl_bessel_j` for the first kind, though they don't directly provide the second kind Y. There might be some identity using J, I, and K to compute Y? I don't know what the equivalent is on SYCL.

[2022-11-01 20:43] masterleinad commented on #5609
I could see that the class would be more usable with something like
[code]

[2022-11-01 21:09] dalg24 commented on #5609
How does that help?  You still would not be able to access views

[2022-11-02 10:59] masterleinad commented on #5609
I was mostly looking into making #5544 work without modifying the test by making sure that the associated execution space can access the memory space. This doesn't solve the issue with testing view accessibility.

[2022-11-02 13:40] masterleinad commented on #5593
The lines
[code]
should read
[code]
it seems we are not enabling the unit tests that would hit this code path. Also, the function has the comment
[code]

[2022-11-02 14:40] cwsmith commented on #5513
Using develop@3c842fb, which includes #5555, the reproducer code runs correctly with the CUDA backend .  Thank you @dalg24.

[2022-11-02 16:27] ajpowelsnl commented on #5597
Hi @dutkalex - did our response address the question about host / device code and C++ Standards?

[2022-11-02 16:35] PhilMiller commented on #5513
@nmm0 mentioned in #5545 that the change addressing that in #5555 would only partially fix the issue. Is there more left to be done, even though the given reproducer code now passes? Is there some variation on it that will still fail?

[2022-11-02 16:42] PhilMiller commented on #5513
Please make sure that concern doesn't get forgotten. Open another issue describing it, I guess?

[2022-11-02 17:56] rgayatri23 commented on #5593
This code path is for init-join reductions. We could not implement it in the OpenMPTarget backend because OpenMP does not yet support this functionality. There is a possible hack for this that we can try to implement in the backend.

[2022-11-02 18:58] jwwtc commented on #1944
How can I find the correct architecture flag?
For example, is there a proper flag for Quadro RTX 4000?

Thank you.

[2022-11-02 19:02] PhilMiller commented on #5589
@crtrott is drafting documentation that will serve as a base for discussion.

[2022-11-02 19:19] dalg24 commented on #1944
The NVIDIA specs for that model tell you it has the Turing architecture.  You can also search for its "compute capability" which would tel you "7.5"
Then if you look at the available arch options in Kokkos for NVIDIA GPUs you will find `Kokkos_ARCH_TURING75`

[2022-11-02 19:34] dutkalex commented on #5597
Hi! Yes absolutely @ajpowelsnl. Thanks for the answer, I hadn't thought of these ABI concerns and I guess we'll just have to wait for NVCC to support C++20. I think you can consider this issue closed.

[2022-11-02 19:34] #5597 closed

[2022-11-02 21:16] cz4rs commented on #5600
True, I have confirmation from Mike Gilbert as well (the original reporter) that it doesn't help.

[2022-11-03 15:16] Rombur commented on #5606
I found the PR that causes the tests to hang: https://github.com/kokkos/kokkos/pull/5448 It's when we decided to pass the functors by value instead of copying them. I need to think about this more but right now, I don't think we have many choices. We either revert the patch or we have both path in the code and we choose one of them depending on the ROCm version.

[2022-11-03 16:32] stanmoore1 commented on #5596
@masterleinad any update on this? Do we need to revert #4682?

[2022-11-03 16:37] masterleinad commented on #5596
I don't really understand the issue, yet, and reverting seems to be the best option at the moment but we are still debating how to deal with it.

[2022-11-04 15:11] PaulMullowney opened #5615 "Linker Errors with ROCM 5.2.0 and Kokkos device destructors"
Hi,
I have classes that have the following simplified structure:

namespace sierra {
namespace nalu {
class A
{
public:
KOKKOS_FUNCTION A();
KOKKOS_DEFAULTED_FUNCTION virtual ~A() = default;
...
}
class B : public A
{
public:
KOKKOS_FUNCTION B();
KOKKOS_DEFAULTED_FUNCTION virtual ~B() = default;
...
}
class C : public B
{
public:
KOKKOS_FUNCTION C();
KOKKOS_DEFAULTED_FUNCTION virtual ~C() = defaul

[2022-11-04 18:55] masterleinad commented on #5269
I can reproduce it in `APEX` and reverting https://github.com/kokkos/kokkos/pull/4682 doesn't seem to change anything.
I wouldn't be surprised if all the memory leaks reported come from the singleton that is finalized past the end of the program.

[2022-11-04 19:47] masterleinad commented on #5269
For me, all reported memory leaks vanish with the following patch.
[code]
I'm pretty confident that all of them are accounted for, i.e., `APEX` is only complaining because some allocations are taken care of after the program exit and that there are no leaks in fact. In particular, the number of memory leaks reported doesn't increase with more execution space instances created which rules out all o

[2022-11-04 19:49] ajpowelsnl commented on #5269
Cool.  I'll contact Kevin and see if he can try this patch.

[2022-11-04 19:56] khuck commented on #5269
@masterleinad @ajpowelsnl Thanks for the resolution! I'll try to give it a test some time in the next week, but I am admittedly very busy prepping talks for SC...

[2022-11-04 19:57] masterleinad commented on #5269
I don't see any memory leaks with
[code]
(without changing any source code in `Kokkos`).
@ajpowelsnl I am saying that there are no actual memory leaks but `APEX` can't attribute for memory freed after program exit.

[2022-11-06 20:16] JBludau commented on #5615
Hi Paul,
please have a look at https://kokkos.github.io/kokkos-core-wiki/usecases/VirtualFunctions.html
in short: things marked `virtual` do not easily work on the GPU

[2022-11-07 17:00] cwpearson commented on #5594
Working in https://github.com/cwpearson/kokkos/tree/fix/issue-5594

[2022-11-07 17:21] cwpearson commented on #5594
https://github.com/kokkos/kokkos/pull/5621

[2022-11-07 18:11] ajpowelsnl commented on #5615
Please see #5606.

[2022-11-07 18:13] PaulMullowney commented on #5615
A little more info. The linker error is triggered by having a data member of the following type in the derived class.
Kokkos::View<T, Kokkos::MemoryTraits<Kokkos::Aligned>>
I don't know yet if one see the linker error with only a single level class hierarchy.

[2022-11-09 18:07] ndellingwood commented on #5474
Hi @ldh4 , I'll give this a test later today or tomorrow, thanks for the updates

[2022-11-09 22:54] PhilMiller commented on #4027
Does this still occur?

[2022-11-09 23:37] #4027 closed

[2022-11-10 17:55] PhilMiller commented on #1811
Reproduces on 3.7.0, Cuda 11.2, GCCC 8.3.0

[code]

[2022-11-10 18:03] PhilMiller commented on #1811
Clearing the really old assignment to @ndellingwood for now

[2022-11-10 18:07] PhilMiller commented on #1865
Maybe I'm mistaken, but `F` is calling `std` math functions in device code. Doesn't that invalidate this? Should we try reproducing this with those rewritten?

[2022-11-10 18:16] PhilMiller commented on #1899
The versioned documentation link in question is  https://docs.nvidia.com/cuda/archive/9.2/cuda-c-programming-guide/index.html#const-variables

I find this a bit surprising, since there's also https://docs.nvidia.com/cuda/archive/9.2/cuda-c-programming-guide/index.html#constexpr-variables

Is the issue that `N` is being passed by reference to `View::operator()`?

[2022-11-10 18:19] PhilMiller commented on #1899
if the pass-by-reference is the issue, this may have actually gotten fixed pretty recently by #4800

[2022-11-10 18:33] PhilMiller commented on #3727
On 3.7.0, CUDA 11.2, debug build with bounds checking, a value of `numCols` as low as 550 results in throwing an exception:

Backtrace is as follows:

[code]

I feel like there was some more recent issue about this, too, but I can't immediately find it.

It would seem that `ParallelReduce` on CUDA is blindly trying to allocate scratch space sufficient for the array reduction, regardless of whether

[2022-11-10 18:42] PhilMiller commented on #3766
This is fixed on `develop`, sometime since 3.7 was released.

[2022-11-10 18:53] PhilMiller commented on #1874
Several of these things actually got implemented, and a few more are work-in-progress. We're now 4 years past the expiration date on this issue, though, so closing it.

[2022-11-10 18:53] #1874 closed

[2022-11-10 18:58] PhilMiller commented on #1931
`sortK` is easily enough implemented with the permutation vector, as noted. I'll be adding slightly more convenient interfaces for that in the near future.

The unique sorting is not yet implemented. This issue is still fresh.

[2022-11-10 19:08] PhilMiller commented on #2770
The requirement for `volatile` in reductions was dropped in 3.7.

[2022-11-10 19:08] #2770 closed

[2022-11-10 19:14] PhilMiller commented on #2577
#5412 removes the `volatile` qualified constructors and all the other operators as long as `KOKKOS_ENABLE_DEPRECATED_CODE_4` is not set.

Sadly, that means this isn't close-able until Kokkos 5 ships, but it has been addressed.

[2022-11-10 19:23] PhilMiller commented on #2057
#4800 addressed the pass-by-reference concern, and was released in 3.7.

Christian answered the templating concern.

[2022-11-10 19:23] #2057 closed

[2022-11-10 19:34] PhilMiller commented on #2132
It looks like the `WorkGraph` stuff may have addressed this, and was indeed present in the 3.3 release as the Milestone indicates, from PR #3369

[2022-11-10 19:34] #2132 closed

[2022-11-10 19:35] PhilMiller commented on #2132
Ugh, I'm trying to re-add Daisy to give attribution, but Github isn't letting me.

[2022-11-10 19:49] PhilMiller commented on #2055
`View` had move constructors and assignment operators as of 3.7 release. Closing

[2022-11-10 19:49] #2055 closed

[2022-11-10 19:56] PhilMiller commented on #2106
https://kokkos.github.io/kokkos-core-wiki/ProgrammingGuide/View.html#other-layouts somewhat addresses this - it says to specialize `ViewMapping`, and what to take as a starting point. Always room for improvement, but I think we can close this for now.

[2022-11-10 19:56] #2106 closed

[2022-11-10 20:01] PhilMiller commented on #2415
The hacky approach to this that Christian has recommended to me is to include the relevant single test header in `core/unit_test/default/TestDefaultDeviceDevelop.cpp`, and then `make KokkosCore_UnitTest_Develop`

[2022-11-10 20:03] PhilMiller commented on #2242
@ndellingwood That internal document is pretty badly out of date. Want to update it to current and then close this?

[2022-11-10 20:12] PhilMiller commented on #2178
#4369 is addressing much of the direct mapping to underlying OpenMP constructors. Besides that, as said, there's no much to be done here, so closing.

[2022-11-10 20:12] #2178 closed

[2022-11-10 20:16] masterleinad commented on #2415
I normally just use `examples/build_cmake_in_tree`.

[2022-11-10 20:18] PhilMiller commented on #2096
https://kokkos.github.io/kokkos-core-wiki/usecases/MPI-Halo-Exchange.html partially addresses this, except that it completely neglects the current recommendation that transferring view host memory is preferred over CUDA-aware MPI, and the relevant use of `create_mirror`, `DualView`, or `deep_copy`, and issues like `HostSpace` vs `HostPinnedSpace`.

That example is the only one I see in our documen

[2022-11-10 20:21] PhilMiller commented on #1866
@msimberg With #4241 merged, can we just close this?

[2022-11-10 20:25] PhilMiller commented on #2121
@dalg24 Should we revise this issue to just be 'Remove AMDAVX'?

[2022-11-10 20:31] masterleinad commented on #2121
Also, note that `USE_ISA_X86_64` was removed in 2461bcbfa8d94b77abdf57e3e8514aa2cdcb9b69.

[2022-11-10 20:48] PhilMiller commented on #3036
With #5066, `Kokkos_CXX_STANDARD` as a setting is deprecated as of 3.7, and I'll go ahead and make setting it an error now. So, mismatch will become impossible.

[2022-11-10 20:54] PhilMiller commented on #3036
Actually that got done in #5293.

[2022-11-10 21:00] PhilMiller commented on #1797
This never got done.

[2022-11-10 21:17] PhilMiller commented on #3156
As noted, #3688 implemented this.

[2022-11-10 21:17] #3156 closed

[2022-11-10 21:34] ndellingwood commented on #2242
@PhilMiller yes, very badly out of date. i have this on my list, will self-assign this issue

[2022-11-11 00:15] PhilMiller commented on #2276
@stanmoore1 Did Jan's PR address your needs?

[2022-11-11 00:16] PhilMiller commented on #3232
Related to #4793.

I think some recent-ish changes may have actually addressed this

[2022-11-11 00:34] PhilMiller commented on #2289
Renaming happened a while ago. With #5608, this is going away.

[2022-11-11 00:34] #2289 closed

[2022-11-11 00:50] PhilMiller commented on #2335
Since this recently came up in a Slack discussion as I was looking at old issues, here's the answer:
* There's a fence before the execution to ensure that the destination View is not in potential concurrent use by any execution space instance
* There's a fence after the execution because those are the defined semantics of a `deep_copy` call that isn't passed by execution space argument - the conte

[2022-11-11 00:50] #2335 closed

[2022-11-11 00:52] PhilMiller commented on #2343
@crtrott The CMake build is now treated as authoritative. The commits referencing this are long-since merged, in 3.0. Could you confirm that this was addressed and close it?

[2022-11-11 00:54] PhilMiller commented on #2352
This question seems to have been answered.

[2022-11-11 00:54] #2352 closed

[2022-11-11 00:57] PhilMiller commented on #3513
Duplicated in #3726. There's a bit more analysis done there, so I'm closing this one.

[2022-11-11 00:57] #3513 closed

[2022-11-11 01:13] PhilMiller commented on #2438
* Comparisons are allowing implicit conversions, as noted.
* Binary operators between `Kokkos::complex` and scalar types were and are available
* `volatile` overloads are now deprecated.

At this point, I don't feel like there's much to say is broken/deficient, though the allowed conversions is a point of divergence from the current practice that `Kokkos::foo` where there's a C++ `std::foo` should

[2022-11-11 01:13] #2438 closed

[2022-11-11 01:16] PhilMiller commented on #2454
Assigning this to Nic, as he just recently encountered/addressed similar warnings in vt. I believe the bottom line was that we may need to conditionally make `this` capture implicit or explicit depending on C++17 or C++20 compilation (in the `KOKKOS_CLASS_LAMBDA` case).

In the case of accidental member variable capture, maybe this issue can be closed?

[2022-11-11 01:19] PhilMiller commented on #2456
Question was answered.

[2022-11-11 01:19] #2456 closed

[2022-11-11 01:22] PhilMiller commented on #2478
@dalg24 @crtrott This hole was dug deeper in #5525

[2022-11-11 01:25] PhilMiller commented on #2497
I think we can close this as WontFix?

[2022-11-11 01:28] #2497 closed

[2022-11-11 01:28] PhilMiller commented on #2540
We now require 3.16 as a minimum

[2022-11-11 01:28] #2540 closed

[2022-11-11 10:32] msimberg commented on #1866
@PhilMiller yeah, I think this is a non-issue for the HPX backend now.

[2022-11-11 14:38] JBludau commented on #2335
But it still sounds like the `ExecSpace().fence()` inside the `ViewFill` is unnecessary in this case as there is already a global `fence()` ... But we would need to look into this if getting rid of the `ExecSpace().fence()` is worth it for this special case.

[2022-11-11 15:27] masterleinad commented on #2335
These fences don't exist anymore since https://github.com/kokkos/kokkos/pull/2911/files#diff-fa78644f38e5aaa37985a22ef350c56e075e8ca6eaa5fbb54897b19c5958c86c (Kokkos 3.1.0).

[2022-11-11 18:25] mhoemmen commented on #2096
@PhilMiller wrote:

please elaborate?

[2022-11-11 18:26] arghdos commented on #5606
Interestingly, extracting one of the [hanging tests](https://github.com/kokkos/kokkos/blob/master/core/unit_test/TestViewSubview.hpp#L160) to a standalone test ... doesn't hang.
The hang itself is happening on _some_ lanes of e.g., a store to a managed view: https://github.com/kokkos/kokkos/blob/master/core/unit_test/TestViewSubview.hpp#L160

[2022-11-11 18:34] ndellingwood commented on #5474
@ldh4 I ran the build and tests last night, the failing Sacado and Stokhos tests are passing with your fix in #5605, thanks!

[2022-11-11 19:09] PhilMiller commented on #2096
https://kokkosteam.slack.com/archives/C5BGU5NDQ/p1663891781222259

In brief, Christian reports that packing into `HostPinnedSpace` buffers generally gets better performance

[2022-11-11 19:13] PhilMiller commented on #2096
Also, I think I had a typo in the quoted text, 'view' should be 'via'

[2022-11-11 19:22] PhilMiller commented on #2096
Revisiting that conversation makes me think that perhaps something in Trilinos should actually provide suitable type aliases for memory spaces that should be used for packing and communicating, rather than Kokkos doing so.

Kokkos documentation and examples should spell out the how and why of this, though.

[2022-11-11 19:25] arghdos commented on #5606
The segfault w/ HSA_XNACK=0 was comparatively easy to track down, have that reproduced internally.

[2022-11-11 19:39] dalg24 commented on #1866
Actually this is still an issue and #5625 is bluntly proposing to inject backend specific code in `RangePolicy::set_auto_chunk_size`

[2022-11-14 17:04] arghdos commented on #5606
Was fixed with https://github.com/ROCm-Developer-Tools/hipamd/commit/df82f201f26e297ae4c0f9e263ab85173a2690dd

[2022-11-15 14:06] dalg24 opened #5631 "Need to revisit detection of number of processors on Windows"
It would seem that we're not actually doing anything for the Windows case right now.
https://github.com/kokkos/kokkos/blob/c4df87cd35b162620c8e0f294dffa25980f35fa7/core/src/impl/Kokkos_CPUDiscovery.cpp#L51-L53
https://github.com/kokkos/kokkos/blob/c4df87cd35b162620c8e0f294dffa25980f35fa7/core/src/impl/Kokkos_CPUDiscovery.cpp#L82-L84

https://stackoverflow.com/questions/22767620/mingw-missing-sysco

[2022-11-16 10:53] JBludau commented on #2096
@PhilMiller I had a discussion with @crtrott after the discussion on slack. And the idea was to add a quick example with `MPI` and the `SharedHostPinned` as alias for `HostPinned`. The starting point would be the code that produced the plots Christian showed in the slack discussion.
I just did not find the time yet to take care of drafting something

[2022-11-16 22:27] arghdos commented on #5606
I've extracted the `hip_managed.view_subview_auto_1d_left` test out of GTEST and into a standalone code (giving reasonable facsimiles of of `ASSERT_EQ` and `TEST` and friends), and ... it _still_ doesn't hang.

It is starting to seem like GTEST is required... somehow.  No idea how, yet but working on reducing the test case as much as possible.

[2022-11-17 17:56] ndellingwood opened #5632 "CudaInterOp unit tests fail when run on device id != 0"
**Describe the bug**
In a cuda/11.0+gcc/9.2.0 build, the `KokkosCore_UnitTest_CudaInterOpInit` and `KokkosCore_UnitTest_CudaInterOpStreams` unit tests failed when setting `KOKKOS_DEVICE_ID=1` on a system with two V100 GPUs

**nvidia-smi output**:
[code]

**Test failures**:
[code]

**Please also include the following items to support reproducing the bug**
**Reproducer**:
SHA e78d6a53a21da68a61cf1fd

[2022-11-17 18:17] masterleinad commented on #5632
I would expect
[code]
to fix the problem. Can you confirm?

[2022-11-17 18:18] masterleinad commented on #5632
Basically, we need to set the device we want to operate on first and we do that in `Kokkos::initialize`.

[2022-11-17 18:36] ndellingwood commented on #5632
@masterleinad yes, that resolved the failures, thanks! Are you able to put in a PR, or would you like me to and credit you as the author?

[2022-11-17 19:08] ndellingwood commented on #5632
PR #5633 up with the suggested fix

[2022-11-17 21:45] jstrzebonski opened #5635 "Team parallel_scan with return_value"
For the purpose of https://github.com/kokkos/kokkos/pull/5150 we miss `parallel_scan` overload that takes parameters:
`const &TeamThreadRange loop_bounds, const FunctorType& lambda, ReturnType& return_value`.

Would that be possible to implement?

[2022-11-21 20:51] crtrott commented on #5600
Can we do a compiler/arch sweep to see where this is a problem? I.e. test x86 Intel, AMD and some ARM with GCC, Intel and Clang, NVHPC?

[2022-11-21 20:56] crtrott commented on #5581
Do we have an overview with which compilers the change from `thead_local` to `__thread` fixes the issue?

[2022-11-21 20:57] crtrott commented on #5581
We may wanna introduce a macro KOKKOS_IMPL_THREAD_LOCAL and add a big FIXME with explanation for which compilers this matters, and that we need to continue check whether newer compilers need this or not. We also may wanna file bug reports.

[2022-11-22 01:31] eddy16112 opened #5636 "-fopenmp is not in INTERFACE_COMPILE_OPTIONS of the KokkosTargets.cmake when -DKokkos_ENABLE_OPENMP=ON"
**Describe the bug**
In the latest develop branch, the `-fopenmp` is not in the `INTERFACE_COMPILE_OPTIONS` of the `KokkosTargets.cmake` even if enable the `Kokkos_ENABLE_OPENMP`. it was there in the master branch.

**Please also include the following items to support reproducing the bug**
1. compilers: gcc-9.4
2. Kokkos release or commit used: latest develop branch
3. platform and backend: ubuntu

[2022-11-22 09:38] fnrizzi commented on #5635
where is this missing? at the public API level or the impl level?

[2022-11-22 09:40] XzzX commented on #4767
Are you planning to add the reciprocal functions available in Cuda? Should be easy to provide a fallback if a native version is not available.

[2022-11-22 09:48] jstrzebonski commented on #5635
No, sorry, that's just an example. It's missing for every Team.

[2022-11-22 10:34] jstrzebonski commented on #5635
Here are examples for CUDA, HIP, SYCL, Threads and HostThread:

https://github.com/kokkos/kokkos/blob/develop/core/src/Cuda/Kokkos_Cuda_Team.hpp#L720
https://github.com/kokkos/kokkos/blob/develop/core/src/HIP/Kokkos_HIP_Team.hpp#L576
https://github.com/kokkos/kokkos/blob/develop/core/src/SYCL/Kokkos_SYCL_Team.hpp#L602
https://github.com/kokkos/kokkos/blob/develop/core/src/Threads/Kokkos_ThreadsTea

[2022-11-22 13:38] dalg24 opened #5637 "Request for cross-platform Bessel function support."
Request for cross-platform Bessel function support.

Edit: Looks like the 0th and 1st order functions for the various kinds are implemented in `Kokkos_MathematicalSpecialFunctions.hpp`, but are undocumented. Implementations for safely evaluating the recurrence relation for Jn, Yn, etc. seem to be missing still.

_Originally posted by @ho37 in https://github.com/kokkos/kokkos/issues/4767#issuecomme

[2022-11-22 13:40] dalg24 commented on #4767
No ongoing plan but I don't see an issue with adding.  Would you be interested/able to contribute a patch for it?

[2022-11-22 15:20] XzzX commented on #4767
In principle yes. However, I have some questions how to implement it. I will open an issue.

[2022-11-22 15:29] XzzX opened #5638 "provide wrappers for native functions supported by Cuda"
Cuda provides more device optimized math functions (https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#mathematical-functions-appendix) than currently supported by Kokkos (#4767). In principle they can be provided if available and otherwise a fallback will be used.

[2022-11-22 15:32] XzzX commented on #5638
I can provide a MR, however, I have some questions regarding the implementation.  @dalg24

Currently, a namespace is set depending on the enabled backend and functions from this namespace are used? Does this work if I enable some device backend and afterwards execute on the host? Or do I end up with device functions on host?

Do you want it to be implemented similar to `abs` by providing overloads

[2022-11-22 19:55] stanmoore1 commented on #1931
I don't think there is a way to get permutation vector from Thrust, which is now used for sorting with CUDA?

[2022-11-22 21:57] ajpowelsnl commented on #4017
To build with address / thread sanitizer:

[code]
# Flag to use if address sanitizer:
# -fsanitize=address \

[2022-11-23 01:12] dalg24 commented on #5638
You probably will need to use the `KOKKOS_IF_ON_{HOST,DEVICE}` macros.

[2022-11-23 02:24] eddy16112 commented on #5636
Thanks, unfortunately, I am not able to use `target_link_libraries(<YOUR-TARGET> Kokkos::kokkos)` because Legion uses its own OpenMP runtime. However, I worked it around by explicitly adding the`OpenMP_CXX_FLAGS`.

Now, I am having another issue. Even if I set `Kokkos_ENABLE_LAUNCH_COMPILER` to OFF, when compiling Legion with Kokkos, the cmake mystery using `kokkos_launch_compiler` to file legion

[2022-11-23 04:03] vlkale commented on #5600
I had been experimenting this on Perlmutter with clang and nvhpc and will also be experimenting and Crusher with clang and amdclang++ next week.

@crtrott Do you (or others) have any specific instances of platforms (compiler/arch) to try?

I don't have access to any system with ARM right now, but I can try to obtain it if it helps for this Issue.

[2022-11-23 13:05] dalg24 commented on #5635
yes possible to implement and yes we should add it

[2022-11-23 14:55] fnrizzi commented on #5635
@mperrinel
just starting this , to complete:

Existing overloads for parallel_scan:

# CUDA
[code]

[2022-11-23 15:37] dalg24 commented on #5636
`Kokkos_FIND_COMPONENTS` comes from
[code]

[2022-11-23 19:45] eddy16112 commented on #5636
Could you tell me where is it? I tried to grep in the root directory, but it returns nothing.

[2022-11-23 21:03] dalg24 commented on #5636
This code would be on the user side.  This is not specific to Kokkos, it is how CMake's `find_package` works.  You can refer to the [doc](https://cmake.org/cmake/help/v3.25/command/find_package.html#config-mode-version-selection).

[2022-11-24 21:55] #5636 closed

[2022-11-27 16:06] PhilMiller commented on #4017
Transcribing my debugging process suggestions from a Slack conversation while I was away with only my phone:

Looking at this again, the TSan logs may be a good adjunct to the details already described here - just focusing on the variables used to compute the addresses of the `src` and `dest` arguments to the failing `join` call from the stack trace should point the right direction

[2022-11-28 10:27] romintomasetti opened #5641 "Parallel reducer, `MDRangePolicy` and HIP or CUDA: doesn't work with bool, char, int16_t"
**Describe the bug**

It seems that `Kokkos::LAnd<bool>` does not work with `Kokkos::Experimental::HIP` and `Kokkos::MDRangePolicy`.

**Please also include the following items to support reproducing the bug**

* Kokkos release 3.7
* Linux with ROCm 5.3 (vega906)
* code needed to reproduce the bug
[code]
7. please also attach the `KokkosCore_config.h` header file (generated during the build); [Kokk

[2022-11-28 16:31] crtrott commented on #5638
Core is not there fft support belongs so no - fft doesn't go heee.

[2022-11-28 21:52] ndellingwood opened #5643 "Trilinos nightly test failures in MueLu: MueLu_UnitTestsTpetra_MPI_1 and MueLu_UnitTestsTpetra_MPI_4 unit tests"
Nightly Trilinos builds with MueLu enabled fail in the `MueLu_UnitTestsTpetra_MPI_1` and `MueLu_UnitTestsTpetra_MPI_4` tests with cuda/11.2 and gcc/8.3.0 on Power9+Volta70 arch in Cuda and OpenMP builds.

`MueLu_UnitTestsTpetra_MPI_1` output failure:
[code]

The failing line in ifpack2 https://github.com/trilinos/Trilinos/blob/c7521148774a413445e5e31b02976742fe6d58ea/packages/ifpack2/src/Ifpack2_R

[2022-11-28 21:55] masterleinad commented on #5643
What does the backtrace look like?

[2022-11-28 21:57] ndellingwood commented on #5643
I ran it through gdb but the test failure didn't kill the run for a backtrace, will have to go through more manual debugging

[2022-11-29 09:51] XzzX commented on #5638
The unit tests check against a reference function in `std` namespace. What do you want to do if the function is not available in `std` namespace? Inject a dummy function into `std` namespace? Since the unit tests are defined in a header file, I have some headaches with this.

[2022-11-29 14:39] dalg24 commented on #5638
No you will need to have a different logic for these functions
[code]

[2022-11-29 15:29] dalg24 commented on #5638
Do not define any function in the `std::` namespace.  Yes we need custom logic for these new functions.

[2022-11-29 16:15] dalg24 commented on #1866
#5625 was merged as a temporary solution
https://github.com/kokkos/kokkos/blob/e4227c22c732f70ff8febaa733f8140f6e26bc4b/core/src/Kokkos_ExecPolicy.hpp#L216-L225
but we still need to come up with something more sustainable

[2022-11-29 19:09] ndellingwood commented on #5474
@ajpowelsnl this should no longer be a blocker after the merge, thanks!

[2022-11-29 20:39] brian-kelley commented on #5581
@masterleinad Do you think your change can make it into the 4.0 release?
@crtrott I could help figure out how this affects performance on different compilers if needed. I only tested so far on Intel 19 where it made a major improvement. In the table I put in the issue, it eliminated the slowdown of managed views since version 3.5.

[2022-11-29 22:51] dalg24 commented on #5631
Is there a good reason not to just use `std::thread::hardware_concurrency()`?

[2022-11-30 00:18] PhilMiller commented on #5631
It if works, that sounds like it would be great. Ideally, it could be used to replace `processors_per_node` entirely

[2022-11-30 01:54] ndellingwood commented on #5432
This is still an issue in nightly builds, unless warning suppression flags are used

[2022-11-30 03:40] dalg24 commented on #5432
Please confirm what build and what warning.

[2022-11-30 14:20] hamidrezanorouzi opened #5646 "Initialize and finalized functions"
I know that we are required to encompass every resources that Kokkos allocates and manages should be encompassed between the scope guard, perferably in the main function of the application. Something like this
Kokkos::initialize( argc, argv );
{
...
}
Kokkos::finalize();
Most probably the scope guard guaranties that all the objects (resources) that are instantiated within it, will get destroyed af

[2022-11-30 14:29] dalg24 commented on #5646
This is fine in principle.  What issue did you see?

[2022-11-30 15:12] masterleinad commented on #5646
Something to be aware of is that you can't initialize `Kokkos` after it has been finalized. Thus, you can't have any other part of the application use `Kokkos` (or you need to account for the case that `Kokkos` has already been initialized by someone else).

[2022-11-30 16:34] PhilMiller opened #5647 "Lift constraint that MDRangePolicy has rank>1"
`MDRangePolicy` has a `static_assert(rank > 1, "Use RangePolicy for rank 1")`, which hinders genericity. Christian and I agreed that constraint should be lifted

[2022-11-30 17:23] simonpintarelli opened #5648 "How to select openmp provider for kokkos with rocm enabled?"
I'd like to compile kokkos with gnu openmp and rocm enabled. Afaik compiling kokkos with rocm support requires `CMAKE_CXX_COMPILER=hipcc cmake ...`.  The problem is that `find_package(OpenMP)` in cmake will always select llvm openmp, I've tried passing `--gcc-toolchain` flags to hipcc and  `-fopenmp=libgomp` to cmake/hipcc, but cmake kept selecting llvm openmp.

One of our libraries is using kokko

[2022-11-30 17:25] ajpowelsnl commented on #5477
Hi @ibaned -- are you receiving the invitations to our Documentation Sessions?

[2022-11-30 17:27] ajpowelsnl commented on #2330
Hi @ibaned  and @bartlettroscoe -- Has this issue been resolved?  If so, may I close it?  If not, would you please detail what else needs to be done?

[2022-11-30 17:27] #2330 closed

[2022-11-30 17:29] ajpowelsnl commented on #2173
Hi @mhoemmen and @ibaned -- has this issue been resolved?   If so, please feel free to close with a comment.  If not, would you please summarize what else needs to be done?

[2022-11-30 17:32] ibaned commented on #5477
no I haven't gotten one, if you could please resend it that would be great

[2022-11-30 17:33] ibaned commented on #2330
I think the Trilinos team now runs one test at a time for CUDA builds which avoids this issue

[2022-11-30 17:35] ndellingwood commented on #5432
@dalg24 the intel/19 builds with -Werror, same warning as in OP e.g.
[code]

[2022-11-30 17:38] bartlettroscoe commented on #2330
Correct, see https://github.com/trilinos/Trilinos/pull/6840.

Therefore, we would not be seeing this in the regular automated builds of Trilinos (and the ATDM Trilinos builds).  But regular users may be seeing this when they are not setting up to run on a GPU system.

[2022-11-30 17:40] ibaned commented on #2173
I think this can be closed for now. "contract" macros were added to Kokkos at least.

[2022-11-30 17:40] #2173 closed

[2022-11-30 17:41] masterleinad commented on #5432
Ah, but that's different, right? We should just mark `property` as `maybe_unused`.

[2022-11-30 18:04] masterleinad commented on #5648
You might want to try setting configuration variables similar to
[code]
This has helped a user on slack.

[2022-11-30 18:05] ndellingwood commented on #5432
Right, I made a mistake updating this issue (thought it was tracking the -Werror that weren't resolved via push and pop macros to suppress the warning)

[2022-11-30 18:25] Rombur commented on #5648
You don't need to set the compiler to `hipcc`. You can use `amdclang` directly but it will also use llvm openmp because HIP compilers are llvm based.

[2022-11-30 18:45] cz4rs commented on #5464
Current status:
- gather benchmark results and push them to a dedicated repository:
  - implemented on a [performance-results-visualization](https://github.com/cz4rs/kokkos/tree/performance-results-visualization) branch, see the changes [here](https://github.com/cz4rs/kokkos/pull/4/files)
  - using `dmnemec/copy_file_to_another_repo_action`
  - pushes the jsons to [kokkos-benchmark-results](https:

[2022-11-30 19:15] PhilMiller commented on #5643
Is this potentially related to https://github.com/trilinos/Trilinos/issues/11280 ?

[2022-11-30 19:37] masterleinad commented on #5596
Reproducer using `LAMMPS`:
[code]

[2022-11-30 19:54] nmm0 commented on #5581
@PhilMiller Could this be why?: https://stackoverflow.com/questions/13106049/what-is-the-performance-penalty-of-c11-thread-local-variables-in-gcc-4-8 It looks like it can in some situations be translated into a function call.

[2022-11-30 20:13] PhilMiller commented on #5439
#5382 was also addressed in 3.7.00 in #5384, but was not listed in the changelog for that release. Should we modify that changelog to note it? Just stick it in the 3.7.01 changelog?

@ajpowelsnl I presume it will make it into the wiki's deprecation page regardless, since it's tagged with `KOKKOS_DEPRECATED_CODE_3` in the source

[2022-11-30 21:11] simonpintarelli commented on #5648
@masterleinad , @Rombur  Thank you. It worked for the `develop` branch (`master` and `v3.7.00` are not using `find_package(OpenMP)`  apparently):

[code]

For a simple cmake project which just uses `find_package(OpenMP)`, adding  `-DOpenMP_CXX_FLAGS="-Xpreprocessor -fopenmp"` was enough.

[2022-11-30 21:53] ndellingwood opened #5651 "Disabling macro KOKKOS_IMPL_WORKAROUND_ICE_IN_TRILINOS_WITH_OLD_INTEL_COMPILERS triggers internal compiler errors with intel compilers"
**Describe the bug**
Testing Kokkos develop branch with intel compilers after disabling the macro `KOKKOS_IMPL_WORKAROUND_ICE_IN_TRILINOS_WITH_OLD_INTEL_COMPILERS` (to workaround ICE in Trilinos packages with intel compilers) results in internal compiler errors when compiling Kokkos unit tests (in this case `TestSerial_LocalDeepCopy.cpp`).

This occurs when specifying non-SNB architectures (reprod

[2022-11-30 21:57] ndellingwood commented on #5651
The errors also occurred when I tested on a machine with SKX and Intel oneAPI 2021.5.0
[code]

[2022-11-30 22:01] ndellingwood commented on #5651
Cross-referencing some past PRs and related issues

* PR introducing `KOKKOS_IMPL_WORKAROUND_ICE_IN_TRILINOS_WITH_OLD_INTEL_COMPILERS` for Serial backend: https://github.com/kokkos/kokkos/pull/4407
* Issue tracking discussion of workaround with the OpenMP backend: https://github.com/kokkos/kokkos/issues/5290
* PR with workaround to the above: https://github.com/kokkos/kokkos/pull/5305
* Trilinos r

[2022-11-30 22:08] PhilMiller commented on #5581
That seems pretty plausible.

Here's an alternative patch I'm testing, to just make the variable entirely private to the one .cpp file:

[code]

[2022-11-30 22:16] PhilMiller opened #5652 "Host/device compatible implementation of std::variant and std::optional"
The utility classes `std::variant` and `std::optional` were added in C++17. As with other standard library facilities, they won't be defined to have suitable annotations on their members to be usable in device code. So, we should provide reimplementations that are.

[2022-11-30 22:16] PhilMiller commented on #5652
Inspired by the comment here: https://github.com/lanl/singularity-eos/issues/185

[2022-11-30 22:18] mhoemmen commented on #5652
This would be a good opportunity to add a libcu++ feature request for `cuda::std::optional` and `cuda::std::variant`.  (We already have `cuda::std::tuple`!)

[2022-11-30 22:26] mhoemmen commented on #2173
@ajpowelsnl Thanks for asking!  I'm happy to defer to @ibaned on this one -- the original issue was a Trilinos issue, and I haven't contributed to Trilinos or used it since early 2020.

[2022-11-30 22:33] mhoemmen commented on #5631
Works pretty well for me with MSVC: https://godbolt.org/z/sEPa5GaTK

I haven't followed the latest MSVC, but I know they were doing a lot of work on their OpenMP implementation.  That might change how you would want to implement processor discovery.

[2022-11-30 22:44] masterleinad commented on #5651
@ndellingwood Can you clarify the motivation for trying to remove the macro for compilers that we thought needed it? From the information in the pull request title, we would expect an ICE, right?
Or is this just to keep track of trilinos/Trilinos#10806?

[2022-11-30 23:00] PhilMiller commented on #5581
Ok, so on kokkos-dev-2 with my patch, and built like so:

I observe a 50% slowdown for managed views relative to `develop`, and parity for unmanaged views.

`develop`:

Patched:

So, let's not do *that*

[2022-11-30 23:09] PhilMiller commented on #5581
For reference on kokkos-dev-2, using `sems-gcc/10.1`, built as my previous comment, here are timings from recent releases:

3.7:

3.6.01:

3.6.00:

3.5.00:

[2022-11-30 23:14] masterleinad commented on #5581
@PhilMiller Does replacing `thread_local` with `__thread` or making `t_tracking_enabled` `static inline` fix the regression for you completely?

[2022-11-30 23:25] PhilMiller commented on #5581
Yeah.

3.7 with `__thread int t_tracking_enabled;`:

[2022-11-30 23:29] ndellingwood commented on #5651
@masterleinad correct, removing the macro we would expect to see ICE in Trilinos, but I had not encountered ICE with intel builds in Kokkos' unit tests directly (at least at the time of #4407)

At one point there was discussion and desire to remove the workaround (ideally part of 4.0), but if this is more of a "wish list" type item rather than a requirement or release blocker then this issue can e